force-app/main/default/flows/Account_Update_Primary_Sales_Rep_from_Owner_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>asn_Add_Legal_Contract_Share</name>
        <label>Add Legal Contract Share</label>
        <locationX>680</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>LegalSharesToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LegalContractShareRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Through_Legal_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Add_to_Create_List</name>
        <label>Add to Create List</label>
        <locationX>430</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderSharesToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateWorkOrderShareRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Through_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Legal_ID_Values</name>
        <label>Assign Legal ID Values</label>
        <locationX>839</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>LegalIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_Through_Legal_for_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_Through_Legal_for_IDs.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Through_Legal_for_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Values_to_new_Contract_Share</name>
        <label>Assign Values to new Contract Share</label>
        <locationX>517</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>LegalContractShareRecordHolder.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Through_Legal_Contracts.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalContractShareRecordHolder.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalContractShareRecordHolder.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Add_Legal_Contract_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Work_Order_IDs_to_variables</name>
        <label>Assign Work Order IDs to variables</label>
        <locationX>781</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_WorkOrdersForShareLookUp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_WorkOrdersForShareLookUp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_WorkOrdersForShareLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Work_Order_Share_Field_Values</name>
        <label>Assign Work Order Share Field Values</label>
        <locationX>595</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>CreateWorkOrderShareRecordHolder.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateWorkOrderShareRecordHolder.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Through_Work_Orders.Parent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateWorkOrderShareRecordHolder.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Add_to_Create_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account - Update Primary Sales Rep from Owner ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Primary Sales Rep from Owner ID</label>
    <loops>
        <name>lop_Through_Legal_Contracts</name>
        <label>Loop Through Legal Contracts</label>
        <locationX>568</locationX>
        <locationY>1342</locationY>
        <collectionReference>get_Legal_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Values_to_new_Contract_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dlt_old_legal_share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_Through_Legal_for_IDs</name>
        <label>Loop Through Legal for IDs</label>
        <locationX>512</locationX>
        <locationY>1070</locationY>
        <collectionReference>get_LegalContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Legal_ID_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Legal_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_Through_Work_Orders</name>
        <label>Loop Through Work Orders</label>
        <locationX>602</locationX>
        <locationY>712</locationY>
        <collectionReference>get_Work_Order_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>dlt_Work_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_WorkOrdersForShareLookUp</name>
        <label>LoopWorkOrdersForShareLookUp</label>
        <locationX>305</locationX>
        <locationY>510</locationY>
        <collectionReference>get_WorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Work_Order_IDs_to_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Work_Order_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crt_Records_2</name>
        <label>Create Records 2</label>
        <locationX>864</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>lop_Through_Legal_Contracts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Contract__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crt_WorkOrderShares</name>
        <label>CreateWorkOrderShares</label>
        <locationX>244</locationX>
        <locationY>898</locationY>
        <connector>
            <targetReference>get_LegalContracts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>lop_Through_Work_Orders.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>dlt_old_legal_share</name>
        <label>Delete old legal share</label>
        <locationX>735</locationX>
        <locationY>1374</locationY>
        <connector>
            <targetReference>crt_Records_2</targetReference>
        </connector>
        <inputReference>get_Legal_Shares</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>dlt_Work_Orders</name>
        <label>Delete Work Orders</label>
        <locationX>258</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>crt_WorkOrderShares</targetReference>
        </connector>
        <inputReference>get_Work_Order_Shares</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_Legal_Shares</name>
        <label>Get Legal Shares</label>
        <locationX>482</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_Through_Legal_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>LegalIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Legal_Contract__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_LegalContracts</name>
        <label>getLegalContracts</label>
        <locationX>359</locationX>
        <locationY>979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_Through_Legal_for_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Legal_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Work_Order_Shares</name>
        <label>Get Work Order Shares</label>
        <locationX>379</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_Through_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>WorkOrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WorkOrders</name>
        <label>getWorkOrders</label>
        <locationX>480</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_WorkOrdersForShareLookUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upt_Update_PSR</name>
        <label>Update PSR</label>
        <locationX>564</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>get_WorkOrders</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Sales_Rep_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>438</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>upt_Update_PSR</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreateWorkOrderShareRecordHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <name>LegalContractShareRecordHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Contract__Share</objectType>
    </variables>
    <variables>
        <name>LegalIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalSharesToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Contract__Share</objectType>
    </variables>
    <variables>
        <name>WorkOrderDeletes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <name>WorkOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workordershares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <name>WorkOrderSharesToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
</Flow>
