force-app/main/default/flows/Account_Account_Diagnostic_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a custom notification for the Owner of the PSR record assigned to the Account that launched the Flow</description>
        <name>axn_Notifcation</name>
        <label>Create Notifcation</label>
        <locationX>1241</locationX>
        <locationY>214</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>txt_NotificationDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>txt_NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_PSR_OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_TaskId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigns the OwnerId for the PSR assigned to the Account record to the var_PSR_OwnerId variable</description>
        <name>asn_Recipient_ID_for_Notification</name>
        <label>Assign Recipient ID for Notification</label>
        <locationX>995</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>var_PSR_OwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Primary_Sales_Rep_Name__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Notification_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if reminders should be sent for Rep to create an Account Diagnostic record</description>
        <name>Send_Account_Diagnostic_Reminders</name>
        <label>Send Account Diagnostic Reminders</label>
        <locationX>547</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Reminder_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_TaskCreationCalculation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep_Name__r.deactivated_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep_Name__r.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Task_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automation for Accounts where the &apos;Account Diagnostic Automation&apos; field equals TRUE</description>
    <formulas>
        <description>TRUE if today is the 15th day of the month and if month equals JAN or JUL</description>
        <name>fx_TaskCreationCalculation</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) == 15
&amp;&amp; 
MONTH(TODAY()) == 1
||
MONTH(TODAY()) == 7</expression>
    </formulas>
    <formulas>
        <description>Returns a date 2 weeks from today to be used as the Due Date in the &apos;Create Account Diagnostic Task&apos; Action</description>
        <name>fx_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()  + 14</expression>
    </formulas>
    <formulas>
        <description>Sets the Reminder Date/Time 13 days and 6 hours from now to be used in the &apos;Create New Task&apos; element</description>
        <name>fx_TaskReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW( ) + 13.25</expression>
    </formulas>
    <interviewLabel>Account - Account Diagnostic Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Account Diagnostic Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_New_Task</name>
        <label>Create New Task</label>
        <locationX>874</locationX>
        <locationY>214</locationY>
        <assignRecordIdToReference>var_TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>asn_Recipient_ID_for_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fx_TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txt_TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Primary_Sales_Rep_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>fx_TaskReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>txt_TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Account Diagnostic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieves the ID for the &apos;Account Diagnostic Notification&apos; Custom Notification Type</description>
        <name>get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>1116</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>axn_Notifcation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Diagnostic_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Account_Diagnostic_Task record type</description>
        <name>get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>751</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Diagnostic Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>142</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Send_Account_Diagnostic_Reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Diagnostic_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-18</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Information to be included in the Description of the &apos;Create Notification&apos; element</description>
        <name>txt_NotificationDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You&apos;ve been assigned an Account Diagnostic Task for:
{!$Record.Name}. Click on this Notification to take you to the Task record.</text>
    </textTemplates>
    <textTemplates>
        <description>Information to be included in the Title of the &apos;Create Notification&apos; element</description>
        <name>txt_NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new Task</text>
    </textTemplates>
    <textTemplates>
        <description>Information to be included in the Description of the &apos;Create New Task&apos; element</description>
        <name>txt_TaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Account has been selected for the Account Diagnostic initiative. Please complete the following steps to create a new Account Diagnostic record. Your manager will review this with you at a later date to develop an action plan to improve category sales with this customer.

1) Go to the Customer Account record (the link in the &apos;Related To&apos; field on this Task)
2) Hover over &apos;Account Plans&apos; in the Related List Quick Links section near the top of the page
3) Click on the &apos;New&apos; button and select the &apos;Account Diagnostic&apos; record type
4) Fill out the &apos;Account Plan Name&apos; and complete all fields in the &apos;Account Diagnostic&apos; section
5) Be sure to mark the Status of this Task as &apos;Completed&apos;

You may refer to the Sales Playbooks here:  https://spbook.veritivcorp.com/dashboard</text>
    </textTemplates>
    <textTemplates>
        <description>Information to be included in the Subject of the &apos;Create Task&apos; element and the Description of the &apos;Create Notification&apos; element</description>
        <name>txt_TaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Create Account Diagnostic for {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <description>Stores the OwnerId of the PSR record related to the Account record that launched the Flow</description>
        <name>var_PSR_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Id of the created Task</description>
        <name>var_TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the OwnerId of the PSR record assigned to the Account record from which the Flow was launched</description>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Primary_Sales_Rep_Name__r.OwnerId</elementReference>
        </value>
    </variables>
</Flow>
