force-app/main/default/flows/Account_Cust_Onboarding_form_filled_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When form has been filled out by customer, send email to Ani users on account</description>
        <name>Send_email_to_ANI_users</name>
        <label>Send email to ANI users</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Account.Cust_Onboarding_Form_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Cust_Onboarding_Form_Completed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>When customer onboarding form filled out by customer, send email to the ANIs on the account</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account - Cust Onboarding form filled out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Cust Onboarding form filled out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create an activity on Account when customer onboarding FA form is returned from customer.</description>
        <name>Create_Activity</name>
        <label>Create Activity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_to_ANI_users</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record__Prior.Cust_Onboard_Form_Filled_Out__c} = false, {!$Record.Cust_Onboard_Form_Filled_Out__c} = True)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Customer has filled out the Customer Onboarding form</description>
        <name>var_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer returned their Customer Onboarding form today</stringValue>
        </value>
    </variables>
    <variables>
        <description>Customer Onboarding Form Complete</description>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Onboarding form returned</stringValue>
        </value>
    </variables>
</Flow>
