force-app/main/default/flows/Account_RT_Credit_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Prospect_Bill_To</name>
        <label>Email Prospect Bill To</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Account.Email_Prospect_Bill_To</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Bill_To_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_Prospect_Bill_To</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Prospect_Credit_Application</name>
        <label>Email Prospect Credit Application</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Account.Email_Prospect_Credit_Application</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Credit_App_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_Prospect_Credit_Application</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Prospect_Ship_To</name>
        <label>Email Prospect Ship To</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Account.Email_Prospect_Ship_To</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Ship_To_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_Prospect_Ship_To</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_To_Credit_Team</name>
        <label>Email To Credit Team</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Account.Email_To_Credit_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Credit_Team_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_To_Credit_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_To_NAM_Team</name>
        <label>Email To NAM Team</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Account.Email_To_NAM_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NAM_Team_Task_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_To_NAM_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Bill_To_Task_Values</name>
        <label>Update Bill To Task Values</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Veritiv Bill To</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Bill_To_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Credit_App_Task_Values</name>
        <label>Update Credit App Task Values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Veritiv Credit Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Credit_App_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Credit_Team_Task_Values</name>
        <label>Update Credit Team Task Values</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Veritiv to Credit Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Credit_Team_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NAM_Team_Task_Values</name>
        <label>Update NAM Team Task Values</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Veritiv to NAM Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_NAM_Team_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Ship_To_Task_Values</name>
        <label>Update Ship To Task Values</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Veritiv Ship To</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Ship_To_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_Credit_Action_for_Setup</name>
        <label>Credit Action for Setup</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_Credit_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Action_for_Setup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Prospect_Credit_Application</targetReference>
            </connector>
            <label>Credit App</label>
        </rules>
        <rules>
            <name>ocm_Bill_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Action_for_Setup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Prospect_Bill_To</targetReference>
            </connector>
            <label>Bill To</label>
        </rules>
        <rules>
            <name>ocm_Ship_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Action_for_Setup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Prospect_Ship_To</targetReference>
            </connector>
            <label>Ship To</label>
        </rules>
        <rules>
            <name>ocm_NAM_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Action_for_Setup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_NAM_Team</targetReference>
            </connector>
            <label>NAM Team</label>
        </rules>
        <rules>
            <name>ocm_Credit_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Action_for_Setup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Credit_Team</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Credit Team</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_Bill_To_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Bill To application was sent to &quot; &amp; {!$Record.Credit_Contact_Email__c}</expression>
    </formulas>
    <formulas>
        <name>frm_Credit_App_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Credit application was sent to &quot; &amp; {!$Record.Credit_Contact_Email__c}</expression>
    </formulas>
    <formulas>
        <name>frm_Credit_Team_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Credit Team, The following Prospect Account needs to be set up in VOS; however, the automated system was unable to determine the correct process. Please work with the sales rep to gather any information needed to process this setup. &quot; &amp; BR() &amp; BR() &amp; &quot;Prospect Name: &quot; &amp; {!$Record.Name} &amp; BR() &amp; &quot;Address: &quot; &amp; {!$Record.BillingStreet} &amp; &quot;, &quot; &amp; {!$Record.BillingCity} &amp; &quot;, &quot; &amp; {!$Record.BillingState} &amp; &quot; &quot; &amp; {!$Record.BillingPostalCode} &amp; BR() &amp; &quot;Duns Number: &quot; &amp; {!$Record.D_U_N_S__c} &amp; BR() &amp; &quot;Segment: &quot; &amp; TEXT({!$Record.Prospect_Segment__c}) &amp; BR() &amp; &quot;Sales Rep: &quot; &amp; {!$Record.OwnerId} &amp; BR() &amp; &quot;Reason for failure: &quot; &amp; {!$Record.Credit_Reason_Code__c}</expression>
    </formulas>
    <formulas>
        <name>frm_NAM_Team_Description</name>
        <dataType>String</dataType>
        <expression>&quot;National Account Team, The following Prospect Account needs to be set up in VOS, and is part of a national account. Please contact the sales rep if you have any questions or need more details. &quot; &amp; BR() &amp; BR() &amp; &quot;Prospect Name: &quot; &amp; {!$Record.Name} &amp; BR() &amp; &quot;Address: &quot; &amp; {!$Record.BillingStreet} &amp; &quot;, &quot; &amp; {!$Record.BillingCity} &amp; &quot;, &quot; &amp; {!$Record.BillingState} &amp; &quot; &quot; &amp; {!$Record.BillingPostalCode} &amp; BR() &amp; &quot;Duns Number: &quot; &amp; {!$Record.D_U_N_S__c} &amp; BR() &amp; &quot;Segment: &quot; &amp; TEXT({!$Record.Prospect_Segment__c}) &amp; BR() &amp; &quot;Sales Rep: &quot; &amp; {!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>frm_Ship_To_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Ship To application was sent to &quot; &amp; {!$Record.Credit_Contact_Email__c}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account [RT] - Credit Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account [RT] - Credit Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity</name>
        <label>Create Activity</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Credit_Action_for_Setup</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} == &apos;Prospect&apos; &amp;&amp; NOT(ISBLANK(TEXT({!$Record.Credit_Action_for_Setup__c}))) &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Credit_Submitted_Date__c}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Description of Task</description>
        <name>var_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Subject of Task</description>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
