force-app/main/default/flows/Account_Calculate_Last_2_Years_Win_Rate_Won_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Win_Rates</name>
        <label>Assign Win Rates</label>
        <locationX>176</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>var_AccountWinRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_AccountWinRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountPDNWinRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_AccountPDNWinRate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_PDN_s</name>
        <label>Update PDN #&apos;s</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_TotalPDNOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_PDN_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PDN_Won_s</name>
        <label>Update PDN Won #&apos;s</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_TotalPDNAmountWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalWonPDNOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalAmountWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opps.Amount_Won__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalWonOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_s</name>
        <label>Update Total #&apos;s</label>
        <locationX>836</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_TotalOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Won_s</name>
        <label>Update Total Won #&apos;s</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_TotalAmountWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalWonOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_PDN</name>
        <label>Is PDN?</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Total_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opps.Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDN_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PDN_Won</name>
        <label>Is PDN Won?</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ocm_PDNWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opps.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDN_Won_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Won</name>
        <label>Is Won?</label>
        <locationX>836</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opps.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Won_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Includes totals and just for Design (updated to only last 12 months and filtering out certain Lost reasons)</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_AccountPDNWinRate</name>
        <dataType>Number</dataType>
        <expression>IF({!var_TotalPDNOpportunities} != 0, ({!var_TotalWonPDNOpportunities} / {!var_TotalPDNOpportunities})*100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_AccountWinRate</name>
        <dataType>Number</dataType>
        <expression>IF({!var_TotalOpportunities} != 0, ({!var_TotalWonOpportunities} / {!var_TotalOpportunities})*100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TwoYearsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <interviewLabel>Account: Calculate Last 2 Years Win Rate &amp; Won Amount for Total &amp; PDN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Calculate Win Rate &amp; Won Amount</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Opportunities_Last_12_Months</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_PDN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Win_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities_Last_12_Months</name>
        <label>Get Opportunities Last 12 Months</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TwoYearsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oppty - Duplicate Record</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oppty - Not Real</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oppty - Expired (System)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities_Last_12_Months</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PDN Win Rate % Last 2 Years</description>
        <name>var_AccountPDNWinRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Account Win Rate % Last 2 Years</description>
        <name>var_AccountWinRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Amount Won $ Last 2 Years</description>
        <name>var_TotalAmountWon</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total Opportunities in the Last 2 Years</description>
        <name>var_TotalOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total PDN Amount Won Last 2 Years</description>
        <name>var_TotalPDNAmountWon</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total PDN Opportunities Last 2 Years</description>
        <name>var_TotalPDNOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Won Opportunities Last 2 Years</description>
        <name>var_TotalWonOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total Won PDN Opportunities Last 2 Years</description>
        <name>var_TotalWonPDNOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
