force-app/main/default/flows/Backlog_ItemV_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email alert</description>
        <name>apx_QA_Ready_Email_Alert</name>
        <label>QA Ready</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Backlog_Items__c.QA_Ready_Email_Backlog_ItemsV</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Backlog_Items__c.QA_Ready_Email_Backlog_ItemsV</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends email alert</description>
        <name>apx_QA_Verified_Email_Alert</name>
        <label>QA Verified</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Backlog_Items__c.QA_Verified_Email_Alert_Backlog_ItemsV_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Backlog_Items__c.QA_Verified_Email_Alert_Backlog_ItemsV_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Evaluates the new Status value</description>
        <name>dec_Status</name>
        <label>Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ocm_QA_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apx_QA_Ready_Email_Alert</targetReference>
            </connector>
            <label>QA Ready</label>
        </rules>
        <rules>
            <name>ocm_QA_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apx_QA_Verified_Email_Alert</targetReference>
            </connector>
            <label>QA Verified</label>
        </rules>
    </decisions>
    <description>Automation related to the Backlog ItemV object</description>
    <environments>Default</environments>
    <interviewLabel>Backlog ItemV - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Backlog ItemV - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Backlog_Items__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
