force-app/main/default/flows/Case_Credit_Collections_Owner_Assignment_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Determines if there is a related Account record with a user assigned to the &apos;Collector&apos; field. Checks if the user is active; if not will check the Team Lead, then the Manager.</description>
        <name>dec_CollectorAssignedToAccount</name>
        <label>Collector Assigned to Account</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>None Found / None Active</defaultConnectorLabel>
        <rules>
            <name>ocm_CollectorAssignedToAccount_Collector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Collector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Collector__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_OwnerCollector</targetReference>
            </connector>
            <label>Collector</label>
        </rules>
        <rules>
            <name>ocm_CollectorAssignedToAccount_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Manager_Collector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Manager_Collector__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_OwnerManager</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
    </decisions>
    <description>Assigns the Case Owner on record creation for Credit &amp; Collections</description>
    <environments>Default</environments>
    <interviewLabel>Case - Credit &amp; Collections Owner Assignment on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Credit &amp; Collections Owner Assignment on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the Case Owner with the Collector assigned to the related Account record</description>
        <name>udt_OwnerCollector</name>
        <label>Owner Collector</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Collector__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Case Owner with the Collector assigned to the related Account record</description>
        <name>udt_OwnerManager</name>
        <label>Owner Manager</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Manager_Collector__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_CollectorAssignedToAccount</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Credit_Collections&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
