force-app/main/default/flows/Case_TaxOps_Case_Creation_Auto_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Emails the sender applying the appropriate auto-reply email template</description>
        <name>apx_SendEmail</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply-sfdc@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Parent.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>var_EmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>asn_EmailTemplateCustomer_Id</name>
        <label>Email Template Customer Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_EmailTemplate_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apx_SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_EmailTemplateInternal_Id</name>
        <label>Email Template Internal Id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_EmailTemplate_Internal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apx_SendEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines the type of auto-response email that should be sent to the sender</description>
        <name>dec_AutoResponseType</name>
        <label>Auto-Response Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Response</defaultConnectorLabel>
        <rules>
            <name>ocm_AutoResponseType_SalesUseTaxEmailInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GRP_FL101.SalesandUseTax@veritivcorp.com, sfdctesting@veritivcorp.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@veritivcorp.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FromAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GRP_IL128.CreditAnalysisDept@veritivcorp.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_EmailTemplate_Internal</targetReference>
            </connector>
            <label>Internal to SalesUseTaxEmail</label>
        </rules>
        <rules>
            <name>ocm_AutoResponseType_SalesUseTaxEmailCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GRP_FL101.SalesandUseTax@veritivcorp.com, sfdctesting@veritivcorp.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FromAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GRP_IL128.CreditAnalysisDept@veritivcorp.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_EmailTemplate_Customer</targetReference>
            </connector>
            <label>Customer to SalesUseTaxEmail</label>
        </rules>
    </decisions>
    <description>Sends an auto-response email to the sender when an email is received via Email-to-Case and a new TaxOps Case is created. This applies only to emails being sent to the &apos;grp_fl101.salesandusetax@veritivcorp.com&apos; email address.</description>
    <environments>Default</environments>
    <interviewLabel>Case - TaxOps Case Creation Auto-Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - TaxOps Case Creation Auto-Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_EmailTemplate_Customer</name>
        <label>Email Template Customer</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_EmailTemplateCustomer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TaxOps_Customer_Case_Creation_Auto_Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_EmailTemplate_Internal</name>
        <label>Email Template Internal</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_EmailTemplateInternal_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TaxOps_Internal_Case_Creation_Auto_Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_AutoResponseType</targetReference>
        </connector>
        <filterFormula>AND(
     {!$Record.Incoming}=TRUE,
     {!$Record.Parent.RecordType.DeveloperName} = &apos;Tax Operations&apos;,
     {!$Record.CreatedDate}={!$Record.CreatedDate}
)</filterFormula>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the record Id of the EmailTemplate</description>
        <name>var_EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
