force-app/main/default/flows/Case_is_Escalated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Console Case; ToAddress</label>
        </rules>
    </decisions>
    <description>When a user escalates a case using the escalation action; fixed to not reference the record type</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
/*If ToAddress is for Packaging, route to packaging*/
OR(
CONTAINS([Case].ToAddressRouting__c , &quot;pkg&quot;),CONTAINS([Case].ToAddressRouting__c , &quot;packaging&quot;)),&quot;00G39000005UGVm&quot;, 

/*If ToAddress is for Print, route to Print*/
IF(
OR(
CONTAINS([Case].ToAddressRouting__c , &quot;print&quot;),CONTAINS([Case].ToAddressRouting__c , &quot;graphics&quot;)),&quot;00G39000005UGVn&quot;, 


/*If ToAddress is for Facilities, route to Facilities*/
IF(
CONTAINS([Case].ToAddressRouting__c , &quot;facilities&quot;), &quot;00G39000005UGVl&quot;,

IF(
/*If role is pkg, assign to pkg escalation*/
CONTAINS($UserRole.Name , &quot;Pkg&quot;),&quot;00G39000005UGVm&quot;, 

/*If role is fs, assign to fs escalation*/
IF(
CONTAINS($UserRole.Name , &quot;FS&quot;), &quot;00G39000005UGVl&quot;,

/*If role is print, assign to print escalation*/
IF(
CONTAINS($UserRole.Name , &quot;Print&quot;), &quot;00G39000005UGVn&quot;,

/*Else assign to &quot;Escalations Queue */
&quot;00G39000005UGVk&quot;))))))

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1464107933</name>
        <dataType>String</dataType>
        <expression>IF(
/*If ToAddress is for Packaging, route to packaging*/
OR(
CONTAINS({!myVariable_current.ToAddressRouting__c} , &quot;pkg&quot;),CONTAINS({!myVariable_current.ToAddressRouting__c} , &quot;packaging&quot;)),&quot;00G39000005UGVm&quot;, 

/*If ToAddress is for Print, route to Print*/
IF(
OR(
CONTAINS({!myVariable_current.ToAddressRouting__c} , &quot;print&quot;),CONTAINS({!myVariable_current.ToAddressRouting__c} , &quot;graphics&quot;)),&quot;00G39000005UGVn&quot;, 


/*If ToAddress is for Facilities, route to Facilities*/
IF(
CONTAINS({!myVariable_current.ToAddressRouting__c} , &quot;facilities&quot;), &quot;00G39000005UGVl&quot;,

IF(
/*If role is pkg, assign to pkg escalation*/
CONTAINS($UserRole.Name , &quot;Pkg&quot;),&quot;00G39000005UGVm&quot;, 

/*If role is fs, assign to fs escalation*/
IF(
CONTAINS($UserRole.Name , &quot;FS&quot;), &quot;00G39000005UGVl&quot;,

/*If role is print, assign to print escalation*/
IF(
CONTAINS($UserRole.Name , &quot;Print&quot;), &quot;00G39000005UGVn&quot;,

/*Else assign to &quot;Escalations Queue */
&quot;00G39000005UGVk&quot;))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Case].RecordTypeId =&apos;01239000000EFze&apos;,
ISCHANGED([Case].Escalate_Assign__c ),
[Case].Escalate_Assign__c &gt;0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.RecordTypeId} =&apos;01239000000EFze&apos;,
ISCHANGED({!myVariable_current.Escalate_Assign__c} ),
{!myVariable_current.Escalate_Assign__c} &gt;0)</expression>
    </formulas>
    <interviewLabel>Case_is_Escalated-6_InterviewLabel</interviewLabel>
    <label>Case is Escalated</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Change Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cases Owner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1464107933</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
