force-app/main/default/flows/Case_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigns the active Primary Sales Rep record OwnerId to the variable</description>
        <name>asn_PSR_Id_to_Var</name>
        <label>Assign PSR ID to Variable</label>
        <locationX>1393</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>var_PSR_OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Sales_Rep__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PSR_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Sales_Rep__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>udt_PSR_Email_on_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if an active PSR record is already related to the Case record</description>
        <name>dec_ActivePSRFound</name>
        <label>Active PSR Found</label>
        <locationX>1238</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>dec_Inactive_PSR_Currently_Related_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ActivePSRFound_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep__r.deactivated_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep__r.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_PSR_Id_to_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Case Category is a blank value</description>
        <name>dec_Case_Category_isBlank</name>
        <label>Case Category IsBlank</label>
        <locationX>1052</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>dec_ActivePSRFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes_isBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Case_Category</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a deactivated PSR record is currently related to the Case</description>
        <name>dec_Inactive_PSR_Currently_Related_to_Case</name>
        <label>Inactive PSR Currently Related to Case</label>
        <locationX>1386</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>get_PSRRecord_onCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_YesInactivePSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Sales_Rep__r.deactivated_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Case_InactivePSR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if no active Primary Sales Rep record was found</description>
        <name>dec_PSRisNull</name>
        <label>PSR is Null</label>
        <locationX>1655</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>dec_PSRIsOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>ocm_PSRisNull_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PSR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Primary Sales Rep User is the Case Owner</description>
        <name>dec_PSRIsOwner</name>
        <label>PSR is Owner</label>
        <locationX>1655</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>crt_ShareCaseWithPSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_PSRIsOwner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PSR_OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the related Account is &apos;Veritiv Headquarters&apos;</description>
        <name>dec_Related_Account_Veritiv_Headquarters</name>
        <label>Related Account = Veritiv Headquarters</label>
        <locationX>1659</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>udt_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes_RelatedAccount_VeritivHeadquarters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0017000000NJvZcAAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Case_RemoveVeritivHeadquarters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Case Record Type is &apos;Sales Support&apos; and if created by SFDC Admin or Primary_Sales_Rep__c field is changed</description>
        <name>dec_SS_Case_or_PSRUpdate</name>
        <label>Sales Support Case</label>
        <locationX>879</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_SS_Case_or_PSRUpdate_Yes</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Case_Category_isBlank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>All record-triggered Case automation</description>
    <formulas>
        <description>Uses &apos;contains&apos; functions to determine the Case Category value</description>
        <name>fx_CaseCategory</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
CONTAINS({!$Record.Subject},&quot;REPORT&quot;),
CONTAINS({!$Record.Subject},&quot;REPT&quot;)),
&quot;Reporting&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;PRIC&quot;),
CONTAINS({!$Record.Subject},&quot;COST&quot;),
CONTAINS({!$Record.Subject},&quot;REBATE&quot;),
CONTAINS({!$Record.Subject},&quot;CONTRACT&quot;),
CONTAINS({!$Record.Subject},&quot;VPM&quot;),
CONTAINS({!$Record.Subject},&quot;DEAL&quot;)),
&quot;Pricing/Rebate/Cost&quot;,

IF(
CONTAINS({!$Record.Subject},&quot;ORDER&quot;),
&quot;Order Resolution&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;NIR&quot;),
CONTAINS({!$Record.Subject},&quot;ITEM&quot;),
CONTAINS({!$Record.Subject},&quot;MIF&quot;),
CONTAINS({!$Record.Subject},&quot;CDI&quot;),
CONTAINS({!$Record.Subject},&quot;D&amp;E&quot;),
CONTAINS({!$Record.Subject},&quot;PRODUCT&quot;)),
&quot;Product Code/Item&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;CLAIM&quot;),
CONTAINS({!$Record.Subject},&quot;CREDIT&quot;),
CONTAINS({!$Record.Subject},&quot;DEBIT&quot;),
CONTAINS({!$Record.Subject},&quot;RETURN&quot;),
CONTAINS({!$Record.Subject},&quot;VDM&quot;),
CONTAINS({!$Record.Subject},&quot;RMA&quot;)),
&quot;Vendor Claim&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;A/R&quot;),
CONTAINS({!$Record.Subject},&quot;INVOICE&quot;),
CONTAINS({!$Record.Subject},&quot;STATEMENT&quot;),
CONTAINS({!$Record.Subject},&quot;RECEIVABLE&quot;)),
&quot;Account Receivable&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;SOURCE&quot;),
CONTAINS({!$Record.Subject},&quot;RFQ&quot;),
CONTAINS({!$Record.Subject},&quot;QUOTE&quot;),
CONTAINS({!$Record.Subject},&quot;SOURCING&quot;),
CONTAINS({!$Record.Subject},&quot;QUOTING&quot;)),
&quot;Sourcing/Quoting&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;INFO&quot;),
CONTAINS({!$Record.Subject},&quot;RFI&quot;),
CONTAINS({!$Record.Subject},&quot;INQUIRY&quot;)),
&quot;Information&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;DESIGN&quot;),
CONTAINS({!$Record.Subject},&quot;CENTER&quot;)),
&quot;Design Center&quot;,

IF(
OR(
CONTAINS({!$Record.Subject},&quot;POD&quot;),
CONTAINS({!$Record.Subject},&quot;PROOF&quot;)),
&quot;Proof of Delivery&quot;,
&quot;&quot;
))))))))))</expression>
    </formulas>
    <formulas>
        <description>Checks if the record that triggered the Flow is being created</description>
        <name>fx_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNEW(), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Case Record-Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record-Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Case Share record for the Primary Sales Rep</description>
        <name>crt_ShareCaseWithPSR</name>
        <label>Share Case with PSR</label>
        <locationX>1808</locationX>
        <locationY>204</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>var_PSR_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Primary Sales Rep Record for the Supplied Email
Hard-coded OwnerId values are &apos;sfdc admin&apos; and &apos;IOD&apos; users</description>
        <name>get_PSRRecord_onCreate</name>
        <label>Get PSR Record</label>
        <locationX>1527</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Related_Account_Veritiv_Headquarters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>deactivated_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005700000016aecAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005700000017g11AAA</stringValue>
            </value>
        </filters>
        <object>Primary_Sales_Rep__c</object>
        <outputAssignments>
            <assignToReference>var_PSR_Email</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_PSR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_PSR_OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Case values</description>
        <name>udt_Case</name>
        <label>Update Case</label>
        <locationX>1764</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>dec_PSRisNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Sales_Rep__c</field>
            <value>
                <elementReference>var_PSR_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep_s_Email__c</field>
            <value>
                <elementReference>var_PSR_Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Case Category field if blank using a formula</description>
        <name>udt_Case_Category</name>
        <label>Update Case Category</label>
        <locationX>1158</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>dec_ActivePSRFound</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>fx_CaseCategory</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case values</description>
        <name>udt_Case_InactivePSR</name>
        <label>Update Case</label>
        <locationX>1527</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>dec_PSRisNull</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Sales_Rep__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep_s_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case values and remove values from related Account &amp; Contact fields (Veritiv records)</description>
        <name>udt_Case_RemoveVeritivHeadquarters</name>
        <label>Update Case</label>
        <locationX>1821</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>dec_PSRisNull</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep__c</field>
            <value>
                <elementReference>var_PSR_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep_s_Email__c</field>
            <value>
                <elementReference>var_PSR_Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the &apos;Primary Sales Rep&apos;s Email&apos; field on the Case when the related PSR is changed</description>
        <name>udt_PSR_Email_on_Case</name>
        <label>Update PSR Email on Case</label>
        <locationX>1525</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>dec_PSRIsOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Sales_Rep_s_Email__c</field>
            <value>
                <elementReference>var_PSR_Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>495</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>dec_SS_Case_or_PSRUpdate</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the current or new Primary Sales Rep email address</description>
        <name>var_PSR_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current or new Primary Sales Rep record ID</description>
        <name>var_PSR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the PSR record OwnerId</description>
        <name>var_PSR_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
