force-app/main/default/flows/Case_Create_Related_Team_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Posts a chatter message on the Parent Case with a reference to the related Case number, for reference</description>
        <name>apx_ChatterMessageOnParentCase</name>
        <label>Chatter Message on Parent Case</label>
        <locationX>1634</locationX>
        <locationY>4838</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>scn_RelatedCaseConfirmation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scn_RelatedCaseConfirmation</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tmp_ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns single record variables to the ContentDocumentLink collection</description>
        <name>asn_ContentDocumentLinkColl</name>
        <label>Content Document Link</label>
        <locationX>1590</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentLinkRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContentDocumentIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes all single text variable values and adds the single text variable value to the text collection (this process removes any duplicate values)</description>
        <name>asn_Emails_ContentDocumentIdMultipleText</name>
        <label>ContentDocument ID Text Collection</label>
        <locationX>1854</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleRecord</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_ContentDocumentIdSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>col_ContentDocumentIdSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Emails_ContentDocumentLinkIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a single ContentDocument ID to the variable</description>
        <name>asn_Emails_ContentDocumentIdSingleText</name>
        <label>Single ContentDocument ID</label>
        <locationX>1854</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentIdSingleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocument.FileType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.ContentSize</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocument.ContentSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocument.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Emails_ContentDocumentIdMultipleText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds EmailMessage ID to the collection variable</description>
        <name>asn_Emails_EmailMessageID</name>
        <label>Email Message ID to Variable</label>
        <locationX>1854</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>col_Email_EmailMessageIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_Emails_EmailMessageIDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Emails_EmailMessageIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes all single text variable values and adds the single text variable value to the text collection (this process removes any duplicate values)</description>
        <name>asn_Files_ContentDocumentIdMultipleText</name>
        <label>ContentDocument ID Text Collection</label>
        <locationX>1854</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleRecord</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_ContentDocumentIdSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>col_ContentDocumentIdSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Files_ContentDocumentLinkIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a single ContentDocument ID to the variable</description>
        <name>asn_Files_ContentDocumentIdSingleText</name>
        <label>Single ContentDocument ID</label>
        <locationX>1854</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentIdSingleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocument.FileType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.ContentSize</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocument.ContentSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdSingleRecord.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocument.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Files_ContentDocumentIdMultipleText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to variables to be applied to fields during case record creation</description>
        <name>asn_Input_FieldValues</name>
        <label>Field Values</label>
        <locationX>1634</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>var_Input_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Input_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Input_ActionRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_RelatedTeamCase2_ActionRequest_EquipmentPartsService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scn_RelatedTeamCase3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_SelectedFiles_ContentDocumentIdMultipleText</name>
        <label>ContentDocument ID Text Collection</label>
        <locationX>1854</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdsFINAL</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lop_RelatedTeamCase2_FilesCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdsFINAL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_RelatedTeamCase2_FilesCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_RelatedTeamCase2_FilesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_CostMaint_QDevName</name>
        <label>Queue Name</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COST_MAINT_MAIN_INTERNAL_E2C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cost_Maintenance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_CreditColl_QDevName</name>
        <label>Queue Name</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREDIT_COLLECTIONS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit_Collections</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_EquipmentPartsService_QDevName</name>
        <label>Queue Name</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EQUIP_PARTS_AND_SERVICE_TRANSFER_E2C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equipment_Parts_and_Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_FSPKG_CXCCIN_QDevName</name>
        <label>Queue Name</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CIN_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_FSPKG_CXCDAL_QDevName</name>
        <label>Queue Name</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAL_ESCALATION_QUEUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_FSPKG_CXCJAX_QDevName</name>
        <label>Queue Name</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JAX_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_FSPKG_CXCLA_QDevName</name>
        <label>Queue Name</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LA_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_PRT_CXCCIN_QDevName</name>
        <label>Queue Name</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CIN_PRT_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_PRT_CXCLA_QDevName</name>
        <label>Queue Name</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LA_PRT_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_PRT_CXCMN_QDevName</name>
        <label>Queue Name</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MN_PRT_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_PRT_CXCNJ_QDevName</name>
        <label>Queue Name</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NJ_PRT_ESC_LEX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Console_CS_Lightning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Queue developer name to a variable</description>
        <name>asn_SelectedTeam_TaxOps_QDevName</name>
        <label>Queue Name</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_QDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAX_OPERATIONS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedTeam_RTDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax_Operations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_QID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables for a single Content Document Link record</description>
        <name>var_SingleContentDocumentLinkVars</name>
        <label>Single Content Document Link Vars</label>
        <locationX>1590</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContentDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_ContentDocumentLinkColl</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_Category_AccountSetupMaintenance</name>
        <choiceText>Account Setup/Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Setup/Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_BillingVerificationError</name>
        <choiceText>Billing Verification Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing Verification Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CBSS</name>
        <choiceText>CBSS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBSS</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CC2</name>
        <choiceText>CC2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CC2</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CollectionsARRequest</name>
        <choiceText>Collections/AR Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collections/AR Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CompanyInformation</name>
        <choiceText>Company Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CostChangeRequest</name>
        <choiceText>Cost Change Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Change Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CostCorrection</name>
        <choiceText>Cost Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Correction</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Credit</name>
        <choiceText>Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_CustomerBillingQuestion</name>
        <choiceText>Customer Billing Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Billing Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_DeliveryIssue</name>
        <choiceText>Delivery Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivery Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_DirectOrderEntry</name>
        <choiceText>Direct Order Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Order Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_ERSProductAvailability</name>
        <choiceText>ERS/Product Availability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ERS/Product Availability</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_ExisitingItemRequest</name>
        <choiceText>Existing Item Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exisiting Item Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Freight</name>
        <choiceText>Freight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freight</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_FYINoActionNeeded</name>
        <choiceText>FYI/No Action Needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FYI/No Action Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_GeneralInquiry</name>
        <choiceText>General Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_InternalDeviation</name>
        <choiceText>Internal Deviation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Deviation</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_KittingConverting</name>
        <choiceText>Kitting/Converting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kitting/Converting</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_MassVendorUpdate</name>
        <choiceText>Mass Vendor Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass Vendor Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Max</name>
        <choiceText>Max</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Max</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_OrderChangeRequest</name>
        <choiceText>Order Change Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Change Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_OrderStatusDocumentRequest</name>
        <choiceText>Order Status/Document Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Status/Document Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Payments</name>
        <choiceText>Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_PricingRebate</name>
        <choiceText>Pricing/Rebate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing/Rebate</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_ProductItemIssue</name>
        <choiceText>Product/Item Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product/Item Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_ProductNIRMaintenance</name>
        <choiceText>Product NIR/Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product NIR/Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_QualityComplianceEnvironmentalProductInformation</name>
        <choiceText>Quality/Compliance/Environmental Product Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality/Compliance/Environmental Product Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Reporting</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_SamplesOrderEntry</name>
        <choiceText>Samples Order Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Samples Order Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_Shelters</name>
        <choiceText>Shelters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelters</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_SourcingQuote</name>
        <choiceText>Sourcing/Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sourcing/Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_TaxTechnologyRequest</name>
        <choiceText>Tax Technology Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Technology Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_UPSEarlyReleaseRequest</name>
        <choiceText>UPS-Early Release Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPS-Early Release Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_VendorAcknowledgement</name>
        <choiceText>Vendor Acknowledgement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Acknowledgement</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_VendorFollowup</name>
        <choiceText>Vendor Follow-up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Follow-up</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_VendorRequest</name>
        <choiceText>Vendor Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Category_WarehouseIndirectOrderEntry</name>
        <choiceText>Warehouse/Indirect Order Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warehouse/Indirect Order Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_CostMaintenance</name>
        <choiceText>Cost Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_CreditCollections</name>
        <choiceText>Credit and Collections</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit and Collections</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_EquipmentPartsService</name>
        <choiceText>Equipment Parts and Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment Parts and Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCCIN</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Cincinnati</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Cincinnati</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCDAL</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Dallas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Dallas</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCJAX</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Jacksonville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Jacksonville</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCLA</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Los Angeles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Los Angeles</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCCIN</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PRINT - CXC &lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Cincinnati&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Cincinnati</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCLA</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;PRINT - CXC Los Angeles&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Los Angeles</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCMN</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PRINT - &lt;/span&gt;CXC Minneapolis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Minneapolis</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCNJ</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;PRINT - CXC New Jersey&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC New Jersey</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_TaxOps</name>
        <choiceText>Tax Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Operations</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determines if Email Messages with Attachments are related to the original Case record</description>
        <name>dec_Emails_EmailMessagesRelated</name>
        <label>Email Messages Related</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>lop_Emails_EmailMessageIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_Emails_EmailMessagesRelatedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_EmailMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Files_ContentDocumentLinkIDs</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Files are related to the original Case record</description>
        <name>dec_Files_FilesRelated</name>
        <label>Files Related</label>
        <locationX>1634</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>lop_Files_ContentDocumentLinkIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_Files_FilesRelatedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Files_ContentDocumentLinkIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_RelatedTeamCase2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Files (Content Documents) were uploaded by the user in the previous screen</description>
        <name>dec_FilesUploaded</name>
        <label>Files Uploaded</label>
        <locationX>1634</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>get_RelatedCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_FilesUploaded_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_ContentDocumentIdsFINAL_LengthCheck_TESTING</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_ContentDocumentIDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the team selected is related to CX, which will result in using a different case creation element since there is no Category selection included in the Flow for this team.</description>
        <name>dec_SelectedTeam</name>
        <label>Selected Team</label>
        <locationX>1634</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>crt_RelatedTeamCase_CX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CX</defaultConnectorLabel>
        <rules>
            <name>ocm_CreateTeamCase_EPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_EquipmentPartsService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crt_RelatedTeamCase_EPS</targetReference>
            </connector>
            <label>EPS</label>
        </rules>
        <rules>
            <name>ocm_CreateTeamCase_TaxOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_TaxOps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crt_RelatedTeamCase_TaxOps</targetReference>
            </connector>
            <label>TaxOps</label>
        </rules>
        <rules>
            <name>ocm_CreateTeamCase_CostMaint_Collections</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CostMaintenance</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CreditCollections</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crt_RelatedTeamCase_CostMaintCollections</targetReference>
            </connector>
            <label>Cost Maint / Collections</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which Team was selected in the previous screen</description>
        <name>dec_TeamSelected</name>
        <label>Team Selected</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>scn_RelatedTeamCase_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_CostMaintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CostMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_CostMaint_QDevName</targetReference>
            </connector>
            <label>Cost Maintenance</label>
        </rules>
        <rules>
            <name>ocm_CreditCollections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CreditCollections</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_CreditColl_QDevName</targetReference>
            </connector>
            <label>Credit &amp; Collections</label>
        </rules>
        <rules>
            <name>ocm_EquipmentPartsService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_EquipmentPartsService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_EquipmentPartsService_QDevName</targetReference>
            </connector>
            <label>Equip Parts &amp; Srvc</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCCIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCCIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_FSPKG_CXCCIN_QDevName</targetReference>
            </connector>
            <label>FS/PKG - CXC CIN</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCDAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCDAL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_FSPKG_CXCDAL_QDevName</targetReference>
            </connector>
            <label>FS/PKG - CXC DAL</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCJAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCJAX</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_FSPKG_CXCJAX_QDevName</targetReference>
            </connector>
            <label>FS/PKG - CXC JAX</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCLA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_FSPKG_CXCLA_QDevName</targetReference>
            </connector>
            <label>FS/PKG - CXC LA</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCCIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCCIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_PRT_CXCCIN_QDevName</targetReference>
            </connector>
            <label>PRT - CXC CIN</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCLA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_PRT_CXCLA_QDevName</targetReference>
            </connector>
            <label>PRT - CXC LA</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCMN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCMN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_PRT_CXCMN_QDevName</targetReference>
            </connector>
            <label>PRT - CXC MN</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCNJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCNJ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_PRT_CXCNJ_QDevName</targetReference>
            </connector>
            <label>PRT - CXC NJ</label>
        </rules>
        <rules>
            <name>ocm_TaxOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_TaxOps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_SelectedTeam_TaxOps_QDevName</targetReference>
            </connector>
            <label>Tax Ops</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the user selected Files in the table on the previous screen</description>
        <name>dec_UserSelectedFiles</name>
        <label>User Selected Files</label>
        <locationX>1634</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>lop_RelatedTeamCase2_FilesCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_UserSelectedFilesNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_UserSelectedFiles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_SelectedTeam</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Allows teams to create a new related Case for another team from an existing Case
&lt;Credit &amp; Collections removed until this team starts using Cases in SFDC&gt;</description>
    <dynamicChoiceSets>
        <name>chc_ActionRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EPSAction_Request__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Checks the length of the list to determine if records are present. Used in a decision element.</description>
        <name>fx_ContentDocumentIdsFINAL_LengthCheck_TESTING</name>
        <dataType>Number</dataType>
        <expression>LEN({!col_ContentDocumentIdsFINAL})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculates the org hyperlink to be used as a clickable link</description>
        <name>fx_Hyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <description>Determines which input to use to store the Category value</description>
        <name>fx_Input_Category</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ipt_RelatedTeamCase2_Category_CostMaint}), 
          IF(ISBLANK({!ipt_RelatedTeamCase2_Category_TaxOps}), &quot;&quot;, 
          {!ipt_RelatedTeamCase2_Category_TaxOps}), 
{!ipt_RelatedTeamCase2_Category_CostMaint})</expression>
    </formulas>
    <formulas>
        <description>Stores text to be used in the Custom Description field on the new related Case</description>
        <name>var_CaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;This Case was created by another team and assigned to your Queue. See Case Comments and the related Parent Case for additional details.&quot;</expression>
    </formulas>
    <interviewLabel>Case - Create Related Team Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Related Team Case</label>
    <loops>
        <description>Loops over collection of Content Document IDs</description>
        <name>loop_ContentDocumentIDs</name>
        <label>Content Document IDs</label>
        <locationX>1502</locationX>
        <locationY>4022</locationY>
        <collectionReference>col_ContentDocumentIdsFINAL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>var_SingleContentDocumentLinkVars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crt_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops though the Files retrieved from the Get element</description>
        <name>lop_Emails_ContentDocumentLinkIDs</name>
        <label>ContentDocumentLink IDs</label>
        <locationX>1766</locationX>
        <locationY>1598</locationY>
        <collectionReference>get_Emails_ContentDocumentLinkIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Emails_ContentDocumentIdSingleText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Files_ContentDocumentLinkIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_Emails_EmailMessageIDs</name>
        <label>Email Message IDs</label>
        <locationX>1766</locationX>
        <locationY>1190</locationY>
        <collectionReference>get_EmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Emails_EmailMessageID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Emails_ContentDocumentLinkIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops though the Files retrieved from the Get element</description>
        <name>lop_Files_ContentDocumentLinkIDs</name>
        <label>ContentDocumentLink IDs</label>
        <locationX>1766</locationX>
        <locationY>2306</locationY>
        <collectionReference>get_Files_ContentDocumentLinkIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Files_ContentDocumentIdSingleText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scn_RelatedTeamCase2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_RelatedTeamCase2_FilesCollection</name>
        <label>User Added Files</label>
        <locationX>1766</locationX>
        <locationY>3230</locationY>
        <collectionReference>col_RelatedTeamCase2_FilesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_SelectedFiles_ContentDocumentIdMultipleText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_SelectedTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Case Comments record related to the new Case</description>
        <name>crt_CaseComments</name>
        <label>Case Comments</label>
        <locationX>1634</locationX>
        <locationY>4730</locationY>
        <connector>
            <targetReference>apx_ChatterMessageOnParentCase</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>ipt_RelatedTeamCase2_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Content Document Links records</description>
        <name>crt_ContentDocumentLinks</name>
        <label>Content Document Links</label>
        <locationX>1502</locationX>
        <locationY>4430</locationY>
        <connector>
            <targetReference>get_RelatedCase</targetReference>
        </connector>
        <inputReference>col_ContentDocumentLinkRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates new related Case record and assigns to the Queue selected in the previous screen. This element is used to create a case for the CostMaint or Collections teams, who require a Category selection (Specialty defaults to &apos;Non-Order Management&apos;).</description>
        <name>crt_RelatedTeamCase_CostMaintCollections</name>
        <label>Related Case</label>
        <locationX>1766</locationX>
        <locationY>3722</locationY>
        <assignRecordIdToReference>var_RelatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>dec_FilesUploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Assign_Method__c</field>
            <value>
                <stringValue>Related Team Case Default Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>var_Input_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_SelectedTeam_QID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality__c</field>
            <value>
                <stringValue>Non-Order Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ipt_RelatedTeamCase2_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_User_ID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new related Case record and assigns to the Queue selected in the previous screen. This element is used to create a case only for CX teams since Category is not available for selection.</description>
        <name>crt_RelatedTeamCase_CX</name>
        <label>Related Case</label>
        <locationX>2030</locationX>
        <locationY>3722</locationY>
        <assignRecordIdToReference>var_RelatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>dec_FilesUploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Assign_Method__c</field>
            <value>
                <stringValue>Related Team Case Default Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_SelectedTeam_QID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ipt_RelatedTeamCase2_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_User_ID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new related Case record and assigns to the Queue selected in the previous screen. This element is used to create a case for the EPS team who requires an Action Reason selection (Specialty and Category not used).</description>
        <name>crt_RelatedTeamCase_EPS</name>
        <label>Related Case</label>
        <locationX>1238</locationX>
        <locationY>3722</locationY>
        <assignRecordIdToReference>var_RelatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>dec_FilesUploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Assign_Method__c</field>
            <value>
                <stringValue>Related Team Case Default Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EPSAction_Request__c</field>
            <value>
                <elementReference>var_Input_ActionRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_SelectedTeam_QID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ipt_RelatedTeamCase2_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_User_ID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new related Case record and assigns to the Queue selected in the previous screen. This element is used to create a case for the TaxOps team, who require a Category selection (Specialty defaults to &apos;Non-Order Management&apos;) and have a Subflow process to add Entitlements/Milestones and determine owner.</description>
        <name>crt_RelatedTeamCase_TaxOps</name>
        <label>Related Case</label>
        <locationX>1502</locationX>
        <locationY>3722</locationY>
        <assignRecordIdToReference>var_RelatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>dec_FilesUploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Assign_Method__c</field>
            <value>
                <stringValue>Related Team Case Default Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>var_Input_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_RTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality__c</field>
            <value>
                <stringValue>Non-Order Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ipt_RelatedTeamCase2_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_User_ID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the current Case record that invoked the Flow. This element was intentionally placed before the screen to prevent a governor limit error occurring when selecting the previous screen from the second screen UI.</description>
        <name>get_Case</name>
        <label>Current Case</label>
        <locationX>1634</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scn_RelatedTeamCase1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Emails with Attachments related to the original Case record</description>
        <name>get_EmailMessage</name>
        <label>EmailMessage</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Emails_EmailMessagesRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasAttachment</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ContentDocumentLink records that were saved in the collection variable</description>
        <name>get_Emails_ContentDocumentLinkIDs</name>
        <label>Content Document Link IDs</label>
        <locationX>1766</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_Emails_ContentDocumentLinkIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>col_Email_EmailMessageIDCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Files related to the original Case record</description>
        <name>get_Files_ContentDocumentLinkIDs</name>
        <label>Files</label>
        <locationX>1634</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Files_FilesRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>get_QID</name>
        <label>Queue ID</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTeam_QDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_QID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets additional info for the new related Case</description>
        <name>get_RelatedCase</name>
        <label>Related Case</label>
        <locationX>1634</locationX>
        <locationY>4622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_CaseComments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Record Type Id for the team selected</description>
        <name>get_RTID</name>
        <label>Case RecordType ID</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_EmailMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTeam_RTDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Displays a confirmation that a new related Case was created for another team</description>
        <name>scn_RelatedCaseConfirmation</name>
        <label>Confirmation</label>
        <locationX>1634</locationX>
        <locationY>4946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_RelatedCaseConfirmation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(1, 118, 211);&quot;&gt;Related Case# &lt;/strong&gt;&lt;a href=&quot;/{!var_RelatedCaseId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;{!get_RelatedCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(1, 118, 211);&quot;&gt;created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_RelatedTeamCase1</name>
        <label>Team Selection</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_TeamSelected</targetReference>
        </connector>
        <fields>
            <name>txt_RelatedTeamCase1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 14px;&quot;&gt;Create a new related case to assign to another team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase_SelectTeam</name>
            <choiceReferences>chc_CostMaintenance</choiceReferences>
            <choiceReferences>chc_CreditCollections</choiceReferences>
            <choiceReferences>chc_EquipmentPartsService</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCCIN</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCDAL</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCJAX</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCLA</choiceReferences>
            <choiceReferences>chc_PRT_CXCCIN</choiceReferences>
            <choiceReferences>chc_PRT_CXCLA</choiceReferences>
            <choiceReferences>chc_PRT_CXCMN</choiceReferences>
            <choiceReferences>chc_PRT_CXCNJ</choiceReferences>
            <choiceReferences>chc_TaxOps</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;To find the appropriate CXC Team to assign the related Case, go to the Account record and hover over the &apos;ANI Primary&apos; to see the CXC Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://veritiv--test.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688M0000003iH0?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;UserRoleHover.png&quot;&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_RelatedTeamCase2</name>
        <label>Case Details &amp; File Selection</label>
        <locationX>1634</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asn_Input_FieldValues</targetReference>
        </connector>
        <fields>
            <name>txt_RelatedTeamCase2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 14px;&quot;&gt;Create a new related case to assign to another team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase2_Category_CostMaint</name>
            <choiceReferences>chc_Category_CostChangeRequest</choiceReferences>
            <choiceReferences>chc_Category_CC2</choiceReferences>
            <choiceReferences>chc_Category_ExisitingItemRequest</choiceReferences>
            <choiceReferences>chc_Category_InternalDeviation</choiceReferences>
            <choiceReferences>chc_Category_KittingConverting</choiceReferences>
            <choiceReferences>chc_Category_Max</choiceReferences>
            <choiceReferences>chc_Category_Shelters</choiceReferences>
            <choiceReferences>chc_Category_Freight</choiceReferences>
            <choiceReferences>chc_Category_CBSS</choiceReferences>
            <choiceReferences>chc_Category_MassVendorUpdate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_CostMaintenance</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase2_Category_TaxOps</name>
            <choiceReferences>chc_Category_AccountSetupMaintenance</choiceReferences>
            <choiceReferences>chc_Category_VendorRequest</choiceReferences>
            <choiceReferences>chc_Category_BillingVerificationError</choiceReferences>
            <choiceReferences>chc_Category_CustomerBillingQuestion</choiceReferences>
            <choiceReferences>chc_Category_TaxTechnologyRequest</choiceReferences>
            <choiceReferences>chc_Category_GeneralInquiry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_TaxOps</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase2_ActionRequest_EquipmentPartsService</name>
            <choiceReferences>chc_ActionRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedTeamCase_SelectTeam</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_EquipmentPartsService</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase2_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Max field length is 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_RelatedTeamCase2_Subject})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ipt_RelatedTeamCase2_Comments</name>
            <fieldText>Case Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Max field length is 4,000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_RelatedTeamCase2_Comments})&lt;=4000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>tbl_RelatedTeamCase2_FilesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Files from the Original Case to Relate to the New Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_ContentDocumentIdMultipleRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-dbb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-5e51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ContentSize&quot;,&quot;guid&quot;:&quot;column-86db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Size&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-b88d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>col_UserSelectedFiles</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>col_ContentDocumentIdMultipleText</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_RelatedTeamCase3</name>
        <label>File Upload Screen</label>
        <locationX>1634</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_UserSelectedFiles</targetReference>
        </connector>
        <fields>
            <name>txt_RelatedTeamCase3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 14px;&quot;&gt;Create a new related case to assign to another team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uld_RelatedTeamCase2_FilesUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderExistingFiles</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Additional Files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>col_RelatedTeamCase2_FilesCollection</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Create Related Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error screen if selected team is not found</description>
        <name>scn_RelatedTeamCase_Error</name>
        <label>Error</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_RelatedTeamCase_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;An error occurred with the team selected. Please contact your Salesforce administrator by creating an incident in Service Now.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmp_ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Related Case# {!get_RelatedCase.CaseNumber} was created</text>
    </textTemplates>
    <variables>
        <description>Stores content document IDs in a record collection to be referenced in the data table in the next screen</description>
        <name>col_ContentDocumentIdMultipleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>col_ContentDocumentIdMultipleText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the final list of IDs of uploaded or selected Files (Content Documents) to be related to the new case</description>
        <name>col_ContentDocumentIdsFINAL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores content document ID to add to the record collection</description>
        <name>col_ContentDocumentIdSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <description>Stores record variables to Content Document Link collection to be created</description>
        <name>col_ContentDocumentLinkRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>col_Email_EmailMessageIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_RelatedTeamCase2_FilesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of files related to the original Case, in addition to files related to emails related to the original case</description>
        <name>col_RelatedTeamCase_OriginalFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <description>Stores the Files the user selected to relate to the new case</description>
        <name>col_UserSelectedFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID for a single ContentDocument record</description>
        <name>var_ContentDocumentIdSingleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current assignment values for the Content Document Link to be created</description>
        <name>var_ContentDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>var_Input_ActionRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Input_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Input_Specialty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeId_TaxOps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tax_Operations</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the new related Case</description>
        <name>var_RelatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Queue developer name</description>
        <name>var_SelectedTeam_QDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Queue (Group) ID</description>
        <name>var_SelectedTeam_QID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record type developer name</description>
        <name>var_SelectedTeam_RTDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Record Type ID</description>
        <name>var_SelectedTeam_RTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectionReqdCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
