force-app/main/default/flows/Case_Quality_Assurance_Create_Related_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddToNewCaseProdCollection</name>
        <label>AddToNewCaseProdCollection</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>NewCaseProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseProductsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseProductsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyID</name>
        <label>EmptyID</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CaseProductsLoop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseProductsLoop.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRelatedCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToNewCaseProdCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if case record type is CS Console - Ligtning</description>
        <name>CompareCaseRecordType</name>
        <label>CompareCaseRecordType</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseRecordValid</name>
            <conditionLogic>1 AND ( ( 2 AND ( 6 OR 7 OR 8 OR 9 OR 10 OR 11 ) ) OR ( 3 AND 12 )  OR ( 4 AND 13 )  OR ( 5 AND 14 ) OR 17 ) AND 15 AND 16</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeId_ConsoleCSLightning</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Product/Item Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Delivery Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I - Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Claim - FS/PKG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Claim - PRINT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freight Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Sure of Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Damaged Product/Item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordered Incorrectly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver/Truck Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NCE_Negative_Customer_Experience__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeID_QualityAssurance</targetReference>
            </connector>
            <label>CaseRecordValid</label>
        </rules>
    </decisions>
    <description>Creates a related case of record type  Quality Assurance when a Console CS - Lightning case is closed.</description>
    <environments>Default</environments>
    <interviewLabel>Case - Quality Assurance - Create Related Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Quality Assurance - Create Related Case</label>
    <loops>
        <name>CaseProductsLoop</name>
        <label>CaseProductsLoop</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>GetCaseProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmptyID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewCaseProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCaseComment</name>
        <label>CreateCaseComment</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>GetNewCaseNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Parent Case - {!$Record.CaseNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>NewRelatedCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCaseProducts</name>
        <label>CreateNewCaseProducts</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>CreateCaseComment</targetReference>
        </connector>
        <inputReference>NewCaseProductsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateParentCaseComment</name>
        <label>CreateParentCaseComment</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Related Case Number - {!NewRelatedCaseNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create new related case record</description>
        <name>NewRelatedCaseRecord</name>
        <label>NewRelatedCaseRecord</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>GetCaseProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_MAX_Order_Number__c</field>
            <value>
                <elementReference>$Record.CS_MAX_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>$Record.CustomDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Expectation_Summary__c</field>
            <value>
                <elementReference>$Record.Customer_Expectation_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Expectations_from_Veritiv__c</field>
            <value>
                <elementReference>$Record.Customer_Expectations_from_Veritiv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>$Record.Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCE_Negative_Customer_Experience__c</field>
            <value>
                <elementReference>$Record.NCE_Negative_Customer_Experience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type_del__c</field>
            <value>
                <elementReference>$Record.Order_Type_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GroupId_QualityAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Primary_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_QualityAssurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_required_by_specific_date__c</field>
            <value>
                <elementReference>$Record.Response_required_by_specific_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality__c</field>
            <value>
                <elementReference>$Record.Speciality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Claim__c</field>
            <value>
                <elementReference>$Record.Vendor_Claim__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCaseProducts</name>
        <label>GetCaseProducts</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseProductsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCaseNumber</name>
        <label>GetNewCaseNumber</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateParentCaseComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewRelatedCaseRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>NewRelatedCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetQualityAssuranceGroupId</name>
        <label>GetQualityAssuranceGroupId</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewRelatedCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QUALITY ASSURANCE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupId_QualityAssurance</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Console CS - Lightning RecordTypeId</description>
        <name>GetRecordTypeID_ConsoleCSLightning</name>
        <label>GetRecordTypeID_ConsoleCSLightning</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompareCaseRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Console CS - Lightning</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_ConsoleCSLightning</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID_QualityAssurance</name>
        <label>GetRecordTypeID_QualityAssurance</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQualityAssuranceGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality Assurance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_QualityAssurance</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeID_ConsoleCSLightning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupId_QualityAssurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>NewRelatedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_ConsoleCSLightning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_QualityAssurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
