force-app/main/default/flows/Case_Clone_with_RelatedFiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Redirects user to the newly cloned record</description>
        <name>apx_Redirect_to_Cloned_Record</name>
        <label>Redirect to Cloned Record</label>
        <locationX>176</locationX>
        <locationY>2990</locationY>
        <actionName>c:FlowRecordRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordIdNEW</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:FlowRecordRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asn_All_ContentDocumentIdMultipleRecords</name>
        <label>ContentDocument ID Record Collection</label>
        <locationX>396</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentLinkMultipleRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentLinkSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_DeDupe_ContentDocumentLinkCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes all single text variable values and adds the single text variable value to the text collection (this process removes any duplicate values)</description>
        <name>asn_Emails_ContentDocumentIdMultipleText</name>
        <label>ContentDocument ID Text Collection</label>
        <locationX>396</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Emails_ContentDocumentLinkIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a single ContentDocument ID to the variable</description>
        <name>asn_Emails_ContentDocumentIdSingleText</name>
        <label>Single ContentDocument ID</label>
        <locationX>396</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentIdSingleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Emails_ContentDocumentLinkIDs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Emails_ContentDocumentIdMultipleText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds EmailMessage ID to the collection variable</description>
        <name>asn_Emails_EmailMessageID</name>
        <label>Email Message ID to Variable</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>col_Email_EmailMessageIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_Emails_EmailMessageIDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Emails_EmailMessageIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes all single text variable values and adds the single text variable value to the text collection (this process removes any duplicate values)</description>
        <name>asn_Files_ContentDocumentIdMultipleText</name>
        <label>ContentDocument ID Text Collection</label>
        <locationX>396</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContentDocumentIdMultipleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentIdSingleText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Files_ContentDocumentLinkIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a single ContentDocument ID to the variable</description>
        <name>asn_Files_ContentDocumentIdSingleText</name>
        <label>Single ContentDocument ID</label>
        <locationX>396</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentIdSingleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Files_ContentDocumentLinkIDs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Files_ContentDocumentIdMultipleText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current item from the loop to the record collection variable with additional values for record creation</description>
        <name>asn_SingleContentDocumentLink</name>
        <label>Single Content Document Link</label>
        <locationX>396</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLinkSingleRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_DeDupe_ContentDocumentLinkCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLinkSingleRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdNEW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLinkSingleRecord.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLinkSingleRecord.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_All_ContentDocumentIdMultipleRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if there are ContentDocumentLink records stored and ready to be created</description>
        <name>dec_ContentDocumentLinkRecordsStored</name>
        <label>ContentDocumentLink Records Stored</label>
        <locationX>176</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>lop_DeDupe_ContentDocumentLinkCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_ContentDocumentLinkRecordsStoredNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_ContentDocumentIdMultipleText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apx_Redirect_to_Cloned_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Email Messages with Attachments are related to the original Case record</description>
        <name>dec_Emails_EmailMessagesRelated</name>
        <label>Email Messages Related</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>lop_Emails_EmailMessageIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_Emails_EmailMessagesRelatedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_EmailMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Files_FilesRelated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if Files are related to the original Case record</description>
        <name>dec_Files_FilesRelated</name>
        <label>Files Related</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>lop_Files_ContentDocumentLinkIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_Files_FilesRelatedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Files_ContentDocumentLinkIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_ContentDocumentLinkRecordsStored</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Allows user to create a cloned Case with related Files</description>
    <dynamicChoiceSets>
        <name>chc_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Details</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Details__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Specialty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Speciality__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Stores the text to add to the Case Comment</description>
        <name>fx_CaseComment</name>
        <dataType>String</dataType>
        <expression>&apos;Cloned from Case # &apos;&amp;{!recordId.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Case - Clone with Related Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Clone with Related Files</label>
    <loops>
        <name>lop_DeDupe_ContentDocumentLinkCollection</name>
        <label>ContentDocumentLink Collection</label>
        <locationX>308</locationX>
        <locationY>2390</locationY>
        <collectionReference>col_ContentDocumentIdMultipleText</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_SingleContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crt_ContentDoucmentLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops though the Files retrieved from the Get element</description>
        <name>lop_Emails_ContentDocumentLinkIDs</name>
        <label>ContentDocumentLink IDs</label>
        <locationX>308</locationX>
        <locationY>1190</locationY>
        <collectionReference>get_Emails_ContentDocumentLinkIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Emails_ContentDocumentIdSingleText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_Files_FilesRelated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_Emails_EmailMessageIDs</name>
        <label>Email Message IDs</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <collectionReference>get_EmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Emails_EmailMessageID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Emails_ContentDocumentLinkIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops though the Files retrieved from the Get element</description>
        <name>lop_Files_ContentDocumentLinkIDs</name>
        <label>ContentDocumentLink IDs</label>
        <locationX>308</locationX>
        <locationY>1790</locationY>
        <collectionReference>get_Files_ContentDocumentLinkIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Files_ContentDocumentIdSingleText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_ContentDocumentLinkRecordsStored</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Case Comment related to the cloned Case record</description>
        <name>crt_CaseComment</name>
        <label>Case Comment</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>dec_Emails_EmailMessagesRelated</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>fx_CaseComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordIdNEW</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This is the clone record of the record that invoked the Flow</description>
        <name>crt_Clone_Case</name>
        <label>Clone Case</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>recordIdNEW</assignRecordIdToReference>
        <connector>
            <targetReference>crt_CaseComment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_MAX_Order_Number__c</field>
            <value>
                <elementReference>recordId.CS_MAX_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>ipt_Category.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>recordId.CustomDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_PO__c</field>
            <value>
                <elementReference>recordId.Customer_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>ipt_Category.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>recordId.Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>recordId.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordId.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality__c</field>
            <value>
                <elementReference>ipt_Category.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Detail__c</field>
            <value>
                <elementReference>recordId.Status_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>recordId.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddressRouting__c</field>
            <value>
                <elementReference>recordId.ToAddressRouting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_PO__c</field>
            <value>
                <elementReference>recordId.Vendor_PO__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates the ContentDocumentLink records</description>
        <name>crt_ContentDoucmentLink</name>
        <label>ContentDoucmentLink</label>
        <locationX>308</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>apx_Redirect_to_Cloned_Record</targetReference>
        </connector>
        <inputReference>col_ContentDocumentLinkMultipleRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets Emails with Attachments related to the original Case record</description>
        <name>get_EmailMessage</name>
        <label>EmailMessage</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Files_ContentDocumentLinkIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasAttachment</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ContentDocumentLink records that were saved in the collection variable</description>
        <name>get_Emails_ContentDocumentLinkIDs</name>
        <label>Content Document Link IDs</label>
        <locationX>308</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_Emails_ContentDocumentLinkIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>col_Email_EmailMessageIDCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Files related to the original Case record</description>
        <name>get_Files_ContentDocumentLinkIDs</name>
        <label>Files</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scn_ClonedCaseEdit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Edit screen for the cloned Case</description>
        <name>scn_ClonedCaseEdit</name>
        <label>Edit Cloned Case</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>crt_Clone_Case</targetReference>
        </connector>
        <fields>
            <name>txt_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Clone Case # {!recordId.CaseNumber} with Related Files&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scn_ClonedCaseEdit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClonedCaseEdit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClonedCaseEdit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_Category</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Speciality__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Specialty</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>recordId.Speciality__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>recordId.Category__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <elementReference>recordId.Details__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClonedCaseEdit_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Clone</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_EmailMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ContentDocumentIdMultipleText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores collection of multiple ContentDocumentLink records to be created</description>
        <name>col_ContentDocumentLinkMultipleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Collection variable to store EmailMessage IDs</description>
        <name>col_Email_EmailMessageIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the cloned Case record</description>
        <name>recordIdNEW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID for a single ContentDocument record</description>
        <name>var_ContentDocumentIdSingleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores variable data for a single ContentDocumentLink record</description>
        <name>var_ContentDocumentLinkSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
