force-app/main/default/flows/Case_Tax_Ops_Entitlements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns the Entitlement name to a variable to be used in the get records element</description>
        <name>asn_EntitlementNameP1</name>
        <label>Entitlement Name</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_EntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TaxOps P1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EntitlementId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Entitlement name to a variable to be used in the get records element</description>
        <name>asn_EntitlementNameP2</name>
        <label>Entitlement Name</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_EntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TaxOps P2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EntitlementId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Entitlement name to a variable to be used in the get records element</description>
        <name>asn_EntitlementNameUncategorized</name>
        <label>Entitlement Name</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_EntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TaxOps Uncategorized</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EntitlementId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines the type of entitlement to apply to the case</description>
        <name>dec_EntitlementSelect</name>
        <label>Entitlement Selection</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>asn_EntitlementNameUncategorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Category Blank</defaultConnectorLabel>
        <rules>
            <name>ocm_EntitlementSelect_TaxOpsP1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Setup/Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Verification Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Technology Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EntitlementNameP1</targetReference>
            </connector>
            <label>TaxOps P1</label>
        </rules>
        <rules>
            <name>ocm_EntitlementSelect_TaxOpsP2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Billing Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EntitlementNameP2</targetReference>
            </connector>
            <label>TaxOps P2</label>
        </rules>
    </decisions>
    <description>Assigns entitlements to Tax Operations case</description>
    <environments>Default</environments>
    <interviewLabel>Case - Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Tax Ops Entitlements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Entitlement ID to add to the case</description>
        <name>get_EntitlementId</name>
        <label>Entitlement ID</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EntitlementName</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>entitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_EntitlementSelect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the category in a variable passed from a previous Flow</description>
        <name>caseCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the Entitlement</description>
        <name>entitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID as a variable passed from another Flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the entitlement name</description>
        <name>var_EntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
