force-app/main/default/flows/Case_Screen_New_Team_Related_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Posts a chatter message on the Parent Case with a reference to the related Case number, for reference</description>
        <name>apx_ChatterMessageOnParentCase</name>
        <label>Chatter Message on Parent Case</label>
        <locationX>1502</locationX>
        <locationY>2006</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>scn_RelatedCaseConfirmation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scn_RelatedCaseConfirmation</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tmp_ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns single record variables to the ContentDocumentLink collection</description>
        <name>asn_ContentDocumentLinkColl</name>
        <label>Content Document Link</label>
        <locationX>1458</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>coll_ContentDocumentLinkRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContentDocumentIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables for a single Content Document Link record</description>
        <name>var_SingleContentDocumentLinkVars</name>
        <label>Single Content Document Link Vars</label>
        <locationX>1458</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContentDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_ContentDocumentLinkColl</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_CostMaintenance</name>
        <choiceText>Cost Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_CreditCollections</name>
        <choiceText>Credit and Collections</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit and Collections</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_EquipmentPartsService</name>
        <choiceText>Equipment Parts and Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment Parts and Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCCIN</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Cincinnati</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Cincinnati</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCDAL</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Dallas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Dallas</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCJAX</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Jacksonville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Jacksonville</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_FSPKG_CXCLA</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FS/PKG - &lt;/span&gt;CXC Los Angeles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FS/PKG - CXC Los Angeles</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCCIN</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PRINT - CXC &lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Cincinnati&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Cincinnati</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCLA</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;PRINT - CXC Los Angeles&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Los Angeles</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCMN</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;PRINT - &lt;/span&gt;CXC Minneapolis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC Minneapolis</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_PRT_CXCNJ</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;PRINT - CXC New Jersey&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PRINT - CXC New Jersey</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determines if Files (Content Documents) were uploaded by the user in the previous screen</description>
        <name>dec_FilesUploaded</name>
        <label>Files Uploaded</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>get_RelatedCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_FilesUploaded_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coll_ContentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_ContentDocumentIDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which Team was selected in the previous screen</description>
        <name>dec_TeamSelected</name>
        <label>Team Selected</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_CostMaintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CostMaintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_CostMaintenance</targetReference>
            </connector>
            <label>Cost Maintenance</label>
        </rules>
        <rules>
            <name>ocm_CreditCollections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_CreditCollections</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_QId_CreditCollections</targetReference>
            </connector>
            <label>Credit &amp; Collections</label>
        </rules>
        <rules>
            <name>ocm_EquipmentPartsService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_EquipmentPartsService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_EquipmentPartsService</targetReference>
            </connector>
            <label>Equip Parts &amp; Srvc</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCCIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCCIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_FSPKG_CXCCIN</targetReference>
            </connector>
            <label>FS/PKG - CXC CIN</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCDAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCDAL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_FSPKG_CXCDAL</targetReference>
            </connector>
            <label>FS/PKG - CXC DAL</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCJAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCJAX</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_FSPKG_CXCJAX</targetReference>
            </connector>
            <label>FS/PKG - CXC JAX</label>
        </rules>
        <rules>
            <name>ocm_FSPKG_CXCLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_FSPKG_CXCLA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_FSPKG_CXCLA</targetReference>
            </connector>
            <label>FS/PKG - CXC LA</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCCIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCCIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_PRT_CXCCIN</targetReference>
            </connector>
            <label>PRT - CXC CIN</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCLA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_PRT_CXCLA</targetReference>
            </connector>
            <label>PRT - CXC LA</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCMN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCMN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_PRT_CXCMN</targetReference>
            </connector>
            <label>PRT - CXC MN</label>
        </rules>
        <rules>
            <name>ocm_PRT_CXCNJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_PRT_CXCNJ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_QId_PRT_CXCNJ</targetReference>
            </connector>
            <label>PRT - CXC NJ</label>
        </rules>
    </decisions>
    <description>Allows teams to create a new related Case for another team from an existing Case
&lt;Credit &amp; Collections removed until this team starts using Cases in SFDC&gt;</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the org hyperlink to be used as a clickable link</description>
        <name>fx_Hyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <description>Stores text to be used in the Custom Description field on the new related Case</description>
        <name>var_CaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;This Case was created by another team and assigned to your Queue. See Case Comments and the related Parent Case for additional details.&quot;</expression>
    </formulas>
    <interviewLabel>Allows teams to create a new related Case for another team from an existing Case Case - Screen - New Team Related Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Screen - New Team Related Case</label>
    <loops>
        <description>Loops over collection of Content Document IDs</description>
        <name>loop_ContentDocumentIDs</name>
        <label>Content Document IDs</label>
        <locationX>1370</locationX>
        <locationY>1094</locationY>
        <collectionReference>coll_ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>var_SingleContentDocumentLinkVars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crt_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Case Comments record related to the new Case</description>
        <name>crt_CaseComments</name>
        <label>Case Comments</label>
        <locationX>1502</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>apx_ChatterMessageOnParentCase</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>ipt_RelatedCaseComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Content Document Links records</description>
        <name>crt_ContentDocumentLinks</name>
        <label>Content Document Links</label>
        <locationX>1370</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>get_RelatedCase</targetReference>
        </connector>
        <inputReference>coll_ContentDocumentLinkRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates new related Case record and assigns to the Queue selected in the previous screen</description>
        <name>crt_RelatedCase</name>
        <label>Related Case</label>
        <locationX>1502</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>var_RelatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>dec_FilesUploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomDescription__c</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_SelectedTeam_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_SelectedTeam_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ipt_RelatedCase_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_User_ID__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the current Case record that invoked the Flow</description>
        <name>get_Case</name>
        <label>Current Case</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scn_RelatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>get_QId_CreditCollections</name>
        <label>Queue ID</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTypeId_CreditCollections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_CreditCollections</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Record Type Id for the team selected</description>
        <name>get_RecordTypeId_ConsoleCase</name>
        <label>RecordType ID</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_RelatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_RT_ConsoleCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Record Type Id for the team selected</description>
        <name>get_RecordTypeId_CostMaintenance</name>
        <label>RecordType ID</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_RelatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_RT_CostMaintenance</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Record Type Id for the team selected</description>
        <name>get_RecordTypeId_CreditCollections</name>
        <label>RecordType ID</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_RelatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_RT_CreditCollections</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Record Type Id for the team selected</description>
        <name>get_RecordTypeId_EquipmentPartsService</name>
        <label>RecordType ID</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_RelatedCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_RT_EquipmentPartsService</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets additional info for the new related Case</description>
        <name>get_RelatedCase</name>
        <label>Related Case</label>
        <locationX>1502</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_CaseComments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_CostMaintenance</name>
        <label>Queue ID</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTypeId_CostMaintenance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_CostMaintenance</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_EquipmentPartsService</name>
        <label>Queue ID</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTypeId_EquipmentPartsService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_EquipmentPartsService</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_FSPKG_CXCCIN</name>
        <label>Queue ID</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_FSPKG_CXCCIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_FSPKG_CXCDAL</name>
        <label>Queue ID</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_FSPKG_CXCDAL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_FSPKG_CXCJAX</name>
        <label>Queue ID</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_FSPKG_CXCJAX</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_FSPKG_CXCLA</name>
        <label>Queue ID</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_FSPKG_CXCLA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_PRT_CXCCIN</name>
        <label>Queue ID</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_PRT_CXCCIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_PRT_CXCLA</name>
        <label>Queue ID</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_PRT_CXCLA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_PRT_CXCMN</name>
        <label>Queue ID</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_PRT_CXCMN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Queue Id for the team selected</description>
        <name>var_QId_PRT_CXCNJ</name>
        <label>Queue ID</label>
        <locationX>2690</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_RecordTypeId_ConsoleCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DevName_Q_PRT_CXCNJ</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_SelectedTeam_Q</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scn_RelatedCase</name>
        <label>New Related Case</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_TeamSelected</targetReference>
        </connector>
        <fields>
            <name>txt_RelatedCase</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(1, 118, 211);&quot;&gt;Create a new related case to assign to the Queue of another team&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ipt_RelatedCase_DeptQueue</name>
            <choiceReferences>chc_CostMaintenance</choiceReferences>
            <choiceReferences>chc_EquipmentPartsService</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCCIN</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCDAL</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCJAX</choiceReferences>
            <choiceReferences>chc_FSPKG_CXCLA</choiceReferences>
            <choiceReferences>chc_PRT_CXCCIN</choiceReferences>
            <choiceReferences>chc_PRT_CXCLA</choiceReferences>
            <choiceReferences>chc_PRT_CXCMN</choiceReferences>
            <choiceReferences>chc_PRT_CXCNJ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;To find the appropriate CXC Team to assign the related Case, go to the Account record and hover over the &apos;ANI Primary&apos; to see the CXC Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://veritiv--test.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0688M0000003iH0?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;UserRoleHover.png&quot;&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipt_RelatedCase_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Max field length is 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_RelatedCase_Subject})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_RelatedCaseComments</name>
            <fieldText>Case Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Max field length is 4,000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_RelatedCaseComments})&lt;=4000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uld_RelatedCase_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload (multiples must be attached at same time)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coll_ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_RelatedCase_DeptQueue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Related Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a confirmation that a new related Case was created for another team</description>
        <name>scn_RelatedCaseConfirmation</name>
        <label>Confirmation</label>
        <locationX>1502</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_RelatedCaseConfirmation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(1, 118, 211);&quot;&gt;Related Case# &lt;/strong&gt;&lt;a href=&quot;/{!var_RelatedCaseId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;{!get_RelatedCase.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(1, 118, 211);&quot;&gt;created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>tmp_ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Related Case# {!get_RelatedCase.CaseNumber} was created</text>
    </textTemplates>
    <variables>
        <description>Stores the IDs of uploaded files (Content Documents)</description>
        <name>coll_ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores record variables to Content Document Link collection to be created</description>
        <name>coll_ContentDocumentLinkRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current assignment values for the Content Document Link to be created</description>
        <name>var_ContentDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_CostMaintenance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COST_MAINT_MAIN_INTERNAL_E2C</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_CreditCollections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CREDIT_COLLECTIONS</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_EquipmentPartsService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EQUIP_PARTS_AND_SERVICE_TRANSFER_E2C</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_FSPKG_CXCCIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIN_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_FSPKG_CXCDAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DAL_ESCALATION_QUEUE</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_FSPKG_CXCJAX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>JAX_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_FSPKG_CXCLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LA_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_PRT_CXCCIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIN_PRT_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_PRT_CXCLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LA_PRT_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_PRT_CXCMN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MN_PRT_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Group</description>
        <name>var_DevName_Q_PRT_CXCNJ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NJ_PRT_ESC_LEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Record Type</description>
        <name>var_DevName_RT_ConsoleCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Console_CS_Lightning</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Record Type</description>
        <name>var_DevName_RT_CostMaintenance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cost_Maintenance</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Record Type</description>
        <name>var_DevName_RT_CreditCollections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit_Collections</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Developer Name for the Record Type</description>
        <name>var_DevName_RT_EquipmentPartsService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Equipment_Parts_and_Service</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the new related Case</description>
        <name>var_RelatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Queue (Group) ID</description>
        <name>var_SelectedTeam_Q</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Record Type ID</description>
        <name>var_SelectedTeam_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
