force-app/main/default/flows/Credit_App_send_email_if_not_returned_by_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Credit_App_submitter</name>
        <label>Email to Credit App submitter</label>
        <locationX>176</locationX>
        <locationY>479</locationY>
        <actionName>Account.Credit_App_sent_and_not_returned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Credit_App_sent_and_not_returned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Time based flow to notify submitter if Customer doesn&apos;t return credit app after 7 days.  Reevaluate every 7 days for 4 weeks.</description>
    <environments>Default</environments>
    <interviewLabel>Credit App - send email if not returned by Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit App - send email if not returned by Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} = &quot;Prospect&quot;,
ISCHANGED({!$Record.Credit_Action_for_Setup__c}),
{!$Record.Credit_App_Returned__c} = False,
OR (
ISPICKVAL({!$Record.Credit_Action_for_Setup__c},&quot;1&quot;),
ISPICKVAL({!$Record.Credit_Action_for_Setup__c},&quot;2&quot;),
ISPICKVAL({!$Record.Credit_Action_for_Setup__c},&quot;3&quot;)
)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_after_form_sent</name>
            <connector>
                <targetReference>Email_to_Credit_App_submitter</targetReference>
            </connector>
            <label>5 Days after form sent</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Credit_Submitted_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X12_Days_after_Form_Sent</name>
            <connector>
                <targetReference>Email_to_Credit_App_submitter</targetReference>
            </connector>
            <label>12 Days after Form Sent</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Credit_Submitted_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X19_Days_after_Form_sent</name>
            <connector>
                <targetReference>Email_to_Credit_App_submitter</targetReference>
            </connector>
            <label>19 Days after Form sent</label>
            <offsetNumber>19</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Credit_Submitted_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X26_Days_after_Form_Sent</name>
            <connector>
                <targetReference>Email_to_Credit_App_submitter</targetReference>
            </connector>
            <label>26 Days after Form Sent</label>
            <offsetNumber>26</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Credit_Submitted_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
