force-app/main/default/flows/Email_Message_Incoming_Case_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email for troubleshooting when error occurs</description>
        <name>apx_Error_Email_Alert</name>
        <label>Error Email Alert</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>udt_Update_Related_Case_OnError</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmp_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>adam.ross@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error Email Alert: Email Message - Incoming Case Related</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Determines if the Case was just created with this Email Message via Email-to-Case, if the Case already existed and is Open, or if the Case already existed and is Closed</description>
        <name>dec_Case_CreatedViaE2C</name>
        <label>Email Received</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>udt_Related_Case_ExistingCaseClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Case OR Created (not E2C)</defaultConnectorLabel>
        <rules>
            <name>ocm_EmailReceived_CaseCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fx_Case_CreatedDatePlus1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Related_Case_CaseCreate</targetReference>
            </connector>
            <label>Case Created (E2C)</label>
        </rules>
    </decisions>
    <description>Inbound Email Message automation</description>
    <environments>Default</environments>
    <formulas>
        <description>Adds 1 minute to the Parent Case CreatedDate to be used to determine if the Parent Case is being created via Email-to-Case initially with this email</description>
        <name>fx_Case_CreatedDatePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Parent.CreatedDate}+ (1/1440)</expression>
    </formulas>
    <formulas>
        <name>fx_CaseHyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) &amp; {!$Record.ParentId}</expression>
    </formulas>
    <formulas>
        <description>Adds 1 to the current value of the &apos;Email Counter&apos; field on the related Case</description>
        <name>fx_EmailCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Parent.Email_Counter__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Gets the current email count from the &apos;New Email Flag&apos; field on the related parent Case record and adds 1. This field was originally created to only track new emails on closed Cases, so updating this field will retain that pre-existing functionality.</description>
        <name>fx_NewEmailFlag</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Parent.New_Email_Flag__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Email Message - Incoming Case Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - Incoming Case Related</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>udt_Related_Case_CaseCreate</name>
        <label>Update Related Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Counter__c</field>
            <value>
                <elementReference>fx_EmailCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inbound_Email_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>fx_NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>udt_Related_Case_ExistingCaseClosed</name>
        <label>Update Related Case</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <faultConnector>
            <targetReference>apx_Error_Email_Alert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email_Counter__c</field>
            <value>
                <elementReference>fx_EmailCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inbound_Email_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>fx_NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unread_New_Email_on_Closed_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>udt_Update_Related_Case_OnError</name>
        <label>Update Related Case</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Email_Counter__c</field>
            <value>
                <elementReference>fx_EmailCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inbound_Email_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email_Flag__c</field>
            <value>
                <elementReference>fx_NewEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Case_CreatedViaE2C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>Error message to be included in the error handling email alert</description>
        <name>tmp_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;EMAIL ALERT FROM FLOW ERROR: &lt;/span&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;Email Message - Incoming Case Related&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Check if Case# &lt;/span&gt;&lt;a href=&quot;/{!fx_CaseHyperlink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Parent.CaseNumber}&lt;/a&gt; has been updated. If so, issue appears to be related to updating the &apos;Unread New Email&apos; field, which was excluded in the record update via the error handling branch.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
