force-app/main/default/flows/FormAssembly_SS_Warehouse_Only_Vendor_Claims_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Determines if User is running the Flow in PROD</description>
        <name>dec_ViewingPROD</name>
        <label>Viewing in PROD</label>
        <locationX>1020</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>scn_FAform_SANDBOX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ViewingPROD_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OrgId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00D8M0000000MdZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_FAform_PROD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen used on the Home Page to redirect users to an external URL for the FormAssembly form for Warehouse Only Vendor Claims</description>
    <formulas>
        <name>fx_FAformLink_PROD</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.tfaforms.com/4991783?&quot; &amp; &quot;tfa_2591=&quot; &amp; {!$User.Id} &amp; &quot;&amp;tfa_2582=&quot; &amp; {!$User.Email}</expression>
    </formulas>
    <formulas>
        <description>Calculates the hyperlink to be used to redirect the user to the FormAssembly form for SANDBOX</description>
        <name>fx_FAformLink_SANDBOX</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.tfaforms.com/4988484?&quot; &amp; &quot;tfa_2591=&quot; &amp; {!$User.Id} &amp; &quot;&amp;tfa_2582=&quot; &amp; {!$User.Email}</expression>
    </formulas>
    <interviewLabel>FormAssembly - SS Warehouse Only Vendor Claims Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FormAssembly - SS Warehouse Only Vendor Claims Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Screen displays when user is viewing in PROD</description>
        <name>scn_FAform_PROD</name>
        <label>PROD FA Form</label>
        <locationX>1273</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_header_PROD</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Warehouse Only Vendor Claims&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_FAform_PROD</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fx_FAformLink_PROD}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Warehouse Only Vendor Claim Form&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen displays when user is viewing in Sandbox</description>
        <name>scn_FAform_SANDBOX</name>
        <label>SANDBOX FA Form</label>
        <locationX>1273</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_header_SANDBOX</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Warehouse Only Vendor Claims&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_FAform_SANDBOX</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fx_FAformLink_SANDBOX}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Warehouse Only Vendor Claim Form&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>dec_ViewingPROD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores value of the Salesforce.com Organization ID</description>
        <name>var_OrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Organization.Id</elementReference>
        </value>
    </variables>
</Flow>
