force-app/main/default/flows/Lead_Web_Form_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apx_EmailAlert</name>
        <label>Email Alert</label>
        <locationX>3350</locationX>
        <locationY>1139</locationY>
        <actionName>Lead.Inside_Sales_Web_Lead_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Inside_Sales_Web_Lead_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>asn_Promo_Name_01</name>
        <label>Promo Name</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS - Facility Solutions Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_02</name>
        <label>Promo Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS - FS Equipment Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_03</name>
        <label>Promo Name</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS - Reliable Brand Website - Contact Us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_04</name>
        <label>Promo Name</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS - Spring Grove Website - Contact Us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_05</name>
        <label>Promo Name</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Equipment Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_06</name>
        <label>Promo Name</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Food Packaging Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_07</name>
        <label>Promo Name</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Healthcare Packaging Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_08</name>
        <label>Promo Name</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Kitting and Assembly Contact Us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_09</name>
        <label>Promo Name</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Packaging Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_10</name>
        <label>Promo Name</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Packaging Design Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_11</name>
        <label>Promo Name</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Packaging Testing Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_12</name>
        <label>Promo Name</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Secure Wrap Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_13</name>
        <label>Promo Name</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - Sustainability Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_14</name>
        <label>Promo Name</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PKG - TUFflex Brand Website - Contact Us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_15</name>
        <label>Promo Name</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Comet Contact Us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_16</name>
        <label>Promo Name</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Econosource Landing Page - Sample Kits</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_17</name>
        <label>Promo Name</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Endurance Landing Page – Print Demos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_18</name>
        <label>Promo Name</label>
        <locationX>5330</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Poliprint Landing Page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_19</name>
        <label>Promo Name</label>
        <locationX>5594</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Seville Hi-Brite Sample Kit Promotion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_20</name>
        <label>Promo Name</label>
        <locationX>5858</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Showcase Landing Page - Swatchbook Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_21</name>
        <label>Promo Name</label>
        <locationX>6122</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRT - Starbrite Landing Page - Swatch Book</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_22</name>
        <label>Promo Name</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS - Government Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_23</name>
        <label>Promo Name</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VRTV - LEAN Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_24</name>
        <label>Promo Name</label>
        <locationX>6650</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VRTV - General Contact Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_25</name>
        <label>Promo Name</label>
        <locationX>6386</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>International Landing Page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Promo_Name_26</name>
        <label>Promo Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Promo_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social Channel Generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Promo_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines the lead page source to relate the Lead to a Promotion (Campaign). Note: because this logic uses a &apos;contains&apos; operator, the outcome order is in specific - do not change without closely evaluating the impacts of your updates.</description>
        <name>dec_Lead_Page_Source_Mapping</name>
        <label>Lead Page Source Mapping</label>
        <locationX>3350</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>asn_Promo_Name_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VRTV - General Contact Form</defaultConnectorLabel>
        <rules>
            <name>ocm_SocialChannels</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>linkedin.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>instagram.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_26</targetReference>
            </connector>
            <label>Social Channels</label>
        </rules>
        <rules>
            <name>ocm_FS_FS_Equipment_Contact_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/facility-equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_02</targetReference>
            </connector>
            <label>FS - FS Equipment Contact Form</label>
        </rules>
        <rules>
            <name>ocm_FS_Government_Contact_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/public-sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_22</targetReference>
            </connector>
            <label>FS - Government Contact Form</label>
        </rules>
        <rules>
            <name>ocm_FS_Reliable_Brand_Website_Contact_Us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/facility-solutions/reliable-brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_03</targetReference>
            </connector>
            <label>FS - Reliable Brand Website - Contact Us</label>
        </rules>
        <rules>
            <name>ocm_FS_Spring_Grove_Website_Contact_Us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/facility-solutions/spring-grove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_04</targetReference>
            </connector>
            <label>FS - Spring Grove Website - Contact Us</label>
        </rules>
        <rules>
            <name>ocm_FS_Facility_Solutions_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/facility-solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/entertainment-and-hospitality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_01</targetReference>
            </connector>
            <label>FS - Facility Solutions Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Equipment_Contact_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/packaging-automation-equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_05</targetReference>
            </connector>
            <label>PKG - Equipment Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Food_Packaging_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/food-beverage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>case-studies/custom-beer-packaging-brickstone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>case-studies/wholesale-bakery-lean-approach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_06</targetReference>
            </connector>
            <label>PKG - Food Packaging Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Healthcare_Packaging_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>case-studies/pharmaceutical-packaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_07</targetReference>
            </connector>
            <label>PKG - Healthcare Packaging Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Kitting_and_Assembly_Contact_Us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/kitting-and-assembly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_08</targetReference>
            </connector>
            <label>PKG - Kitting and Assembly Contact Us</label>
        </rules>
        <rules>
            <name>ocm_PKG_TUFflex_Brand_Website_Contact_Us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/packaging-solutions/tufflex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_14</targetReference>
            </connector>
            <label>PKG - TUFflex Brand Website - Contact Us</label>
        </rules>
        <rules>
            <name>ocm_PKG_Packaging_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/packaging-solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/manufacturing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>markets/wholesale-retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_09</targetReference>
            </connector>
            <label>PKG - Packaging Contact Form</label>
        </rules>
        <rules>
            <name>ocm_VRTV_LEAN_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/lean</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>case-studies/lean-approach-cleaning-processes-improvement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_23</targetReference>
            </connector>
            <label>VRTV - LEAN Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Packaging_Design_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>custom-packaging-solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>case-studies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_10</targetReference>
            </connector>
            <label>PKG - Packaging Design Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Packaging_Testing_Contact_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/package-testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_11</targetReference>
            </connector>
            <label>PKG - Packaging Testing Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PKG_Secure_Wrap_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/secure-wrap-analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_12</targetReference>
            </connector>
            <label>PKG - Secure Wrap Analysis</label>
        </rules>
        <rules>
            <name>ocm_PKG_Sustainability_Contact_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sustainability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_13</targetReference>
            </connector>
            <label>PKG - Sustainability Contact Form</label>
        </rules>
        <rules>
            <name>ocm_PRT_Comet_Contact_Us</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/comet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_15</targetReference>
            </connector>
            <label>PRT - Comet Contact Us</label>
        </rules>
        <rules>
            <name>ocm_PRT_Econosource_Landing_Page_Sample_Kits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/econosource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_16</targetReference>
            </connector>
            <label>PRT - Econosource Landing Page - Sample Kits</label>
        </rules>
        <rules>
            <name>ocm_PRT_Endurance_Landing_Page_Print_Demos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/endurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_17</targetReference>
            </connector>
            <label>PRT - Endurance Landing Page – Print Demos</label>
        </rules>
        <rules>
            <name>ocm_PRT_Poliprint_Landing_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/poliprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_18</targetReference>
            </connector>
            <label>PRT - Poliprint Landing Page</label>
        </rules>
        <rules>
            <name>ocm_PRT_Seville_Hi_Brite_Sample_Kit_Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/seville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_19</targetReference>
            </connector>
            <label>PRT - Seville Hi-Brite Sample Kit Promotion</label>
        </rules>
        <rules>
            <name>ocm_PRT_Showcase_Landing_Page_Swatchbook_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/showcase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_20</targetReference>
            </connector>
            <label>PRT - Showcase Landing Page - Swatchbook Request</label>
        </rules>
        <rules>
            <name>ocm_PRT_Starbrite_Landing_Page_Swatch_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>solutions/paper-print/starbrite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_21</targetReference>
            </connector>
            <label>PRT - Starbrite Landing Page - Swatch Book</label>
        </rules>
        <rules>
            <name>ocm_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>services/global-services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Promo_Name_25</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a Promotion (Campaign) record was found</description>
        <name>dec_Promo_Found</name>
        <label>Promo Found</label>
        <locationX>3350</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>udt_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Promo_FoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Promo_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crt_Promotion_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automated process related to leads received through forms on Veritiv websites</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Web Form Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Web Form Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Promotion Member (CampaignMember) record to link the Lead to the mapped Promotion (Campaign)</description>
        <name>crt_Promotion_Member</name>
        <label>Promotion Member</label>
        <locationX>3218</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>udt_Field_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>get_Promo_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Promotion record ID for the stored variable</description>
        <name>get_Promo_ID</name>
        <label>Promo ID</label>
        <locationX>3350</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Promo_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Promo_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates fields on the Lead record</description>
        <name>udt_Field_Updates</name>
        <label>Field Updates</label>
        <locationX>3350</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>apx_EmailAlert</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadSourceMostRecentDetail__c</field>
            <value>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Role__c</field>
            <value>
                <stringValue>Sales Primary Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_with_Marketing_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Lead_Page_Source_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Form</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the mapped Promotion (Campaign) Name</description>
        <name>var_Promo_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
