force-app/main/default/flows/Legal_Contract_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>alert_Email_CAM_Team</name>
        <label>Email CAM Team</label>
        <locationX>1708</locationX>
        <locationY>534</locationY>
        <actionName>Legal_Contract__c.Legal_Contract_Email_CAM_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Display_Final_Screen2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Legal_Contract__c.Legal_Contract_Email_CAM_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>alert_Email_Field_Sales</name>
        <label>Email Field Sales</label>
        <locationX>1608</locationX>
        <locationY>651</locationY>
        <actionName>Legal_Contract__c.Legal_Contract_Email_Field_Sales_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Display_Final_Screen2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Legal_Contract__c.Legal_Contract_Email_Field_Sales_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>alert_Email_Print_Team</name>
        <label>Email Print Team</label>
        <locationX>1645</locationX>
        <locationY>329</locationY>
        <actionName>Legal_Contract__c.Legal_Contract_Email_Print_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Display_Final_Screen2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Legal_Contract__c.Legal_Contract_Email_Print_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Determine if this is initiating from Opportunity or account</description>
        <name>apex_Determine_if_from_Opp_or_Account</name>
        <label>Determine if from Opp or Account</label>
        <locationX>77</locationX>
        <locationY>191</locationY>
        <actionName>GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Object_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIdStrings</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectName</nameSegment>
        <outputParameters>
            <assignToReference>var_objectname</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Legal_LIne_Items_to_collection</name>
        <label>Add Legal LIne Items to collection</label>
        <locationX>1079</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>var_legallinescollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_contract_line_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>store the account ID from the Opportunity</description>
        <name>assign_Assigned_Account_ID_Opp</name>
        <label>Assigned Account ID</label>
        <locationX>195</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Get_Account_Record_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Contract_Line_Items</name>
        <label>Assign Legal Contract Line Items</label>
        <locationX>978</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Product_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Product_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Product_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Maximum_Inventory_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Maximum_Inventory_Level2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Inventory_Level_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Unit_of_Measure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Projected_Monthly_Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_projected_monthly_usage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contract_line_item.Legal_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Legal_LIne_Items_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice</name>
        <choiceText>choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_manual</name>
        <choiceText>Manually Enter Product Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually Enter Product Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_uom2</name>
        <choiceText>choice_uom2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_uom2</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_upload</name>
        <choiceText>Upload the Product File</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload the Product File</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_More_Products</name>
        <label>Add More Products?</label>
        <locationX>986</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>Create_Legal_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcome_yes_more_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_add_more_products.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_CDI_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If both Account and Owner of account are inactive, stop them from continuing</description>
        <name>decision_Are_account_and_owner_inactive</name>
        <label>Are account and owner inactive</label>
        <locationX>179</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>create_contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_and_Owner_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_and_Owner_Inactive</targetReference>
            </connector>
            <label>Account and Owner Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine which group of coordinators this contract belongs to so we can send the notification email to the right group.</description>
        <name>decision_Coordinator_Group</name>
        <label>Coordinator Group</label>
        <locationX>1482</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>alert_Email_Field_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Field Sales</defaultConnectorLabel>
        <rules>
            <name>outcome_Print</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Record.Segment_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_Email_Print_Team</targetReference>
            </connector>
            <label>Print</label>
        </rules>
        <rules>
            <name>outcome_parent_national</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Record.National_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_prospect_Field_Sales_or_a_Parent_National_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent National Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_Email_CAM_Team</targetReference>
            </connector>
            <label>Parent National</label>
        </rules>
    </decisions>
    <decisions>
        <description>If doc type is nda, cdi, cdi exception or equipment proposal, pass those values to Contract Type.</description>
        <name>decision_Doc_type_to_fill_in_Contract_Type</name>
        <label>Doc type to fill in Contract Type</label>
        <locationX>1026</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Type_NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Document_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NDA</targetReference>
            </connector>
            <label>Contract Type NDA</label>
        </rules>
        <rules>
            <name>decision_Contract_Type_CDI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Document_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDI Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CDI</targetReference>
            </connector>
            <label>Contract Type CDI</label>
        </rules>
        <rules>
            <name>decision_Contract_Type_CDI_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Document_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDI Agreement EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CDI_Exception</targetReference>
            </connector>
            <label>Contract Type CDI Exception</label>
        </rules>
        <rules>
            <name>Other_Document_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Document_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Document Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Coordinator_Group</targetReference>
            </connector>
            <label>Other Document Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_document_Type</name>
        <label>Document Type</label>
        <locationX>513</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Other_or_File_Signed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>choice_document_type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Document Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_File_Signed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store FULLY SIGNED Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Other_Doc_Type</targetReference>
            </connector>
            <label>Other or File Signed</label>
        </rules>
        <rules>
            <name>outcome_CDI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>choice_document_type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDI Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choice_document_type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDI Agreement EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CDI</targetReference>
            </connector>
            <label>CDIs</label>
        </rules>
        <rules>
            <name>outcome_NDA2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_document_type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NDA</targetReference>
            </connector>
            <label>NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Object_Type</name>
        <label>Object Type?</label>
        <locationX>63</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>get_Get_Account_Record_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity</defaultConnectorLabel>
        <rules>
            <name>outcome_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_objectname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account_Record</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_File_or_Manually_Enter</name>
        <label>Upload or Enter</label>
        <locationX>701</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Upload_or_Manual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_upload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_upload_file</targetReference>
            </connector>
            <label>Upload</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Upload_or_Manual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_manual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_CDI_Products</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <description>Sellers initiate this flow by selecting the Contract Intake button on Account or Opportunity.  This flow collects the intake information needed to build the Legal Contract object and eventually integrate with CLM system.</description>
    <dynamicChoiceSets>
        <name>choice_cdi_rationale2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CDI_Rationale__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Source__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_document_type2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_evergreenl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Evergreen__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_input_typel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_nda_source2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NDA_Source__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_other_agreementsl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Agreements__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_pricing_languagel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pricing_Language_Included__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_program_managed2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Program_Managed__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_rebates_languagel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rebates_Language_Included__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_stocking_languagel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stocking_Language_Included__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_template_modified2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_the_Template_been_modified__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_UOMl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inventory_Level_UOM__c</picklistField>
        <picklistObject>Legal_Contract_Lines__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choiceset_file_signed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>File_Signed__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>prospectfieldorparentNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prospect_Field_or_Parent__c</picklistField>
        <picklistObject>Legal_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Legal Contract Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Contract - Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the contract at this point so it can handle attachments better</description>
        <name>create_contract</name>
        <label>Create Contract</label>
        <locationX>316</locationX>
        <locationY>526</locationY>
        <assignRecordIdToReference>var_Contract_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Contract_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5w000008Xh7e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125w0000013qolAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contract_status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Line_Items</name>
        <label>Create Legal Line Items</label>
        <locationX>1191</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Update_Legal_Contract</targetReference>
        </connector>
        <inputReference>var_legallinescollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>73</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Are_account_and_owner_inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Get_Account_Record_Opportunity</name>
        <label>Get Account Record</label>
        <locationX>233</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Assigned_Account_ID_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CDI</name>
        <label>CDI</label>
        <locationX>1299</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>decision_Coordinator_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>CDI Agreement</stringValue>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CDI_Exception</name>
        <label>CDI Exception</label>
        <locationX>1290</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>decision_Coordinator_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>CDI Agreement EXCEPTION</stringValue>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Save early to detect any errors</description>
        <name>Update_Interim_Record</name>
        <label>Update Interim Record</label>
        <locationX>425</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>decision_document_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Bill_Tos__c</field>
            <value>
                <elementReference>Input_Additional_Bill_Tos2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Emails__c</field>
            <value>
                <elementReference>Input_Additional_Customer_Emails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Signer_Email__c</field>
            <value>
                <elementReference>input_Customer_Signer_email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Signer_Name__c</field>
            <value>
                <elementReference>input_Customer_Signer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>input_Contract_Description_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>input_Document_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Signed__c</field>
            <value>
                <elementReference>input_File_Signed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Program_Managed__c</field>
            <value>
                <elementReference>input_Program_Managed_L</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Manager__c</field>
            <value>
                <elementReference>input_program_mgr.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Field_or_Parent__c</field>
            <value>
                <elementReference>input_prospect_Field_Sales_or_a_Parent_National_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_Contract</name>
        <label>Update Legal Contract</label>
        <locationX>922</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>decision_Doc_type_to_fill_in_Contract_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CDI_Rationale__c</field>
            <value>
                <elementReference>input_CDI_Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Annual_Value__c</field>
            <value>
                <elementReference>input_Contract_Annual_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Source__c</field>
            <value>
                <elementReference>choice_ContractSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>input_Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Annual_Spend__c</field>
            <value>
                <elementReference>input_Customer_Annual_Spend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>input_Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evergreen__c</field>
            <value>
                <elementReference>input_Evergreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>input_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_the_Template_been_modified__c</field>
            <value>
                <elementReference>Input_template_modifiedL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Source__c</field>
            <value>
                <elementReference>choice_nda_source2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>input_Document_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>get_Get_Account_Record_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Agreements__c</field>
            <value>
                <elementReference>input_other_agreements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5w000008Xh7d</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Language_Included__c</field>
            <value>
                <elementReference>input_Pricing_Language_Included</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebates_Language_Included__c</field>
            <value>
                <elementReference>input_Rebates_Language_Included</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stocking_Language_Included__c</field>
            <value>
                <elementReference>input_Stocking_Language_Included</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NDA</name>
        <label>NDA</label>
        <locationX>1384</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>decision_Coordinator_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>NDA</stringValue>
            </value>
        </inputAssignments>
        <object>Legal_Contract__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_and_Owner_Inactive</name>
        <label>Account and Owner Inactive</label>
        <locationX>315</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_acct_and_owner_inactive</name>
            <fieldText>&lt;p&gt;You have selected an Account that is inactive with an owner that is inactive.  Please locate an active Account or Prospect to use instead.  If there are none, create a Prospect Account and initiate the Legal Contract from there.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Screen</name>
        <label>Contract Screen</label>
        <locationX>338</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Interim_Record</targetReference>
        </connector>
        <fields>
            <name>text_name_account</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Account:  {!get_Account_Record.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text_name_opportunity</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity:  {!get_Get_Account_Record_Opportunity.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_Document_Type2</name>
            <choiceReferences>choice_document_type2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Contract_Description_Comments</name>
            <dataType>String</dataType>
            <fieldText>Contract Description/Internal Comments/Special Processing Instructions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Program_Managed_L</name>
            <choiceReferences>choice_program_managed2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Account Program Managed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URL_link_Program_Mgrs</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://uwpatlc3plapp01/Reports/Pages/Report.aspx?ItemPath=/Unify/Account+Assignments+Portal+Report/ActiveAcctAssignments&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;Cllck here to find Program Managed Accounts and associated Program Managers&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_program_mgr</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Program_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Legal_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Program_Managed_L</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_prospect_Field_Sales_or_a_Parent_National_Account</name>
            <choiceReferences>prospectfieldorparentNA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this prospect Field Sales or a Parent National Account?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Account_Record.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_File_Signed</name>
            <choiceReferences>Choiceset_file_signed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Customer_Signer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Signer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Document_Type2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CDI Agreement EXCEPTION</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_File_Signed</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Store FULLY SIGNED Agreement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Customer_Signer_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Signer Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_Document_Type2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CDI Agreement EXCEPTION</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_File_Signed</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Store FULLY SIGNED Agreement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_Additional_Customer_Emails</name>
            <dataType>String</dataType>
            <fieldText>Additional Customer Emails</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If you wish the final contract to be sent to any additional people at Customer&apos;s location, enter their email addresses here, separated by a semi colon.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Additional_Bill_Tos2</name>
            <dataType>String</dataType>
            <fieldText>Additional Bill Tos</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter in the form of System Code followed by Bill To Number.  ex.  sw123456,pc987654&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Final_Screen2</name>
        <label>Display Final Screen</label>
        <locationX>1937</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_final_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You have successfully completed the Legal Contract request.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You will find the request on the Account, under the related list named Legal Contracts.  The status field will be updated with the progress of the request as the contract flows through the review, redlining and signature stages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Show any errors that occured on first screen</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>517</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_error_1</name>
            <fieldText>&lt;p&gt;Something went wrong:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 6);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen2</name>
        <label>Error Screen</label>
        <locationX>836</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flow_error2</name>
            <fieldText>&lt;p&gt;Something went wrong:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CDI</name>
        <label>CDIs</label>
        <locationX>633</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_File_or_Manually_Enter</targetReference>
        </connector>
        <fields>
            <name>display_CDI</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;CDI Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_CDI_Rationale</name>
            <choiceReferences>choice_cdi_rationale2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CDI Rationale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_template_modifiedL</name>
            <choiceReferences>choice_template_modified2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the legal language changed/modified from original?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_modified_template</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Modified Template if Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_Contract_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_template_modifiedL</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_cpass</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload CPass (Required)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_Contract_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_Upload_or_Manual</name>
            <choiceReferences>choice_manual</choiceReferences>
            <choiceReferences>choice_upload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to upload the CDI Product Table or manually enter your items?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_CDI_Products</name>
        <label>CDI Products</label>
        <locationX>889</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Legal_Contract_Line_Items</targetReference>
        </connector>
        <fields>
            <name>Product_instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add the next Product Line Item below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>outcome_yes_more_products</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Product_Number</name>
            <dataType>String</dataType>
            <fieldText>Product Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter TBD if product number is currently unknown.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Product_Description</name>
            <dataType>String</dataType>
            <fieldText>Product Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Maximum_Inventory_Level2</name>
            <dataType>Number</dataType>
            <fieldText>Maximum Inventory Level</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_Unit_of_Measure</name>
            <choiceReferences>choice_UOMl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit of Measure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_projected_monthly_usage2</name>
            <dataType>Number</dataType>
            <fieldText>Projected Monthly Usage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_add_more_products</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to add another Product?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_NDA</name>
        <label>NDA</label>
        <locationX>726</locationX>
        <locationY>311</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Legal_Contract</targetReference>
        </connector>
        <fields>
            <name>display_NDA</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;NDA Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_NDA_Source_L</name>
            <choiceReferences>choice_nda_source2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NDA Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Veritiv_Provided</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Veritiv Provided NDA will send our standard NDA agreement.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_NDA_Source_L</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Veritiv Provided NDA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Provided</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer Provided will require you to attach the customer&apos;s NDA, preferably in Word format.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_NDA_Source_L</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Provided NDA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_Customer_NDA</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Customer NDA (Required)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_Contract_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_NDA_Source_L</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Provided NDA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Other_Doc_Type</name>
        <label>Other Doc Type</label>
        <locationX>748</locationX>
        <locationY>414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Legal_Contract</targetReference>
        </connector>
        <fields>
            <name>display_Other</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Contract Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_customer_document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Customer Document (Required)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_Contract_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input_Contract_Type</name>
            <choiceReferences>choice_input_typel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Contract_Source</name>
            <choiceReferences>choice_ContractSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Evergreen</name>
            <choiceReferences>choice_evergreenl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Evergreen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Evergreen means an agreement automatically renews indefinitely.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Contract_Annual_Value</name>
            <dataType>Currency</dataType>
            <fieldText>Contract Annual Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_Customer_Annual_Spend</name>
            <dataType>Currency</dataType>
            <fieldText>Customer Annual Spend with Veritiv</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>input_other_agreements</name>
            <choiceReferences>choice_other_agreementsl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any other agreements with this Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Pricing_Language_Included</name>
            <choiceReferences>choice_pricing_languagel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pricing Language Included</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Rebates_Language_Included</name>
            <choiceReferences>choice_rebates_languagel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rebates Language Included</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Stocking_Language_Included</name>
            <choiceReferences>choice_stocking_languagel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stocking Language Included</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_upload_file</name>
        <label>Upload File</label>
        <locationX>795</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Legal_Contract</targetReference>
        </connector>
        <fields>
            <name>upload_product_file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Product File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_Contract_ID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>apex_Determine_if_from_Opp_or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>storing record id in text field</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contract_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contract_line_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Contract_Lines__c</objectType>
    </variables>
    <variables>
        <name>var_legallinescollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Contract_Lines__c</objectType>
    </variables>
    <variables>
        <name>var_objectname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_work_order_line_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
