force-app/main/default/flows/Legal_Contract_Upon_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If account owner is active continue, else skip sharing as it will cause a failure</description>
        <name>decision_Is_Account_Owner_active</name>
        <label>Is Account Owner active</label>
        <locationX>541</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Owner_a_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sharing</targetReference>
            </connector>
            <label>Account Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Changed</name>
        <label>Is Owner Changed</label>
        <locationX>453</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Is_Account_Owner_active</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prior_Owner_a_queue</name>
        <label>Is Prior Owner a queue</label>
        <locationX>858</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Owner is not queue</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Prior_owner_is_queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Prior Owner was Queue</label>
        </rules>
    </decisions>
    <description>Actions to take when a Legal Contract record is updated.  All new contracts created will hit this flow as we change owner at the end of the Intake process from Flow Processing Queue to CLM Intake Queue.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_Prior_owner_is_queue</name>
        <dataType>Boolean</dataType>
        <expression>IF (LEFT( {!$Record__Prior.OwnerId}, 3) = &quot;00G&quot;, True ,False)</expression>
    </formulas>
    <interviewLabel>Legal Contract - Upon Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Contract - Upon Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Share Legal Contract with Account Owner</description>
        <name>Create_Sharing</name>
        <label>Create Sharing</label>
        <locationX>647</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Is_Prior_Owner_a_queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Contract__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Update status to &quot;With Admin&quot; when owner changes</description>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1102</locationX>
        <locationY>324</locationY>
        <inputAssignments>
            <field>contract_status__c</field>
            <value>
                <stringValue>With Admin</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>29</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Is_Owner_Changed</targetReference>
        </connector>
        <object>Legal_Contract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
