force-app/main/default/flows/Lookup_Supply_Planner_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Supply_Planner_from_Segment</name>
        <label>Set Supply Planner from Segment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supply_Planner_from_Segment.Supply_Planner__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Supply_Planner_from_Vendor_Segment_Division_Match</name>
        <label>Set Supply Planner from Vendor, Segment, Division Match</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supply_Planner_from_Vendor_Segment_Division.Supply_Planner__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_match</name>
        <label>Found match?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Supply_Planner_from_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Found_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Supply_Planner_from_Vendor_Segment_Division</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Supply_Planner_from_Vendor_Segment_Division_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Lookup Supply Planner based on Division, Segment, and Vendor (or Segment only)</description>
    <environments>Default</environments>
    <formulas>
        <description>Use only Segment for the fallback match</description>
        <name>frm_FallBackMatchString</name>
        <dataType>String</dataType>
        <expression>&quot;-&quot;&amp;{!segment}&amp;&quot;-&quot;</expression>
    </formulas>
    <formulas>
        <description>Vendor - Segment - Division</description>
        <name>frm_MatchString</name>
        <dataType>String</dataType>
        <expression>{!vendor}&amp;&quot;-&quot;&amp;{!segment}&amp;&quot;-&quot;&amp;{!division}</expression>
    </formulas>
    <interviewLabel>Lookup Supply Planner Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Supply Planner Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup Supply Planner using just Segment (fallback)</description>
        <name>Get_Supply_Planner_from_Segment</name>
        <label>Get Supply Planner from Segment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Supply_Planner_from_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Match_String__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frm_FallBackMatchString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supply_Planner_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Filter out inactive users using Is Owner Active? formula field</description>
        <name>Get_Supply_Planner_from_Vendor_Segment_Division</name>
        <label>Get Supply Planner from Vendor, Segment, Division</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Match_String__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frm_MatchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>Owner_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supply_Planner_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Supply_Planner_from_Vendor_Segment_Division</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Division Composite Key</description>
        <name>division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Segment</description>
        <name>segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User Id of Supply Planner</description>
        <name>var_SupplyPlannerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Vendor Code</description>
        <name>vendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
