force-app/main/default/flows/Opportunity_SF_Kitting_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>KittingOpptyCreatedNotifyKittingTeam</name>
        <label>KittingOpptyCreatedNotifyKittingTeam</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>Opportunity.Kitting_Opportunity_Created_Notification2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>KittingOpptyCreatedNotifySalesandSubmitter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Kitting_Opportunity_Created_Notification2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>KittingOpptyCreatedNotifySalesandSubmitter</name>
        <label>KittingOpptyCreatedNotifySalesandSubmitter</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>Opportunity.Kitting_Submit_Confirmation2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Kitting_Submit_Confirmation2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Cost</name>
        <choiceText>Cost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Time</name>
        <choiceText>One Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quality</name>
        <choiceText>Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veritiv</name>
        <choiceText>Veritiv</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veritiv</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <constants>
        <name>FlowSteps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Guidelines,Kitting Contents,Delivery</stringValue>
        </value>
    </constants>
    <description>Captures the data needed for the Kitting team to make decisions and see if the potential is there.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity [SF]: Kitting Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [SF]: Kitting Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Kitting_Request_Parameters_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>push data into fields on kitting page layout</description>
        <name>Update_Kitting_Oppty</name>
        <label>Update Kitting Oppty</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>KittingOpptyCreatedNotifyKittingTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Current_CoPacker_Name__c</field>
            <value>
                <elementReference>Customer_Current_CoPacker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Sign_CDI__c</field>
            <value>
                <elementReference>CDI_PO.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Supplied_Raw_Materials__c</field>
            <value>
                <elementReference>CustomerSuppliedRawMaterials.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_with_another_CoPacker__c</field>
            <value>
                <elementReference>CustomerWorkingWithCopacker.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Danger_Hazard_Explanation__c</field>
            <value>
                <elementReference>Danger_Hazard_Explanation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deliveries_Per_Week__c</field>
            <value>
                <elementReference>Number_of_Deliveries_Per_Week</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawings_or_Pictures_Available__c</field>
            <value>
                <elementReference>PicturesDrawingsAvailable.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Delivery_Date__c</field>
            <value>
                <elementReference>Expected_First_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food_Bev_SuppsKitting__c</field>
            <value>
                <elementReference>FoodBevSupps.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FrequencyKitting__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_are_Raw_Materials_packaged__c</field>
            <value>
                <elementReference>How_are_Raw_Materials_Packaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbound_Freight_Cost_on_Raw_Materials__c</field>
            <value>
                <elementReference>Inbound_Freight_Cost_on_Raw_Materials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbound_Raw_Material_count_per_palle_del__c</field>
            <value>
                <elementReference>Inbound_Raw_Material_count_per_pallet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KitsShippingDirect__c</field>
            <value>
                <elementReference>ShippedDirect.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kits_Per_Week__c</field>
            <value>
                <elementReference>Number_of_Kits_Per_Week</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kits_stocked_at_Veritiv_warehouse__c</field>
            <value>
                <elementReference>StockedVeritivWarehouse.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kitting_Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kitting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Raw_Materials_Customer_Provided__c</field>
            <value>
                <elementReference>ListofRawMaterialsCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Special_Equipment__c</field>
            <value>
                <elementReference>List_of_Special_Equipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Kits_per_40x48_pallettext_del__c</field>
            <value>
                <elementReference>Number_of_kits_per_outbound_48x40_pallet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pain_Points_with_Current_CoPacker__c</field>
            <value>
                <elementReference>CustomersPainPoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RM_Quote_from_Rep__c</field>
            <value>
                <elementReference>RawMaterialsQuotes.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_of_Kit_Available__c</field>
            <value>
                <elementReference>SampleAvailable.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicing_Division__c</field>
            <value>
                <elementReference>ServicingDivision.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_City_and_State__c</field>
            <value>
                <elementReference>City_State_for_Kit_Delivery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Equipment_Required__c</field>
            <value>
                <elementReference>SpecialEquipmentRequired.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOPS_report_available__c</field>
            <value>
                <elementReference>TOPSReport1.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_paying_for_Freight__c</field>
            <value>
                <elementReference>Who_is_responsible_for_freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aDangerous_Hazardous__c</field>
            <value>
                <elementReference>IncludesDangerousorHazardousMaterials.value</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Delivery_Screen</name>
        <label>Delivery Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Kitting_Oppty</targetReference>
        </connector>
        <fields>
            <name>DeliveryProgressBar</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>FlowSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Delivery</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Delivery_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Delivery_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_First_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected First Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City_State_for_Kit_Delivery</name>
                    <dataType>String</dataType>
                    <fieldText>City/State for Kit Delivery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Frequency</name>
                    <choiceReferences>One_Time</choiceReferences>
                    <choiceReferences>Daily</choiceReferences>
                    <choiceReferences>Weekly</choiceReferences>
                    <choiceReferences>Monthly</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Kits_Per_Week</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Kits Per Week</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Deliveries_Per_Week</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Deliveries Per Week</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delivery_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_kits_per_outbound_pallet</name>
                    <dataType>String</dataType>
                    <fieldText>Number of kits per outbound 48 x 40 pallet?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StockedVeritivWarehouse</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Will kits be stocked at a Veritiv warehouse?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ServicingDivision</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Servicing_Division__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Servicing Division</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StockedVeritivWarehouse.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ShippedDirect</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Will kits be shipped direct from CoPacker?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Who_is_responsible_for_freight</name>
                    <choiceReferences>Customer</choiceReferences>
                    <choiceReferences>Veritiv</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Who is responsible for freight?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ShippedDirect.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TOPSReport1</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Do you have a TOPS report?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TOPSText1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 95, 166);&quot;&gt;Please ensure TOPS Report is attached below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TOPSReport1.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContentUpload1</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach any supporting document(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderExistingFiles</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Kitting_Contents_Screen</name>
        <label>Kitting Contents Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delivery_Screen</targetReference>
        </connector>
        <fields>
            <name>ContentsProgressBar</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>FlowSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Kitting Contents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Kitting_Contents_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kitting_Contents_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SampleAvailable</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is a sample of the kit available?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PicturesDrawingsAvailable</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Are pictures or drawings available?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PIctureDrawingText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(117, 123, 195);&quot;&gt;Please attach picture(s) or drawing(s) below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PicturesDrawingsAvailable.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FoodBevSupps</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Food/Bev/Supps</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>IncludesDangerousorHazardousMaterials</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Includes Dangerous or Hazardous Materials?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Danger_Hazard_Explanation</name>
                    <dataType>String</dataType>
                    <fieldText>Danger/Hazard Explanation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IncludesDangerousorHazardousMaterials.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CustomerSuppliedRawMaterials</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is Customer supplying any Raw Materials to be put in the kit?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ListofRawMaterialsCustomer</name>
                    <dataType>String</dataType>
                    <fieldText>List of Raw Materials provided by Customer</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;e.g. Corrugated, Foam, Poly Bags, Desiccant Packs, Mailers, Printed Documents, Master Cartons, etc.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerSuppliedRawMaterials.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RawMaterialsQuotes</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Quotes available for raw materials?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>QuotesText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(117, 123, 195);&quot;&gt;Please ensure Quotes are attached below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RawMaterialsQuotes.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kitting_Contents_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Raw_Material_count_per_pallet</name>
                    <dataType>String</dataType>
                    <fieldText>Inbound Raw Material count per pallet</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>How_are_Raw_Materials_Packaged</name>
                    <dataType>String</dataType>
                    <fieldText>How are Raw Materials Packaged?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(0, 0, 0);&quot;&gt;For example: 1 up on a sheet, 2 up on a roll&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inbound_Freight_Cost_on_Raw_Materials</name>
                    <dataType>String</dataType>
                    <fieldText>Inbound Freight Cost on Raw Materials</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SpecialEquipmentRequired</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Special Equipment Required</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>List_of_Special_Equipment</name>
                    <dataType>String</dataType>
                    <fieldText>List of Special Equipment (e.g. Shrink. blister pack, tape machine, strapper, glue gun, etc.)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SpecialEquipmentRequired.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CustomerWorkingWithCopacker</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is Customer currently working with another CoPacker?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Customer_Current_CoPacker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Current CoPacker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;If CoPacker Name is not available, enter NA.&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerWorkingWithCopacker.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CustomersPainPoints</name>
                    <dataType>String</dataType>
                    <fieldText>What are the Customer&apos;s pain points/reason to switch?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CustomerWorkingWithCopacker.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CDI_PO</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Will your customer sign a CDI for both raw materials and finished goods?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Number_of_kits_per_outbound_48x40_pallet</name>
                    <dataType>String</dataType>
                    <fieldText>Number of kits per outbound 48x40 pallet?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContentsUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach any supporting document(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderExistingFiles</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Kitting_Request_Parameters_Screen</name>
        <label>Kitting Request Parameters Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Kitting_Contents_Screen</targetReference>
        </connector>
        <fields>
            <name>GuidelinesProgressBar</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>FlowSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Request Guidelines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RequestParametersText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Verify the following requirements apply to the Opportunity &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Kitting&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Must be packaging customer&lt;/li&gt;&lt;li&gt;Needs to pull through core sales of $250,000/annually&lt;/li&gt;&lt;li&gt;Must run project at least 4x times a year, if not on-going&lt;/li&gt;&lt;li&gt;Kitting minimum revenue recommended $50,000-$100,000/annually with 35%+ GTM&lt;/li&gt;&lt;li&gt;No Labor Only Programs (must include sale of packaging material in kit)&lt;/li&gt;&lt;li&gt;No Vendor Rework Programs&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Converting&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Must be packaging customer&lt;/li&gt;&lt;li&gt;Must pull through packaging&lt;/li&gt;&lt;li&gt;Must run project at least 4x times a year&lt;/li&gt;&lt;li&gt;Converting order minimum is $5,000 with 35%+ GTM&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
