force-app/main/default/flows/Opportunity_Closed_Won_AAC_BDC_INT_MEX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends a Custom Notification to the running user confirming a new Customer Account record was created</description>
        <name>apx_AACBDCINTMEX_BillToFound_CustomerCreatedNotification</name>
        <label>Customer Created Notification</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>udt_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_AACBDCINTMEX_BillToFound_CustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Customer Account Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tmp_CustomerCreatedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_CustAcctId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends a Custom Notification to the running user confirming the Prospect was converted to a Customer Account record</description>
        <name>get_AACBDCINTMEX_AcctRecordConv_ProspectConvertedNotification</name>
        <label>Prospect Converted Notification</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>udt_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_AACBDCINTMEX_AcctRecordConv_CustomNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Prospect Converted to Customer Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tmp_ProspectConvertedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>get_Opportunity.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Adds the Customer Account record found to a collection variable and the AccountID to a text variable</description>
        <name>asn_AACBDCINTMEX_BillToFound_CustAcctVars</name>
        <label>Customer Account Variables</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>col_CustAcctRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_AcctSysDivBillTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CustAcctId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AcctSysDivBillTo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scn_AACBDCINTMEX_BillToFound_Notice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates a variable used in a display text component on the previous screen to display an error message</description>
        <name>asn_ClosedWonINT_BillingAddressErrorVar</name>
        <label>Error Flag Variable</label>
        <locationX>567</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAddressErrorVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PicklistSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scn_ClosedWonINT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable assignments based on user inputs</description>
        <name>asn_ClosedWonINT_Vars</name>
        <label>Variables</label>
        <locationX>303</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Acct_LegacySystemCd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_OwnerPSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_OwnerPSR.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AccountName.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillToNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_BillToNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_SubVertical</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AccountVertical.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_Segment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_Segment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ExpectedBillingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_ExpectedBillingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_DistributionChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_DistributionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CustomerPlatform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_CustomerPlatform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CustomerPlatformOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_CustomerPlatformOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_OppyDetails_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_OppySeg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Opportunity_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ProdCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Prod_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CustomerSellingMarginRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Customer_Selling_Margin_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ProposalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Proposal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_Vertical</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonINT_AcctDetails_AccountVertical.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_AcctRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates a variable used in a display text component on the previous screen to display an error message</description>
        <name>asn_ClosedWonSTD_BillingAddressErrorVar</name>
        <label>Error Flag Variable</label>
        <locationX>1271</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAddressErrorVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PicklistSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_BusinessUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scn_ClosedWonSTD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable assignments based on user inputs</description>
        <name>asn_ClosedWonSTD_Vars</name>
        <label>Variables</label>
        <locationX>963</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Acct_LegacySystemCd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_BusinessUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_OwnerPSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_OwnerPSR.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AccountName.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillToNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_BillToNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_SubVertical</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AccountVertical.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_Segment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_Segment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ExpectedBillingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_ExpectedBillingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_DistributionChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_DistributionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_OppySeg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_OppySegProdCat.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ProdCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_OppySegProdCat.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_CustomerSellingMarginRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_CustomerSellingMarginRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppyDetails_ProposalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_OppyDetails_ProposalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcctDetails_Vertical</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_ClosedWonSTD_AcctDetails_AccountVertical.topValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_ClosedWonSTD_VRcheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns running User Id to a collection variable to be used in custom notifications</description>
        <name>asn_UserId</name>
        <label>$UserId</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>var_UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Customer Account record found to a collection variable and the AccountID to a text variable</description>
        <name>asn_VRTVDom_BillToFound_CustAcctVars</name>
        <label>Customer Account Variables</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>col_CustAcctRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_AcctSysDivBillTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CustAcctId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AcctSysDivBillTo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_VRTVDom_BillToFound_Notice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_AACDivCode_GEO</name>
        <choiceText>GEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_MDW</name>
        <choiceText>MDW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MDW</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_MIA</name>
        <choiceText>MIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_MTW</name>
        <choiceText>MTW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MTW</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_NWJ</name>
        <choiceText>NWJ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NWJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_PCA</name>
        <choiceText>PCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_PIT</name>
        <choiceText>PIT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PIT</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_SCA</name>
        <choiceText>SCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_TAM</name>
        <choiceText>TAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_AACDivCode_TEX</name>
        <choiceText>TEX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TEX</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_BizUnit_AAC</name>
        <choiceText>All American Containers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_BizUnit_BDC</name>
        <choiceText>Bulkley Dunton</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BDC</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_BizUnit_INT</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INT</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_BizUnit_MEX</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MEX</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_BizUnit_VRTV</name>
        <choiceText>Veritiv US/Domestic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veritiv US</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks that proper information has been provided before closing to avoid triggering Opportunity validation rules:
Design_Opps_require_NIR_for_Won
STN_Oppty_Fields_for_ClosedWon_required (vendor check only because other fields are required in previous screen)</description>
        <name>asn_ClosedWonSTD_VRcheck</name>
        <label>Validation Rule Check</label>
        <locationX>963</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>dec_AcctRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>asn_ClosedWonSTD_VRcheck_Error</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity.Vendor_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Express_Lane__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.NIR_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.NIR_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Design_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Design_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_OppyUpdate_ErrorMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the AcctSysDivBillTo is already being used for a Customer Account record that is active</description>
        <name>dec_AACBDCINTMEX_AcctSysDivBillTo</name>
        <label>AcctSysDivBillTo Found</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>asn_AACBDCINTMEX_BillToFound_CustAcctVars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_AACBDCINTMEX_AcctSysDivBillToFound_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AcctSysDivBillTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_AACBDCINTMEX_AcctRecordConv</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the related Account record type is a Prospect or Customer</description>
        <name>dec_AcctRT</name>
        <label>Account RecordType</label>
        <locationX>776</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>udt_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer</defaultConnectorLabel>
        <rules>
            <name>ocm_AcctRT_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ConvertAcct_CustAcctRecordTypeId</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the Business Unit ownership associated with the related Prospect Account record, based on user input/confirmation</description>
        <name>dec_BusinessUnit</name>
        <label>Business Unit</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>dec_VRTVDom_AcctSysDivBillTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VRTV Domestic</defaultConnectorLabel>
        <rules>
            <name>ocm_BusinessUnit_AACBDCINTMEX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chc_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_AACBDCINTMEX_AcctSysDivBillTo</targetReference>
            </connector>
            <label>AAC/BDC/INT/MEX</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Billing Address is complete, or if user has not provided enough information</description>
        <name>dec_ClosedWonINT_AcctDetails_AddressComplete</name>
        <label>Billing Address Complete</label>
        <locationX>435</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>asn_ClosedWonINT_BillingAddressErrorVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ClosedWonINT_AcctDetails_AddressComplete_Yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonINT_AcctDetails_AcctAddress.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_ClosedWonINT_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Billing Address is complete, or if user has not provided enough information</description>
        <name>dec_ClosedWonSTD_AcctDetails_AddressComplete</name>
        <label>Billing Address Complete</label>
        <locationX>1117</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>asn_ClosedWonSTD_BillingAddressErrorVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ClosedWonSTD_AcctDetails_AddressComplete_Yes</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_ClosedWonSTD_AcctDetails_AcctAddress.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_ClosedWonSTD_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Opportunity record type is a Standard or International</description>
        <name>dec_OpportunityRT</name>
        <label>Opportunity RecordType</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>scn_ClosedWonSTD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>dec_OpportunityRT_INT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Opportunity_Lightning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_ClosedWonINT</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the AcctSysDivBillTo is already being used for a Customer Account record that is active</description>
        <name>dec_VRTVDom_AcctSysDivBillTo</name>
        <label>AcctSysDivBillTo Found</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>asn_VRTVDom_BillToFound_CustAcctVars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ocm_VRTVDom_AcctSysDivBillTo_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AcctSysDivBillTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crt_AACBDCINTMEX_BillToFound_CustAcctCreation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Allows AAC/BDC/INTL/MEX users to enter the proper information when an Opportunity is &apos;Closed Won.&apos; This will also check if the related Account is a &apos;Prospect&apos; record type and will convert to a &apos;Customer&apos; if so. This is because these teams do not currently have an integration with an external customer master system to allow conversion to function the way it does for US accounts.</description>
    <dynamicChoiceSets>
        <name>chc_Acct_AccountVertical</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Vertical__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Acct_Segment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segment_2__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_ClosedWon_DistributionChannel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>distribution_channel__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_OpportunityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Oppy_CustomerPlatform</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Platform__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Concatenates the Legacy System Code + BillTo Number</description>
        <name>fx_AccountSysDivBillTo</name>
        <dataType>String</dataType>
        <expression>{!var_Acct_LegacySystemCd}&amp;{!var_AcctDetails_BillToNumber}</expression>
    </formulas>
    <interviewLabel>Opportunity - Closed Won AAC/BDC/INT/MEX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Closed Won AAC/BDC/INT/MEX</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a new Customer Account record. The Opportunity Owner is assigned ownership of this new record. Legacy System Code, Legacy Division Code (AAC only), and BillTo Number are applied, based on user inputs.</description>
        <name>crt_AACBDCINTMEX_BillToFound_CustAcctCreation</name>
        <label>Customer Account</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <assignRecordIdToReference>var_CustAcctId</assignRecordIdToReference>
        <connector>
            <targetReference>get_AACBDCINTMEX_BillToFound_NewCustomerAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>var_AcctDetails_BillToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Vertical__c</field>
            <value>
                <elementReference>var_AcctDetails_SubVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_AcctDetails_BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>var_AcctDetails_BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_AcctDetails_BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_AcctDetails_BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_AcctDetails_BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>get_Opportunity.Account.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>get_Opportunity.Account.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Division_Cd__c</field>
            <value>
                <elementReference>var_AcctDetails_DivCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_System_Cd__c</field>
            <value>
                <elementReference>var_Acct_LegacySystemCd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_AcctDetails_AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>get_Opportunity.Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_ConvertAcct_CustAcctRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>var_AcctDetails_Segment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Grouping__c</field>
            <value>
                <elementReference>var_AcctDetails_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>get_Opportunity.Account.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Gets Custom Notification ID</description>
        <name>get_AACBDCINTMEX_AcctRecordConv_CustomNotificationId</name>
        <label>Custom Notification ID</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AACBDCINTMEX_AcctRecordConv_ProspectConvertedNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Flow_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Custom Notification ID</description>
        <name>get_AACBDCINTMEX_BillToFound_CustomNotificationId</name>
        <label>Custom Notification ID</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apx_AACBDCINTMEX_BillToFound_CustomerCreatedNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Flow_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AACBDCINTMEX_BillToFound_NewCustomerAccount</name>
        <label>New Customer Account</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AACBDCINTMEX_BillToFound_CustomNotificationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustAcctId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Customer Account records that match the AcctSysDivBillTo</description>
        <name>get_AcctSysDivBillTo</name>
        <label>AcctSysDivBillTo for Active Customer</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_BusinessUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_SysDivBillTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fx_AccountSysDivBillTo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConvertAcct_CustAcctRecordTypeId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Customer RecordType ID for the Account object</description>
        <name>get_ConvertAcct_CustAcctRecordTypeId</name>
        <label>Customer Account RecordTypeId</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AcctSysDivBillTo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Opportunity record using the recordId that was passed when invoking the Flow from the &apos;Close Won&apos; button on the Opportunity page</description>
        <name>get_Opportunity</name>
        <label>Opportunity</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_OpportunityRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the related Account to change values and convert to a Customer record type</description>
        <name>udt_AACBDCINTMEX_AcctRecordConv</name>
        <label>Account Conversion</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>get_AACBDCINTMEX_AcctRecordConv_CustomNotificationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>var_AcctDetails_BillToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Vertical__c</field>
            <value>
                <elementReference>var_AcctDetails_SubVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_AcctDetails_BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>var_AcctDetails_BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_AcctDetails_BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_AcctDetails_BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_AcctDetails_BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Division_Cd__c</field>
            <value>
                <elementReference>var_AcctDetails_DivCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_System_Cd__c</field>
            <value>
                <elementReference>var_Acct_LegacySystemCd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_AcctDetails_AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_AcctDetails_OwnerPSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_ConvertAcct_CustAcctRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_2__c</field>
            <value>
                <elementReference>var_AcctDetails_Segment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Grouping__c</field>
            <value>
                <elementReference>var_AcctDetails_Vertical</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Prospect Account record so this can be merged with the Customer Account record at a later date</description>
        <name>udt_AACBDCINTMEX_BillToFound_ProspectAcct</name>
        <label>Prospect Account</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>udt_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ProspectAcctId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Number_to_Merge_With__c</field>
            <value>
                <elementReference>fx_AccountSysDivBillTo</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Opportunity that invoked the Flow</description>
        <name>udt_Opportunity</name>
        <label>Opportunity</label>
        <locationX>776</locationX>
        <locationY>2582</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_CustAcctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>var_OppyDetails_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Number__c</field>
            <value>
                <elementReference>var_AcctDetails_BillToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>var_OppyDetails_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Platform_Other__c</field>
            <value>
                <elementReference>var_OppyDetails_CustomerPlatformOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Platform__c</field>
            <value>
                <elementReference>var_OppyDetails_CustomerPlatform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Selling_Margin_Rate__c</field>
            <value>
                <elementReference>var_OppyDetails_CustomerSellingMarginRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_OppyDetails_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Billing_Date__c</field>
            <value>
                <elementReference>var_OppyDetails_ExpectedBillingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_OppyDetails_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Segment__c</field>
            <value>
                <elementReference>var_OppyDetails_OppySeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prod_Category__c</field>
            <value>
                <elementReference>var_OppyDetails_ProdCat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Date__c</field>
            <value>
                <elementReference>var_OppyDetails_ProposalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>6- Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>distribution_channel__c</field>
            <value>
                <elementReference>var_OppyDetails_DistributionChannel</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Screen to notify user that a Customer record was found with a matching AcctSysDivBillTo and the Opportunity will move to this existing record</description>
        <name>asn_VRTVDom_BillToFound_Notice</name>
        <label>BillTo Found Notice</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>udt_Opportunity</targetReference>
        </connector>
        <fields>
            <name>txt_VRTVDom_BillToFound_Notice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;NOTICE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;Customer# &lt;/span&gt;&lt;strong style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;{!var_AcctDetails_BillToNumber}&lt;/strong&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt; is already assigned to the Customer record below.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;Clicking &apos;Finish&apos; will move the Opportunity to this Customer record after changing the Status to Closed Won.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_VRTVDom_BillToFound_Notice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_CustAcctRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNumber&quot;,&quot;guid&quot;:&quot;column-930e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer# (Bill To Number)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Bill To Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-29c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Owned_By__c&quot;,&quot;guid&quot;:&quot;column-fb67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Owned By&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-c721&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to notify user that a customer record was found and actions that will take place if moving forward</description>
        <name>scn_AACBDCINTMEX_BillToFound_Notice</name>
        <label>BillTo Found Notice</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>udt_AACBDCINTMEX_BillToFound_ProspectAcct</targetReference>
        </connector>
        <fields>
            <name>txt_AACBDCINTMEX_BillToFound_Notice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;NOTICE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;Customer# &lt;/span&gt;&lt;strong style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;{!var_AcctDetails_BillToNumber} &lt;/strong&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;is already assigned to the Customer record below.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(105, 105, 105); font-size: 14px;&quot;&gt;Clicking &apos;Finish&apos; will move the Opportunity to this Customer record after changing the Status to Closed Won.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_AACBDCINTMEX_BillToFound_Notice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_CustAcctRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNumber&quot;,&quot;guid&quot;:&quot;column-930e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer# (Bill To Number)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Bill To Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-29c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Owned_By__c&quot;,&quot;guid&quot;:&quot;column-fb67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Owned By&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-c721&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for International Opportunity record types. Users confirms if related Account is US/Domestic owned.</description>
        <name>scn_ClosedWonINT</name>
        <label>International Inputs</label>
        <locationX>435</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_ClosedWonINT_AcctDetails_AddressComplete</targetReference>
        </connector>
        <fields>
            <name>scn_ClosedWonINT_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClosedWonINT_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_RelatedAccountVRTVDom</name>
                    <choiceReferences>chc_No</choiceReferences>
                    <choiceReferences>chc_Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_PicklistSelection</elementReference>
                    </defaultValue>
                    <fieldText>Related Account is US/Domestic Owned</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Confirm if this Opportunity is associated with a US/Domestic owned Account&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Prospect</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonINT_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_ClosedWonINT_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClosedWonINT_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonINT_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_ClosedWonINT_ConvertNotice</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;NOTICE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt;The related &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt;Prospect&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt; Account &lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;{!get_Opportunity.Account.Name}&lt;/em&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt; will be converted to a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;Customer&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt; Account record after changing this Opportunity Status to &lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;Closed Won&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonINT_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>$Flow.InterviewGuid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DONT_SHOW_ME</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scn_ClosedWonINT_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClosedWonINT_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonINT_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_ClosedWonINT_NewAcctMssg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;NOTICE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;Because this Opportunity is related to a US/Domestic owned Account, a&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;new&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;International owned Customer Account record will be created. The Opportunity will then move to this new Customer Account record after changing this Opportunity Status to &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;Closed Won&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonINT_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>$Flow.InterviewGuid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DONT_SHOW_ME</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonINT_AcctDetails</name>
            <fieldText>Account Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonINT_AcctDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_OwnerPSR</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner / Primary Sales Rep</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>get_Opportunity.Account.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>get_Opportunity.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_ClosedWonINT_AcctDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_Segment</name>
                    <choiceReferences>chc_Acct_Segment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Account.Segment_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Segment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_AccountVertical</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Vertical_Grouping__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Account_Vertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Sub Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>get_Opportunity.Account.Vertical_Grouping__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>get_Opportunity.Account.Account_Vertical__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonINT_AcctDetails_AcctAddress</name>
            <fieldText>Account Billing Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonINT_AcctDetails_AcctAddress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_AcctAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_AcctAddressError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please complete all Billing Address fields&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_BillingAddressErrorVar</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonINT_OppyDetails</name>
            <fieldText>Opportunity Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonINT_OppyDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_OpportunityName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Name</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;Maximum length is 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_ClosedWonINT_OppyDetails_OpportunityName})&lt;=120</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_ExpectedBillingDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Expected_Billing_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Expected Billing Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;This date can not be prior to the &lt;/span&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Close Date&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_ClosedWonINT_OppyDetails_ExpectedBillingDate}&gt;={!ipt_ClosedWonINT_OppyDetails_CloseDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_CloseDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This date can not be after to the &lt;/span&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Expected Billing Date&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_ClosedWonINT_OppyDetails_CloseDate}&lt;={!ipt_ClosedWonINT_OppyDetails_ExpectedBillingDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_AcctDetails_BillToNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_AcctDetails_BillToNumber</elementReference>
                    </defaultValue>
                    <fieldText>Navision Customer#</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Will be saved in the &apos;Bill To Number&apos; field on the Customer Account record&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Maximum length is 18 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_ClosedWonINT_AcctDetails_BillToNumber})&lt;=18</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_ClosedWonINT_OppyDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Amount</elementReference>
                    </defaultValue>
                    <fieldText>Annual Opportunity Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_DistributionChannel</name>
                    <choiceReferences>chc_ClosedWon_DistributionChannel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.distribution_channel__c</elementReference>
                    </defaultValue>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_CustomerPlatform</name>
                    <choiceReferences>chc_Oppy_CustomerPlatform</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Customer_Platform__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Platform</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonINT_OppyDetails_CustomerPlatformOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Customer_Platform_Other__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Platform Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Maximum length is 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_ClosedWonINT_OppyDetails_CustomerPlatformOther})&lt;=255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ipt_ClosedWonINT_OppyDetails_CustomerPlatform</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_ClosedWonINT_OppyDetails_Description</name>
            <defaultValue>
                <stringValue>{!get_Opportunity.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Maximum length is 32,000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_ClosedWonINT_OppyDetails_Description})&lt;=32000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonINT_RelatedAccountVRTVDom</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for AAC/BDC/MEX Opportunities</description>
        <name>scn_ClosedWonSTD</name>
        <label>Standard Inputs</label>
        <locationX>1117</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_ClosedWonSTD_AcctDetails_AddressComplete</targetReference>
        </connector>
        <fields>
            <name>scn_ClosedWonSTD_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClosedWonSTD_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_BusinessUnit</name>
                    <choiceReferences>chc_BizUnit_AAC</choiceReferences>
                    <choiceReferences>chc_BizUnit_BDC</choiceReferences>
                    <choiceReferences>chc_BizUnit_MEX</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_PicklistSelection</elementReference>
                    </defaultValue>
                    <fieldText>Related Account Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Confirm the Business Unit associated with the related Account: &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;All American Containers&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Bulkley Dunton&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mexico&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Prospect</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonSTD_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_ClosedWonSTD_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ClosedWonSTD_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonSTD_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_ClosedWonSTD_ConvertNotice</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;NOTICE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt;Related &lt;/span&gt;&lt;u style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt;Prospect&lt;/u&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105); background-color: rgb(255, 255, 255);&quot;&gt; Account &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;{!get_Opportunity.Account.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt; will be converted to a &lt;/span&gt;&lt;u style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt;Customer&lt;/u&gt;&lt;span style=&quot;font-size: 16px; color: rgb(105, 105, 105);&quot;&gt; after changing this Opportunity to Closed Won&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ClosedWonSTD_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>chc_BizUnit_VRTV</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>$Flow.InterviewGuid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DONT_SHOW_ME</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonSTD_AcctDetails</name>
            <fieldText>Account Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonSTD_AcctDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_OwnerPSR</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner / Primary Sales Rep</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>get_Opportunity.Account.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>get_Opportunity.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_ClosedWonSTD_AcctDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_Segment</name>
                    <choiceReferences>chc_Acct_Segment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Account.Segment_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Segment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_AccountVertical</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Vertical_Grouping__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Account_Vertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Sub Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>get_Opportunity.Account.Vertical_Grouping__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>get_Opportunity.Account.Account_Vertical__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonSTD_AcctDetails_AcctAddress</name>
            <fieldText>Account Billing Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonSTD_AcctDetails_AcctAddress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_AcctAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>get_Opportunity.Account.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_AcctAddressError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please complete all Billing Address fields&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_BillingAddressErrorVar</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_ClosedWonSTD_OppyDetails</name>
            <fieldText>Opportunity Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_ClosedWonSTD_OppyDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_OpportunityName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Name</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;Maximum length is 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_ClosedWonINT_OppyDetails_OpportunityName})&lt;=120</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_ProposalDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Proposal_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Proposal Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_CloseDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This date can not be after to the &lt;/span&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Expected Billing Date&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_ClosedWonSTD_OppyDetails_CloseDate}&lt;={!ipt_ClosedWonSTD_OppyDetails_ExpectedBillingDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_ExpectedBillingDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Expected_Billing_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Expected Billing Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;This date can not be prior to the &lt;/span&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Close Date&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_ClosedWonSTD_OppyDetails_ExpectedBillingDate}&gt;={!ipt_ClosedWonSTD_OppyDetails_CloseDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_AcctDetails_BillToNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_AcctDetails_BillToNumber</elementReference>
                    </defaultValue>
                    <fieldText>Customer Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Will be saved in the &apos;Bill To Number&apos; field on the Customer Account record&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Maximum length is 18 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_ClosedWonINT_AcctDetails_BillToNumber})&lt;=18</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_ClosedWonSTD_OppyDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Amount</elementReference>
                    </defaultValue>
                    <fieldText>Annual Opportunity Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_CustomerSellingMarginRate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.Customer_Selling_Margin_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Selling Margin Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Choose your target margin percentage for this opportunity&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_DistributionChannel</name>
                    <choiceReferences>chc_ClosedWon_DistributionChannel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Opportunity.distribution_channel__c</elementReference>
                    </defaultValue>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ipt_ClosedWonSTD_OppyDetails_OppySegProdCat</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Opportunity_Segment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Prod_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Opportunity Segment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Prod Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>get_Opportunity.Opportunity_Segment__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>get_Opportunity.Prod_Category__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ipt_ClosedWonSTD_OppyDetails_Description</name>
            <defaultValue>
                <stringValue>{!get_Opportunity.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Maximum length is 32,000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_ClosedWonINT_OppyDetails_Description})&lt;=32000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ClosedWonSTD_BusinessUnit</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_OppyUpdate_ErrorMessage</name>
        <label>Opportunity Update Error Message</label>
        <locationX>831</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_OppyUpdate_ErrorMessage_Vendor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please add a Vendor to this Opportunity before moving to Closed Won&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Vendor_Count__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_OppyUpdate_ErrorMessage_Design</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Before you can close a Design opportunity, you must submit an NIR request from the Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
                <conditions>
                    <leftValueReference>get_Opportunity.Design__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Express_Lane__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.NIR_Exception__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.NIR_Submitted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Design_Status__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Opportunity.Design_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Returned</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asn_UserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmp_CustomerCreatedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Customer Account record has been created:
- Customer Name:  {!get_AACBDCINTMEX_BillToFound_NewCustomerAccount.Name}
- BillTo Number:  {!get_AACBDCINTMEX_BillToFound_NewCustomerAccount.AccountNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>tmp_ProspectConvertedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Customer Account record was converted from a Prospect Account:
- Customer Name:  {!get_Opportunity.Account.Name}
- BillTo Number:  {!var_AcctDetails_BillToNumber}</text>
    </textTemplates>
    <variables>
        <description>Stores the Customer Account record to be used in the Data Table in a Screen</description>
        <name>col_CustAcctRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores the Opportunity record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Acct_LegacySystemCd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_BillToNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Opportunity.Bill_to_Number__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_AcctDetails_DivCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_OwnerPSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_Segment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_SubVertical</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcctDetails_Vertical</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BillingAddressErrorVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BillTo_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Opportunity.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_OppyDetails_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_OppyDetails_CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_CustomerPlatform</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_CustomerPlatformOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_CustomerSellingMarginRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>get_Opportunity.Customer_Selling_Margin_Rate__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_OppyDetails_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_DistributionChannel</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_ExpectedBillingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_OpportunityType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_OppySeg</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_ProdCat</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppyDetails_ProposalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Opportunity.Proposal_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_PicklistSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProspectAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Opportunity.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
