force-app/main/default/flows/Opportunity_SF_Design_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_Program_Manager</name>
        <label>Has Program Manager?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Design_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_HasProgramManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Program_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Display status on Design Request, or status of most recently-created Design Request on the Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_PercentComplete</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Most_Recent_Design_Request.Percent_Complete__c} &gt; 0,ROUND({!Get_Most_Recent_Design_Request.Percent_Complete__c},0),0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Steps for Progress Bar (depending on if Specialist is involved or not)</description>
        <name>frm_ProgressBarSteps</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Most_Recent_Design_Request.Specialist__c}),&quot;Design Review,Approved,Plan,Current,Complete&quot;,&quot;Specialist Review,Design Review,Approved,Plan,Current,Complete&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity [SF] - Design Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [SF] - Design Request Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Design_Request</name>
        <label>Get Most Recent Design Request</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Design_Status_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Design_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Program_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Manager</name>
        <label>Get Program Manager</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Design_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Program_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Design_Status_Screen</name>
        <label>Design Status Screen</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Design_Status</name>
            <fieldText>Design Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Design_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_OpportunityHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_TextColumn1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Design PM&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Program_Manager.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Master Workfront #&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.AtTask_Project__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Link to Drawings&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Project_Drawings_Link__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Design_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_TextColumn2a</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Total # of Design Requests&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.Number_of_Design_Requests__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Total Planned Hours (Opportunity)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.Total_Planned_Hours__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Total Actual Hours (Opportunity)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.Total_Actual_Hours__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Design_Status_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_DesignRequestInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Most Recent Design Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_TextColumn3a</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Completion %&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_PercentCompleteRing</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Ring</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStepPercentage</name>
                        <value>
                            <elementReference>frm_PercentComplete</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>frm_ProgressBarSteps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Get_Most_Recent_Design_Request.Status__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frm_PercentComplete</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_SpecialistReview</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(33, 158, 212);&quot;&gt;Specialist Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialist Review</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_DesignReview</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(173, 80, 148);&quot;&gt;Design Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Design Review</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_Approved</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 197, 100);&quot;&gt;Approved&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Approved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_Current</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 162, 95);&quot;&gt;Current&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Current</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_Complete</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 122, 71);&quot;&gt;Complete&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Complete</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_Returned</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(192, 0, 0);&quot;&gt;Returned&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Returned</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Status_OnHold</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 192, 0);&quot;&gt;On Hold&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On Hold</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_NotesFromDesign</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Notes from Design&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Notes_from_Design__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Notes_from_Design__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Design_Status_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_TextColumn4a</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;﻿Design Request #&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Get_Most_Recent_Design_Request.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Most_Recent_Design_Request.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Planned Completion Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Planned_Completion_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Planned Hours&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Planned_Hours__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Actual Hours&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Actual_Hours__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_TrackingNum</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Tracking #&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Tracking_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Tracking_Number__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Opportunity ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
