force-app/main/default/flows/Opportunity_SF_Design_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Display status on Design Request, or status of most recently-created Design Request on the Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_PercentComplete</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Most_Recent_Design_Request.Percent_Complete__c} &gt; 0,ROUND({!Get_Most_Recent_Design_Request.Percent_Complete__c},0),0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Steps for Progress Bar (depending on if Specialist is involved or not)</description>
        <name>frm_ProgressBarSteps</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Most_Recent_Design_Request.Specialist__c}),&quot;Design Review,Approved,Plan,Current,Complete&quot;,&quot;Specialist Review,Design Review,Approved,Plan,Current,Complete&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity [SF] - Design Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [SF] - Design Request Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Design_Request</name>
        <label>Get Most Recent Design Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Design_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Design_Status_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Design_Status_Screen</name>
        <label>Design Status Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Design_Status_Section</name>
            <fieldText>Design Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Design_Status_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProgressBar_Status</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>frm_ProgressBarSteps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Get_Most_Recent_Design_Request.Status__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Path</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>On Hold</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Returned</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NotesFromDesign</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Notes from Design: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Notes_from_Design__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Notes_from_Design__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OnHold</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(176, 176, 14);&quot;&gt;ON HOLD&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On Hold</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Returned</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 24px;&quot;&gt;RETURNED&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Most_Recent_Design_Request.Returned_Reason__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Most_Recent_Design_Request.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Returned</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Design_Status_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Design_Status_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PercentCompleteRing</name>
                    <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Ring</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStepPercentage</name>
                        <value>
                            <elementReference>frm_PercentComplete</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>frm_ProgressBarSteps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>Get_Most_Recent_Design_Request.Status__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frm_PercentComplete</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Design_Status_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayColumn1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Requested Completion Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Requested_Completion_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Actual Start Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Actual_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Planned Completion Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Planned_Completion_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Planned Hours&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Planned_Hours__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Actual Hours&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Actual_Hours__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Design_Status_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayColumn2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Master Workfront Project #&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.AtTask_Project__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;Project Manager&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Project_Manager__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Link to Drawings&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Most_Recent_Design_Request.Project_Drawings_Link__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Tracking #&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Get_Most_Recent_Design_Request.Tracking_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Design_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Opportunity ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
