force-app/main/default/flows/Project_RT_after_Re_prioritization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Adds single record to record collection</description>
        <name>asn_AddtoCollection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds next priority value to a variable to be used as the &apos;Priority Number&apos;</description>
        <name>asn_PriorityNumber</name>
        <label>Priority Number</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>var_PriorityNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_SingleRecordVars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns single record values to be used in a single record variable</description>
        <name>asn_SingleRecordVars</name>
        <label>Single Record Vars</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>loop_RecordCollection.Priority_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PriorityNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_AddtoCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if this is a record using the &apos;Project&apos; record type</description>
        <name>dec_ProjectRecordType</name>
        <label>&apos;Project&apos; Record Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ProjectRecordType_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal_or_Lower_Priority_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Re-prioritizes &apos;Priority Number&apos; of &apos;Project&apos; records that are not completed or canceled.</description>
    <environments>Default</environments>
    <interviewLabel>Project - RT_after - Re-prioritization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - RT_after - Re-prioritization</label>
    <loops>
        <description>Loops through records found in the Get element</description>
        <name>loop_RecordCollection</name>
        <label>Record Collection</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Equal_or_Lower_Priority_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_PriorityNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>udt_RecordCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all records with a &apos;Priority Number&apos; equal or lower than the &apos;Priority Number&apos; value of the current record</description>
        <name>Equal_or_Lower_Priority_Records</name>
        <label>Equal or Lower Priority Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RecordCollection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Priority_Number__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Priority_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Priority_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SFDC_Project__c</object>
        <sortField>Priority_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates records stored in the collection</description>
        <name>udt_RecordCollection</name>
        <label>Record Collection</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>var_RecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_ProjectRecordType</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Priority_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Priority_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>SFDC_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the current priority number value</description>
        <name>var_PriorityNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Priority_Number__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the record collection for update</description>
        <name>var_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Project__c</objectType>
    </variables>
</Flow>
