force-app/main/default/flows/Project_Weekly_Update_Project_RAG_Status_Update_on_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifies the Project Owner when the Project RAG Status has changed</description>
        <name>apx_Project_RAG_Status_Change</name>
        <label>Project RAG Status Change</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>txt_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Project RAG Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_Notification_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Assigns the Project Owner Id to the Notification Recipient Id collection</description>
        <name>asn_Notification_Recipient_Id</name>
        <label>Notification Recipient Id</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>var_Notification_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Project__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apx_Project_RAG_Status_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates variable if any record in the collection has a RAG Status of AMBER</description>
        <name>asn_RAG_Status_AMBER</name>
        <label>RAG Status AMBER</label>
        <locationX>930</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_RAG_Status_AMBER</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Project_Weekly_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates variable if any record in the collection has a RAG Status of RED</description>
        <name>asn_RAG_Status_RED</name>
        <label>RAG Status RED</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var_RAG_Status_RED</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Project_Weekly_Update_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the Project RAG Status was changed</description>
        <name>dec_Project_RAG_Status_Changed</name>
        <label>Project RAG Status Changed</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Project_RAG_Status_Prior</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fx_Project_RAG_Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Custom_Notification_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the &apos;RAG Status&apos; value</description>
        <name>dec_RAG_Status</name>
        <label>RAG Status</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>udt_Related_Project_Record_Green</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Green</defaultConnectorLabel>
        <rules>
            <name>ocm_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Project_RAG_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Related_Project_Record_Red</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>ocm_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Project_RAG_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_Related_Project_Record_Amber</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the individual record RAG Status</description>
        <name>dec_Record_RAG_Status</name>
        <label>Record RAG Status</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>loop_Project_Weekly_Update_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Green</defaultConnectorLabel>
        <rules>
            <name>ocm_RecordRed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Project_Weekly_Update_Records.Risks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_Project_Weekly_Update_Records.Risk_Mitigation_Efforts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_RAG_Status_RED</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>ocm_RecordAmber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Project_Weekly_Update_Records.Risks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_Project_Weekly_Update_Records.Risk_Mitigation_Efforts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_RAG_Status_AMBER</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines record type and related Project record type</description>
        <name>dec_Record_Types</name>
        <label>Record Types</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_Project_ProjectWeeklyUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project_Weekly_Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Project</targetReference>
            </connector>
            <label>Project &amp; Project Weekly Update</label>
        </rules>
    </decisions>
    <description>Updates &apos;RAG Status&apos; field on related Project record. Only updates &apos;SFDC Project&apos; record types of the Project object.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the date for the previous Friday, unless today is Friday. Used to get all Project Weekly Update records that have been created since the last update deadline date (EOD Thurs).</description>
        <name>fx_DateLastFriday</name>
        <dataType>Date</dataType>
        <expression>IF( WEEKDAY(TODAY())=6 /*FRI*/, TODAY(),
IF( WEEKDAY(TODAY())=5 /*THR*/, TODAY()-6,
IF( WEEKDAY(TODAY())=4 /*WED*/, TODAY()-5,
IF( WEEKDAY(TODAY())=3 /*TUE*/, TODAY()-4,
IF( WEEKDAY(TODAY())=2 /*MON*/, TODAY()-3,
IF( WEEKDAY(TODAY())=1 /*SUN*/, TODAY()-2,
/*SAT*/ TODAY()-1))))))</expression>
    </formulas>
    <formulas>
        <description>Calculates the overall Project RAG Status, based on stored boolean variables</description>
        <name>fx_Project_RAG_Status</name>
        <dataType>String</dataType>
        <expression>IF({!var_RAG_Status_RED}, &apos;Red&apos;, IF({!var_RAG_Status_AMBER}, &apos;Amber&apos;, &apos;Green&apos;))</expression>
    </formulas>
    <interviewLabel>Project Weekly Update - Project RAG Status Update on Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Weekly Update - Project RAG Status Update on Record Creation</label>
    <loops>
        <description>Loops through Project Weekly Update Record collection</description>
        <name>loop_Project_Weekly_Update_Records</name>
        <label>Project Weekly Update Records</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <collectionReference>get_Project_Weekly_Updates_Last_7_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_Record_RAG_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_Project_RAG_Status_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Id for the &apos;Project RAG Status Changed&apos; Custom Notification Type</description>
        <name>get_Custom_Notification_Type</name>
        <label>Custom Notification Type</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_RAG_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_RAG_Status_Changed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets related Project record</description>
        <name>get_Project</name>
        <label>Project</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Project_Weekly_Updates_Last_7_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <object>SFDC_Project__c</object>
        <outputAssignments>
            <assignToReference>var_Project_RAG_Status_Prior</assignToReference>
            <field>RAG_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets all Project Weekly Update records created in the last 7 days that are related to the parent Project</description>
        <name>get_Project_Weekly_Updates_Last_7_Days</name>
        <label>Project Weekly Updates Last 7 Days</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Project_Weekly_Update_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fx_DateLastFriday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Weekly_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates related Project record</description>
        <name>udt_Related_Project_Record_Amber</name>
        <label>Related Project Record</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>asn_Notification_Recipient_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>RAG_Status__c</field>
            <value>
                <stringValue>Amber</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Project__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates related Project record</description>
        <name>udt_Related_Project_Record_Green</name>
        <label>Related Project Record</label>
        <locationX>578</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>asn_Notification_Recipient_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>RAG_Status__c</field>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Project__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates related Project record</description>
        <name>udt_Related_Project_Record_Red</name>
        <label>Related Project Record</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>asn_Notification_Recipient_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>RAG_Status__c</field>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Weekly_Update__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text body to be used in the Custom Notification</description>
        <name>txt_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_Project_RAG_Status_Prior} to {!fx_Project_RAG_Status}
Project Number: {!$Record.Project__r.Name}
Project Name: {!$Record.Project__r.SFDC_Project_Name__c}</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Weekly_Update__c</objectType>
    </variables>
    <variables>
        <description>Stores all Ids that will be used in the Custom Notification</description>
        <name>var_Notification_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Project RAG Status before this field is updated in the Flow</description>
        <name>var_Project_RAG_Status_Prior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if any record in the collection has a RAG Status of AMBER</description>
        <name>var_RAG_Status_AMBER</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if any record in the collection has a RAG Status of RED</description>
        <name>var_RAG_Status_RED</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
