force-app/main/default/flows/Project_Weekly_Update_Active_Project_Update_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Assigns a single record to a record collection variable in order to store a single record in the data table on the next screen</description>
        <name>asn_Add_Single_Record_Collection</name>
        <label>Add Single Record Collection</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Project_Record_in_Loop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lop_Project_Record_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scn_Create_Project_Weekly_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Hold_Temporary_Values</name>
        <label>Hold Temporary Values</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_Comments_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Comments.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Milestones_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Milestones.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Risks_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Risks.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Risk_Mitigation_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Risk_Mitigation_Efforts.myVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_Required_Field_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_Projects_with_PWUs_Collection</name>
        <label>Projects with PWUs Collection</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>var_Projects_with_PWUs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Projects_with_PWUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_Projects_with_PWUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_PWU_Record_to_Collection</name>
        <label>PWU Record to Collection</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_PWU_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PWU_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_ResetVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_PWU_Record_Values</name>
        <label>Project Weekly Update Record Values</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_Project_Record_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Milestone_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Milestone_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Milestones__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Milestones.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PWU_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Risk_Mitigation_Efforts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Risk_Mitigation_Efforts.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Risks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Risks.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PWU_Single_Record.Update_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PWU_Comments.myVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_PWU_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Flags the boolean variable when the required field has not been completed</description>
        <name>asn_Required_Field_Flag</name>
        <label>Required Field Flag</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scn_Create_Project_Weekly_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_ResetVariables</name>
        <label>Reset Variables</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>var_Project_Record_in_Loop</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Comments_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Milestones_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Risk_Mitigation_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Risks_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>lop_Project_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks that user has provided values for required fields or has not exceeded character limits on previous screen</description>
        <name>dec_Field_Condition_Check</name>
        <label>Field Condition Check</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>asn_PWU_Record_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>ocm_Field_Condition_Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fx_LEN_Comments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_LEN_Comments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_LEN_Milestones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_LEN_Risk_Mitigation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_LEN_Risks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_Hold_Temporary_Values</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if at least one record was found</description>
        <name>dec_Records_Found</name>
        <label>Records Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>scn_NoRecordsMssg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Open_Project_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PWU_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allows user to create Project Weekly Updates for active Projects via a single screenflow</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the date of the previous Friday</description>
        <name>fx_LastFriday</name>
        <dataType>Date</dataType>
        <expression>IF(WEEKDAY({!$Flow.CurrentDate})=1 /*SUN*/, {!$Flow.CurrentDate}-2, 
IF(WEEKDAY({!$Flow.CurrentDate})=2 /*MON*/, {!$Flow.CurrentDate}-3, 
IF(WEEKDAY({!$Flow.CurrentDate})=3 /*TUE*/, {!$Flow.CurrentDate}-4, 
IF(WEEKDAY({!$Flow.CurrentDate})=4 /*WED*/, {!$Flow.CurrentDate}-5, 
IF(WEEKDAY({!$Flow.CurrentDate})=5 /*THR*/, {!$Flow.CurrentDate}-6, 
IF(WEEKDAY({!$Flow.CurrentDate})=6 /*FRI*/, {!$Flow.CurrentDate}-7, 
/*SAT*/ {!$Flow.CurrentDate}-1))))))</expression>
    </formulas>
    <formulas>
        <name>fx_LEN_Comments</name>
        <dataType>Number</dataType>
        <expression>LEN({!ipt_PWU_Comments.myVal})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_LEN_Milestones</name>
        <dataType>Number</dataType>
        <expression>LEN({!ipt_PWU_Milestones.myVal})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_LEN_Risk_Mitigation</name>
        <dataType>Number</dataType>
        <expression>LEN({!ipt_PWU_Risk_Mitigation_Efforts.myVal})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fx_LEN_Risks</name>
        <dataType>Number</dataType>
        <expression>LEN({!ipt_PWU_Risks.myVal})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Project Weekly Update - Active Project Update Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Weekly Update - Active Project Update Screenflow</label>
    <loops>
        <name>lop_Project_Record_Collection</name>
        <label>Project Record Collection</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>tbl_SelectProject.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Add_Single_Record_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crt_PWU_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>***This loop could not be bulkified because Flows do not support Get Records on a record collection at the time of creation</description>
        <name>lop_Projects_with_PWUs</name>
        <label>Projects with PWUs</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <collectionReference>tbl_SelectProject.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Projects_with_PWUs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scn_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Project Weekly Update records from the record collection</description>
        <name>crt_PWU_Records</name>
        <label>PWU Records</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>lop_Projects_with_PWUs</targetReference>
        </connector>
        <inputReference>var_PWU_Record_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Open_Project_Records</name>
        <label>Open Project Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Records_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFDC_Project_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Project_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fx_LastFriday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SFDC_Project__c</object>
        <sortField>SFDC_Project_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Project_RecordType</name>
        <label>Project RecordType</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Open_Project_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFDC_Project__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Projects_with_PWUs</name>
        <label>Projects with PWUs</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_Projects_with_PWUs_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lop_Projects_with_PWUs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFDC_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PWU_RecordType</name>
        <label>PWU RecordType</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scn_Project_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Weekly_Update__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Weekly_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scn_Confirmation</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(21, 137, 238);&quot;&gt;A Project Weekly Update has been created for the following Project(s)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(108, 108, 108);&quot;&gt;The current Project RAG Status listed below reflects any changes as a result of the Project Weekly Update. In addition, you will receive a notification for each Project if the RAG Status has changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_Project_Confirmation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SFDC_Project__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Projects</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_Projects_with_PWUs_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4e89&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SFDC_Project_Name__c&quot;,&quot;guid&quot;:&quot;column-bcf9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RAG_Status__c&quot;,&quot;guid&quot;:&quot;column-4950&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;RAG Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;&lt;strong&gt;Project RAG Status definition:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;RED  &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Risks without Risk Mitigation identified&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 195, 55);&quot;&gt;AMBER  &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Risks with Risk Mitigation identified&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 208, 83);&quot;&gt;GREEN  &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;No Risks&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(144, 144, 144);&quot;&gt;*RAG Status will be updated with the highest risk value among all updates related to the Project that have been created since this past Friday (last report out). If the RAG Status changes, you will receive a notification. You still have the ability to manually change the RAG Status at any time.&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_Create_Project_Weekly_Update</name>
        <label>Create Project Weekly Update</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_Field_Condition_Check</targetReference>
        </connector>
        <fields>
            <name>txt_Create_Project_Weekly_Update_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(21, 137, 238);&quot;&gt;Create a Project Weekly Update for the following Project&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_DisplayProject</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SFDC_Project__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create a Project Weekly Update for the following selected Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_Project_Record_in_Loop</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2cb1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SFDC_Project_Name__c&quot;,&quot;guid&quot;:&quot;column-aaea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SFDC_Project_Status__c&quot;,&quot;guid&quot;:&quot;column-5135&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Project Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RAG_Status__c&quot;,&quot;guid&quot;:&quot;column-da7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;RAG Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Project_Weekly_Update__c&quot;,&quot;guid&quot;:&quot;column-2178&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Last Project Weekly Update&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_spacer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;_&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ipt_PWU_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Weekly Update</stringValue>
            </defaultValue>
            <fieldText>Project Weekly Update Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;80 character limit exceeded&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_PWU_Name})&lt;80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>scn_Create_Project_Weekly_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_Create_Project_Weekly_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_PWU_Comments</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(116, 116, 116); background-color: rgb(255, 255, 255);&quot;&gt;Update Comments&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ipt_PWU_Comments</name>
                    <extensionName>c:richTextInputFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>myVal</name>
                        <value>
                            <elementReference>var_Comments_Temp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>txt_ErrorRequiredField</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Update Comments required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fx_LEN_Comments</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequiredField</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_CommentsFieldLimit</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;2,000 character limit exceeded&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fx_LEN_Comments</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>2000.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequiredField</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_PWU_Milestones</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(116, 116, 116);&quot;&gt;Milestones&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ipt_PWU_Milestones</name>
                    <extensionName>c:richTextInputFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>myVal</name>
                        <value>
                            <elementReference>var_Milestones_Temp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>txt_MilestonesFieldLimit</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;2,000 character limit exceeded&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fx_LEN_Milestones</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>2000.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequiredField</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ipt_PWU_Milestone_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Milestone Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_Create_Project_Weekly_Update_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_PWU_Risks</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(116, 116, 116);&quot;&gt;Risks&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ipt_PWU_Risks</name>
                    <extensionName>c:richTextInputFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>myVal</name>
                        <value>
                            <elementReference>var_Risks_Temp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>txt_RisksFieldLimit</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;2,000 character limit exceeded&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fx_LEN_Risks</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>2000.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequiredField</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>txt_PWU_Risk_Mitigation_Efforts</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(116, 116, 116);&quot;&gt;Risk Mitigation Efforts&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ipt_PWU_Risk_Mitigation_Efforts</name>
                    <extensionName>c:richTextInputFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>myVal</name>
                        <value>
                            <elementReference>var_Risk_Mitigation_Temp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>txt_RiskMitigationFieldLimit</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;2,000 character limit exceeded&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fx_LEN_Risk_Mitigation</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>2000.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequiredField</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_NoRecordsMssg</name>
        <label>No Records Found</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoRecordsMssg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No active Project records were found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_Project_Selection</name>
        <label>Project Selection</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lop_Project_Record_Collection</targetReference>
        </connector>
        <fields>
            <name>txt_Project_Selection_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 137, 238); font-size: 14px;&quot;&gt;Select one or more Projects to create a Project Weekly Update&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Projects displayed include all &lt;/span&gt;&lt;em style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;owned &lt;/em&gt;&lt;span style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;and &lt;/span&gt;&lt;em style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;open&lt;/em&gt;&lt;span style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;, as well as those &lt;/span&gt;&lt;em style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;owned &lt;/em&gt;&lt;span style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;with a &lt;/span&gt;&lt;em style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;LastModified &lt;/em&gt;&lt;span style=&quot;color: rgb(108, 108, 108); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;date since the previous Friday&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_SelectProject</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SFDC_Project__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Open_Project_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-68e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SFDC_Project_Name__c&quot;,&quot;guid&quot;:&quot;column-7ccd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SFDC_Project_Status__c&quot;,&quot;guid&quot;:&quot;column-72b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Project Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RAG_Status__c&quot;,&quot;guid&quot;:&quot;column-dff6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;RAG Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Project_Weekly_Update__c&quot;,&quot;guid&quot;:&quot;column-1b2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Last Project Weekly Update&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Project_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Project__c</objectType>
    </variables>
    <variables>
        <name>var_Comments_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Milestones_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Project_Record_in_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Project__c</objectType>
    </variables>
    <variables>
        <name>var_Projects_with_PWUs_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Project__c</objectType>
    </variables>
    <variables>
        <name>var_PWU_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Weekly_Update__c</objectType>
    </variables>
    <variables>
        <name>var_PWU_Single_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Weekly_Update__c</objectType>
    </variables>
    <variables>
        <description>Shows as TRUE when the required field has not been completed</description>
        <name>var_RequiredField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Risk_Mitigation_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Risks_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
