force-app/main/default/flows/Request_Screen_CreateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>axn_EmailNotification</name>
        <label>Email Notification</label>
        <locationX>897</locationX>
        <locationY>3314</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmp_EmailNotifcation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>col_EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply-sfdc@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Project Request {!get_RequestRecord.Request_Number__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns the single record to the record collection</description>
        <name>asn_AddContentDocumentLinktoCollection</name>
        <label>Add Content Document Link to Collection</label>
        <locationX>1381</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>coll_ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables to the single Content Document Link Record variable</description>
        <name>asn_BL_ContentDocumentLinkRecordVarAssignment</name>
        <label>Content Document Link Record Var Assignment</label>
        <locationX>1513</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BL_RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_AddContentDocumentLinktoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_BL_PrimaryBusinessContact_UserVariables</name>
        <label>Variables</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryBusinessContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PR_PrimaryBusinessContact_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrimaryBusinessContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PR_PrimaryBusinessContact_New.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_PR_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_BL_PrimaryBusinessContact_Variable</name>
        <label>Variable</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_PrimaryBusinessContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PR_PrimaryBusinessContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrimaryBusinessContactID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>asn_PR_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_BL_Variables</name>
        <label>Variables</label>
        <locationX>1150</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_PR_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_SFDCProjectLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProjectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PlannedStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_PlannedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PlannedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_PlannedEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PrimaryBusinessContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_BL_EnduserContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_BL_RecordTypeID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_EmailCollection_PrimaryContact</name>
        <label>Email Collection</label>
        <locationX>1029</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>col_EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PrimaryBusinessContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>axn_EmailNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_EmailCollection_ReqBy</name>
        <label>Email Collection</label>
        <locationX>765</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>col_EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RequestedByEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>axn_EmailNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_EmailCollection_ReqByPrimaryContact</name>
        <label>Email Collection</label>
        <locationX>501</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>col_EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RequestedByEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PrimaryBusinessContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>axn_EmailNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables to the single Content Document Link Record variable</description>
        <name>asn_PR_ContentDocumentLinkRecordVarAssignment</name>
        <label>Content Document Link Record Var Assignment</label>
        <locationX>1249</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PR_RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_AddContentDocumentLinktoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to various variables</description>
        <name>asn_PR_Variables</name>
        <label>Variables</label>
        <locationX>644</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>var_ProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PR_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProjectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PR_Project_Description_Rich.myVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PlannedStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PR_PlannedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PlannedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ipt_PR_ExpectedEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_PR_RecordTypeID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_RecordSelection_Project</name>
        <choiceText>Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_RecordSelection_Story</name>
        <choiceText>Story</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Story</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determines if any of the Primary Business Contact changed; if not, default variable values are used</description>
        <name>dec_BL_PrimaryBusinessContactChanged</name>
        <label>Primary Business Contact Changed</label>
        <locationX>1150</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>asn_BL_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_BL_PrimaryBusinessContactChanged_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_PrimaryBusinessContactEmail_Original</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ipt_BL_EnduserContactEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_BL_PrimaryBusinessContact_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines who to send an email notification</description>
        <name>dec_EmailNotifications</name>
        <label>Email Notifications</label>
        <locationX>897</locationX>
        <locationY>3014</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>ocm_EmailNotifications_ReqByPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_SendEmail_RequestedBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_SendEmail_PrimaryContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EmailCollection_ReqByPrimaryContact</targetReference>
            </connector>
            <label>Req By &amp; Primary Contact</label>
        </rules>
        <rules>
            <name>ocm_EmailNotifications_ReqBy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_SendEmail_RequestedBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_SendEmail_PrimaryContact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EmailCollection_ReqBy</targetReference>
            </connector>
            <label>Req By</label>
        </rules>
        <rules>
            <name>ocm_EmailNotifications_PrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_SendEmail_PrimaryContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ipt_SendEmail_RequestedBy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EmailCollection_PrimaryContact</targetReference>
            </connector>
            <label>Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if there are Files related to the Request record</description>
        <name>dec_FileCount</name>
        <label>File Count</label>
        <locationX>897</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>loop_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One or more</defaultConnectorLabel>
        <rules>
            <name>ocm_FileCount_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestFiles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_RequestRecord</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ObjectType</name>
        <label>Object Type</label>
        <locationX>1381</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>asn_BL_ContentDocumentLinkRecordVarAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Backlog</defaultConnectorLabel>
        <rules>
            <name>ocm_ContentDoc_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_ObjectSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_PR_ContentDocumentLinkRecordVarAssignment</targetReference>
            </connector>
            <label>Project</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if any of the Primary Business Contact changed; if not, default variable values are used</description>
        <name>dec_PR_PrimaryBusinessContactChanged</name>
        <label>Primary Business Contact Changed</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>asn_PR_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_PR_PrimaryBusinessContactChanged_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_PrimaryBusinessContactEmail_Original</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ipt_PR_PrimaryBusinessContactEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PR_PrimaryBusinessContact_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_PR_RecordFound</name>
        <label>Record Found</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>asn_BL_PrimaryBusinessContact_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_PR_RecordFound_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PR_PrimaryBusinessContact_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_BL_PrimaryBusinessContact_UserVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a Project record is already related to the Request record</description>
        <name>dec_PR_Related</name>
        <label>Project Related</label>
        <locationX>473</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scn_ObjectSelection_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ProjectRelated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RequestRecord.SFDC_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_PR_Related</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which outcome the user selected from the previous screen</description>
        <name>ocm_ObjectType</name>
        <label>Object Type</label>
        <locationX>897</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>scn_BL_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Story</defaultConnectorLabel>
        <rules>
            <name>ocm_ObjectType_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ipt_ObjectSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scn_PR_Input</targetReference>
            </connector>
            <label>Project</label>
        </rules>
    </decisions>
    <description>Creates a Project or Backlog record when invoked by a button on the Request record</description>
    <dynamicChoiceSets>
        <name>chc_Business_Function_Impact</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Function_Impact__c</picklistField>
        <picklistObject>SFDC_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Company_Goal_Impact</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Goal_Impact__c</picklistField>
        <picklistObject>SFDC_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Operating_Tenet_Impact</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operating_Tenet_Impact__c</picklistField>
        <picklistObject>SFDC_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Primary_Business_Function_Impact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Business_Function_Impact__c</picklistField>
        <picklistObject>SFDC_Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>fld_BL_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Backlog_Items__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>fld_BL_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Backlog_Type__c</picklistField>
        <picklistObject>Backlog_Items__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Stores a value to be used as a hyperlink specific to the org</description>
        <name>fx_Hyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>fx_PrimaryBusinessContactEmail_Original</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_RequestRecord.Primary_Business_Contact__c}), {!get_RequestRecord.Primary_Project_Contact_Email__c}, {!get_RequestRecord.Primary_Business_Contact__r.Email})</expression>
    </formulas>
    <formulas>
        <description>Calculates a &apos;Reference Number&apos; that is used in the email notification. This number is either the Project Number or the Backlog ItemV number, depending on the object and record created</description>
        <name>fx_RefNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_PR_NewRecord.Name}), {!get_RequestRecord.Request_Number__c}, {!get_PR_NewRecord.Name})</expression>
    </formulas>
    <formulas>
        <description>Calculates the original Requested By email to set as the default value when the Flow is invoked. This checks if the &apos;Requested By&apos; lookup field is populated and sets User&apos;s email as value; if blank will use the &apos;Requested by Email&apos; text field to set the value, if available.</description>
        <name>fx_ReqeustedByEmail_Original</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_RequestRecord.Requested_By__c}), {!get_RequestRecord.Requested_By_Email__c}, {!get_RequestRecord.Requested_By__r.Email})</expression>
    </formulas>
    <formulas>
        <description>Calculates label value to use in the final screen for the confirmation to send an email to either the &apos;Primary Business Contact&apos; or &apos;Enduser Contact&apos;</description>
        <name>fx_SendConfirmationEmail_Label</name>
        <dataType>String</dataType>
        <expression>IF({!ipt_ObjectSelection}=&apos;Project&apos;, &apos;Primary Business Contact - &apos;, &apos;Enduser Contact - &apos;)</expression>
    </formulas>
    <interviewLabel>Request - Screen - Create Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Screen - Create Project/Backlog</label>
    <loops>
        <description>Loops through Files found in the get element</description>
        <name>loop_Files</name>
        <label>Files</label>
        <locationX>1161</locationX>
        <locationY>2006</locationY>
        <collectionReference>get_RequestFiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_ObjectType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crt_ContentDocumentLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a new Backlog Item record with values from the input screen and Request record that invoked the Flow</description>
        <name>crt_BL_Record</name>
        <label>Story Record</label>
        <locationX>1150</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>var_BL_RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>get_BL_NewRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Backlog_Type__c</field>
            <value>
                <elementReference>ipt_BL_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_ProjectDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enduser_Contact__c</field>
            <value>
                <elementReference>ipt_BL_EnduserContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>tmp_BL_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Deployment_Date__c</field>
            <value>
                <elementReference>var_PlannedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Start_Date__c</field>
            <value>
                <elementReference>var_PlannedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>ipt_BL_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_BL_RecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Project__c</field>
            <value>
                <elementReference>ipt_BL_SFDCProjectLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>var_ProjectName</elementReference>
            </value>
        </inputAssignments>
        <object>Backlog_Items__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Content Document Link records to relate Files to the Project record</description>
        <name>crt_ContentDocumentLink</name>
        <label>Content Document Link</label>
        <locationX>1161</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>udt_RequestRecord</targetReference>
        </connector>
        <inputReference>coll_ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Project record with values from the input screen and Request record that invoked the Flow</description>
        <name>crt_PR_Record</name>
        <label>Project Record</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <assignRecordIdToReference>var_PR_RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>get_PR_NewRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Benefit__c</field>
            <value>
                <elementReference>ipt_PR_Business_Benefit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Goal_Impact__c</field>
            <value>
                <elementReference>ipt_PR_Company_Goal_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Impact__c</field>
            <value>
                <elementReference>ipt_PR_Customer_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Request__c</field>
            <value>
                <elementReference>get_RequestRecord.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Go_live_Date__c</field>
            <value>
                <elementReference>var_PlannedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Results__c</field>
            <value>
                <elementReference>ipt_PR_Expected_Results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_Tenet_Impact__c</field>
            <value>
                <elementReference>ipt_PR_Operating_Tenet_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Start_Date__c</field>
            <value>
                <elementReference>var_PlannedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Business_Contact__c</field>
            <value>
                <elementReference>var_PrimaryBusinessContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Business_Function_Impact__c</field>
            <value>
                <elementReference>ipt_PR_Primary_Business_Function_Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_PR_RecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>var_RequestedByID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Project_Description__c</field>
            <value>
                <elementReference>var_ProjectDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Project_Name__c</field>
            <value>
                <elementReference>var_ProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Project_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Integration__c</field>
            <value>
                <elementReference>ipt_PR_System_Integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency__c</field>
            <value>
                <stringValue>2 - Medium</stringValue>
            </value>
        </inputAssignments>
        <object>SFDC_Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_BL_NewRecord</name>
        <label>New Story Record</label>
        <locationX>1150</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RequestFiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_BL_RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Backlog_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the User record for the new Primary Business Contact selected in the previous screen</description>
        <name>get_BL_PrimaryBusinessContact_New</name>
        <label>Primary Business Contact Record</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_BL_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ipt_BL_EnduserContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_PrimaryBusinessContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_BL_RecordTypeID</name>
        <label>Story Record Type ID</label>
        <locationX>1150</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_BL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Story</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Backlog_Items__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PR_NewRecord</name>
        <label>New Project Record</label>
        <locationX>644</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RequestFiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PR_RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFDC_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the User record for the new Primary Business Contact selected in the previous screen</description>
        <name>get_PR_PrimaryBusinessContact_New</name>
        <label>Primary Business Contact Record</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PR_RecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ipt_PR_PrimaryBusinessContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PR_RecordTypeID</name>
        <label>Project Record Type ID</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crt_PR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFDC_Project__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Files related to the Request record</description>
        <name>get_RequestFiles</name>
        <label>Files Related to Request</label>
        <locationX>897</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_FileCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Request record from which the Flow was invoked</description>
        <name>get_RequestRecord</name>
        <label>Request</label>
        <locationX>473</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_PR_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFDC_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates values on the Request record that invoked the Flow</description>
        <name>udt_RequestRecord</name>
        <label>Request Record</label>
        <locationX>897</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>scn_RecordCreation_EmailNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RequestRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Project__c</field>
            <value>
                <elementReference>var_PR_RecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>request_status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SFDC_Request__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>scn_BL_Input</name>
        <label>Story Input</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_BL_PrimaryBusinessContactChanged</targetReference>
        </connector>
        <fields>
            <name>scn_BL_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_BL_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_Owner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SFDC_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_OwnerID</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_BL_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_EnduserContactEmail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_PrimaryBusinessContactEmail</elementReference>
                    </defaultValue>
                    <fieldText>Enduser Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Defaults to the &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Primary Business Contact Email&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; from the Request record if there is no User record match. Saves value to the &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enduser Contact&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; field on the Story record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_BL_Input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_BL_Input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_PlannedStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Planned Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Saves value to the &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Start Date&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; field on the Story record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Date may not occur in the past&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_BL_PlannedStartDate}&gt;=TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_BL_Input_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_PlannedEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_RequestRecord.Target_Complete_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Planned End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Defaults to &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Target Complete Date&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; provided on the Request form, if available. Saves value to the &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned Deployment Date&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; field on the Story record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_BL_Input_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_BL_Input_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_SFDCProjectLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Backlog_Items__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SFDC_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SFDC Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_BL_Input_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_Type</name>
                    <choiceReferences>fld_BL_Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New Feature/Enhancement</stringValue>
                    </defaultValue>
                    <fieldText>Backlog Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_BL_Input_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_BL_Priority</name>
                    <choiceReferences>fld_BL_Priority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>P4</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;P1 = Critical&lt;/p&gt;&lt;p&gt;P2 = Important&lt;/p&gt;&lt;p&gt;P3 = Normal&lt;/p&gt;&lt;p&gt;P4 = Low&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ipt_BL_Title</name>
            <defaultValue>
                <stringValue>{!get_RequestRecord.Name}</stringValue>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ipt_BL_Description</name>
            <defaultValue>
                <stringValue>{!get_RequestRecord.Request_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Story</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the user to select which type of object will be used to create the new record</description>
        <name>scn_ObjectSelection_Input</name>
        <label>Object Type Selection</label>
        <locationX>897</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ocm_ObjectType</targetReference>
        </connector>
        <fields>
            <name>scn_ObjectSelection_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_ObjectSelection_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ObjectSelection_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_ObjectSelection</name>
                    <choiceReferences>chc_RecordSelection_Project</choiceReferences>
                    <choiceReferences>chc_RecordSelection_Story</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chc_RecordSelection_Project</defaultSelectedChoiceReference>
                    <fieldText>Create a new record</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_ObjectSelection_Input_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scn_PR_Input</name>
        <label>Project Input</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_PR_PrimaryBusinessContactChanged</targetReference>
        </connector>
        <fields>
            <name>scn_PR_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_PR_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_Owner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SFDC_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_OwnerID</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_PR_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_PrimaryBusinessContactEmail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_PrimaryBusinessContactEmail</elementReference>
                    </defaultValue>
                    <fieldText>Primary Business Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Defaults to the &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Primary Business Contact Email&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; from the Request record if there is no User record match. If changed, will check for a User record match and will save to the &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Primary Business Contact&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; lookup field on the Project record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_PR_Input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_PR_Input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_PlannedStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Planned Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Saves value to the &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Planned Start Date&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; field on the Project record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Date may not occur in the past&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ipt_PR_PlannedStartDate}&gt;=TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_PR_Input_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_ExpectedEndDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_RequestRecord.Target_Complete_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Expected Go-live/End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Defaults to &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Target Complete Date&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; provided on the Request form, if available. Saves value to the &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Planned End Date&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; field on the Project record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ipt_PR_ProjectName</name>
            <defaultValue>
                <stringValue>{!get_RequestRecord.Name}</stringValue>
            </defaultValue>
            <fieldText>Project Name</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Character limit exceeded (80)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_PR_ProjectName})&lt;80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ipt_PR_Project_Description_Rich</name>
            <extensionName>c:richTextInputFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myVal</name>
                <value>
                    <elementReference>get_RequestRecord.Request_Detail__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ipt_PR_Expected_Results</name>
            <defaultValue>
                <stringValue>{!get_RequestRecord.Expected_Results__c}</stringValue>
            </defaultValue>
            <fieldText>Expected Results</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Character limit exceeded (2,000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_PR_Expected_Results})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ipt_PR_Business_Benefit</name>
            <defaultValue>
                <stringValue>{!get_RequestRecord.Potential_Business_Benefit__c}</stringValue>
            </defaultValue>
            <fieldText>Business Benefit</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Character limit exceeded (2,000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ipt_PR_Business_Benefit})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>scn_PR_Input_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_PR_Input_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_Customer_Impact</name>
                    <defaultValue>
                        <stringValue>{!get_RequestRecord.Customer_Impact__c}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Impact</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Character limit exceeded (2,000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_PR_Customer_Impact})&lt;2000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_PR_Input_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_System_Integration</name>
                    <defaultValue>
                        <stringValue>{!get_RequestRecord.System_Integration__c}</stringValue>
                    </defaultValue>
                    <fieldText>System Integration</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Character limit exceeded (2,000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ipt_PR_System_Integration})&lt;2000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scn_PR_Input_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_PR_Input_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_Company_Goal_Impact</name>
                    <choiceReferences>chc_Company_Goal_Impact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_RequestRecord.Company_Goal_Impact__c</elementReference>
                    </defaultValue>
                    <fieldText>Company Goal Impact</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_PR_Input_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_Operating_Tenet_Impact</name>
                    <choiceReferences>chc_Operating_Tenet_Impact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_RequestRecord.Operating_Tenet_Impact__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Tenet Impact</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_PR_Input_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ipt_PR_Primary_Business_Function_Impact</name>
                    <choiceReferences>chc_Primary_Business_Function_Impact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_RequestRecord.Primary_Business_Function_Impact__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Business Function Impact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Project</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to inform the user that the Request record is already related to a Project</description>
        <name>scn_PR_Related</name>
        <label>Project Related</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ErrorMssg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This Request is already related to a Project. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please close this form and remove the related Project before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen displays confirmation that a record has been created</description>
        <name>scn_RecordCreation_EmailNotification</name>
        <label>Record Creation &amp; Email Notification</label>
        <locationX>897</locationX>
        <locationY>2906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_EmailNotifications</targetReference>
        </connector>
        <fields>
            <name>scn_RecordCreation_EmailNotification_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_PR_CreationConfirmationLink</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!var_PR_RecordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!get_PR_NewRecord.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ObjectSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scn_RecordCreation_EmailNotification_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_BL_CreationConfirmationLink</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!var_BL_RecordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!get_BL_NewRecord.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ipt_ObjectSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Story</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scn_RecordCreation_EmailNotification_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_SendEmailNotification</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Send email notification:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ipt_SendEmail_RequestedBy</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Requested By - {!var_RequestedByEmail}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_RequestedByEmail</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ipt_SendEmail_PrimaryContact</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>{!fx_SendConfirmationEmail_Label}{!var_PrimaryBusinessContactEmail}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_PrimaryBusinessContactEmail</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_RequestedByEmail</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>var_PrimaryBusinessContactEmail</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scn_RecordCreation_EmailNotification_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>347</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_RequestRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmp_BL_Notes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Created from Request# &lt;a href=&quot;/{!get_RequestRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!get_RequestRecord.Request_Number__c}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmp_EmailNotifcation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, sans-serif; color: rgb(0, 153, 0); background-color: white;&quot;&gt;**Please do not respond to this email, as it will go to an unmonitored mailbox**&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Salesforce team has reviewed your request and it has been moved to the backlog. A team member will be reaching out to inform you of next steps and to gather additional details, if needed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Request Number&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_RequestRecord.Request_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Request Description: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_RequestRecord.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record collection for Content Document Link creation</description>
        <name>coll_ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Stores the recordId of the Request record that invoked the Flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BL_AssignedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BL_EnduserContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Backlog Item record</description>
        <name>var_BL_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Owner User</description>
        <name>var_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_PlannedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the &apos;Planned Start Date&apos; to be used in the Project record</description>
        <name>var_PlannedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Project record</description>
        <name>var_PR_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the email of the Primary Business Contact User</description>
        <name>var_PrimaryBusinessContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fx_PrimaryBusinessContactEmail_Original</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the Primary Business Contact User</description>
        <name>var_PrimaryBusinessContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_RequestRecord.Primary_Business_Contact__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores text to be used in the &apos;Project Description&apos; field when creating the Project record</description>
        <name>var_ProjectDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores text to be used in the &apos;Project Name&apos; field when creating the Project record</description>
        <name>var_ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the email of the Requested By User</description>
        <name>var_RequestedByEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fx_ReqeustedByEmail_Original</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the Requested By User</description>
        <name>var_RequestedByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_RequestRecord.Requested_By__c</elementReference>
        </value>
    </variables>
</Flow>
