force-app/main/default/flows/SFO_Case_update_with_correct_Account_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>282</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyCollection</elementReference>
                </rightValue>
            </conditions>
            <label>Account Empty</label>
        </rules>
        <rules>
            <name>Account_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCollection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmptyCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Loop</targetReference>
            </connector>
            <label>Account Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accountid_check</name>
        <label>Accountid check</label>
        <locationX>274</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>accountid_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountid</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>accountid not empty</label>
        </rules>
        <rules>
            <name>accountid_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountid</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>accountid is empty</label>
        </rules>
    </decisions>
    <description>Use to clarify which Account should be used on a SFO created Case when there are duplicate Account Numbers.</description>
    <interviewLabel>SFO - Case update with correct Account Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFO - Case update with correct Account Number</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>282</locationX>
        <locationY>443</locationY>
        <assignNextValueToReference>AccountSobject</assignNextValueToReference>
        <collectionReference>AccountCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>285</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameLocal</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Case_Lookup_for_Account_id</name>
        <label>Case Lookup for Account id</label>
        <locationX>266</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accountid_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>accountid</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>284</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountSobject.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case_Lookup_for_Account_id</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
