force-app/main/default/flows/STOWD_User_Queue_POC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Find_User_Decision</name>
        <label>Find User?</label>
        <locationX>348</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>User_STOWD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUserIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_STOWD</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <description>POC of the flow that could attribute User or Queue to the STOWD object
Decision</description>
    <formulas>
        <name>fUserOrQueue</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!vUserIDFound}),&quot;Queue&quot;,&quot;User&quot;)</expression>
    </formulas>
    <interviewLabel>STOWD User Queue POC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STOWD User Queue POC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User?</label>
        <locationX>192</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_User_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOwnerName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserIDFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates STOWD with user or queue</description>
        <name>Update_STOWD</name>
        <label>Update STOWD</label>
        <locationX>494</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSTOWDid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <object>STOWD__Status_Ownership_Duration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>User_STOWD</name>
        <label>User STOWD</label>
        <locationX>351</locationX>
        <locationY>250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSTOWDid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <object>STOWD__Status_Ownership_Duration__c</object>
    </recordUpdates>
    <startElementReference>Find_User</startElementReference>
    <status>Active</status>
    <variables>
        <description>Name of the owner from the field</description>
        <name>vOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the status and ownership that started process</description>
        <name>vSTOWDid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the user record</description>
        <name>vUserIDFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
