force-app/main/default/flows/Supply_Planner_Create_Supply_Planner_WOLI_for_NIR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email alert to Supply Planner WOLI Owner</description>
        <name>Send_Email_Alert_for_Supply_Planner_WOLI</name>
        <label>Send Email Alert for Supply Planner WOLI</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>WorkOrderLineItem.NIR_Supply_Planner_WOLI_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_SupplyPlannerWOLI.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.NIR_Supply_Planner_WOLI_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Supply_Planner_WOLI_Values</name>
        <label>Assign Supply Planner WOLI Values</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supply_Planner_WOLI_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Servicing_Division_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>divisionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SupplyPlannerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.CDI_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.CDI_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Cost_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Cost_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Customer_Consignment_Delivery_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Customer_Consignment_Delivery_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Customer_Needed_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Customer_Needed_Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Delivery_Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Delivery_Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Existing_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Existing_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Initial_Order_Qty_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Initial_Order_Qty_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Initial_Order_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Initial_Order_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Material__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Order_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Order_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Projected_Monthly_Usage_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Projected_Monthly_Usage_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Sourcing_Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Sourcing_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Submitter_Line_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Submitter_Line_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Unit_Price_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Unit_Price_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Vendor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Vendor_Rep_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor_Rep_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Vendor_Rep_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor_Rep_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Vendor_Rep_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor_Rep_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.PIM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.PIM_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Servicing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Servicing_Division.Division_Name_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.New_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.New_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Product_Category_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Product_Category_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Product_Category_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.Product_Category_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.Sourcing_Comments_for_Supply_Planners__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.WorkOrder.Sourcing_Comments_for_Supply_Planners__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.New_Product_Number_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.New_Product_Number_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplyPlannerWOLI.New_Product_Description_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NIR_WOLI.New_Product_Description_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Supply_Planner_WOLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_NIR_WOLI</name>
        <label>Found NIR WOLI?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NIR_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Supply_Planner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>For Stocking items, when PIM completes the NIR WOLI, create WOLI&apos;s for Supply Planners for each requested Division</description>
    <environments>Default</environments>
    <interviewLabel>Supply Planner: Create Supply Planner WOLI for NIR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supply Planner: Create Supply Planner WOLI for NIR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Supply Planner WOLI from NIR WOLI, but change record type, status, Owner, and set the Division</description>
        <name>Create_Supply_Planner_WOLI</name>
        <label>Create Supply Planner WOLI</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_Email_Alert_for_Supply_Planner_WOLI</targetReference>
        </connector>
        <inputReference>var_SupplyPlannerWOLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_NIR_WOLI</name>
        <label>Get NIR WOLI</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Servicing_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NIRWOLIId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Servicing_Division</name>
        <label>Get Servicing Division</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_NIR_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>divisionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Servicing_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supply_Planner_WOLI_Record_Type</name>
        <label>Get Supply Planner WOLI Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NIR_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supply_Planner_Work_Order_Line_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Supply_Planner_WOLI_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Lookup Supply Planner based on Division, Segment, and Vendor (fallback to Segment if no match)</description>
        <name>Lookup_Supply_Planner</name>
        <label>Lookup Supply Planner</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Supply_Planner_WOLI_Values</targetReference>
        </connector>
        <flowName>Lookup_Supply_Planner_Assignment</flowName>
        <inputAssignments>
            <name>division</name>
            <value>
                <elementReference>Get_Servicing_Division.Division_Composite_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>segment</name>
            <value>
                <elementReference>Get_NIR_WOLI.Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vendor</name>
            <value>
                <elementReference>Get_NIR_WOLI.Vendor__r.Vendor_Code__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_SupplyPlannerId</assignToReference>
            <name>var_SupplyPlannerId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Servicing Division Id</description>
        <name>divisionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of NIR Work Order Line Item</description>
        <name>var_NIRWOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupplyPlannerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupplyPlannerWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
