force-app/main/default/flows/Technician_Lead_Lookups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Assists with the creation of the technician leads

Edit 5/1 to change the PSR lookup variable to the user id lookup rather than name</description>
    <interviewLabel>Technician Lead Lookups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technician Lead Lookups</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds the active user associated to the picklist value</description>
        <name>Find_Active_User</name>
        <label>Find Active User</label>
        <locationX>287</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadSalesManager</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varFutureOwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the PSR associated to the picklist value</description>
        <name>Find_PSR</name>
        <label>Find PSR</label>
        <locationX>285</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Lookups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SF_userid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFutureOwnerID</elementReference>
            </value>
        </filters>
        <object>Primary_Sales_Rep__c</object>
        <outputAssignments>
            <assignToReference>varPSRid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Lead_Lookups</name>
        <label>Lead Lookups</label>
        <locationX>284</locationX>
        <locationY>329</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varFutureOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep__c</field>
            <value>
                <elementReference>varPSRid</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Find_Active_User</startElementReference>
    <status>Active</status>
    <variables>
        <description>ID of the User corresponding with the picklist choice</description>
        <name>varFutureOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G39000005TOoX</stringValue>
        </value>
    </variables>
    <variables>
        <description>ID of the lead that starts the flow</description>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales manager input from the lead form</description>
        <name>varLeadSalesManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the PSR found</description>
        <name>varPSRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
