force-app/main/default/flows/Temp_Legal_Contract_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If account owner is active continue, else skip sharing as it will cause a failure</description>
        <name>decision_Is_Account_Owner_active</name>
        <label>Is Account Owner active</label>
        <locationX>449</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Account_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sharing</targetReference>
            </connector>
            <label>Account Owner Active</label>
        </rules>
    </decisions>
    <description>Will share historical legal contracts with account owner if they are active.  used temporarily for when we load historical records.</description>
    <environments>Default</environments>
    <interviewLabel>Temp Legal Contract Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Temp Legal Contract Sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Share Legal Contract with Account Owner</description>
        <name>Create_Sharing</name>
        <label>Create Sharing</label>
        <locationX>755</locationX>
        <locationY>340</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Contract__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>59</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>decision_Is_Account_Owner_active</targetReference>
        </connector>
        <object>Legal_Contract__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
