force-app/main/default/flows/Update_Contract_Line_Item_Approval_field_Curr_Rec_Excep_GTM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Deal_Manager_Contract_Line_Item_Approved</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Send Approved Request Email</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>Contract_Line_Item_Approval__c.Deal_Manager_Contract_Line_Item_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract_Line_Item_Approval__c.Deal_Manager_Contract_Line_Item_Approved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Deal_Manager_Contract_Line_Item_Rejected</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Send Rejected Request Email</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <actionName>Contract_Line_Item_Approval__c.Deal_Manager_Contract_Line_Item_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract_Line_Item_Approval__c.Deal_Manager_Contract_Line_Item_Rejected</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Deal_Manager_Pending_Approval_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A6</name>
        <label>Send Pending Approval Request Email</label>
        <locationX>100</locationX>
        <locationY>700</locationY>
        <actionName>Contract_Line_Item_Approval__c.Deal_Manager_Pending_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract_Line_Item_Approval__c.Deal_Manager_Pending_Approval_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Has a new Contract Line Item Approval record been created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Send Approved Request Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Send Approval Request Reject Email</label>
        </rules>
    </decisions>
    <description>Contract Line Item Approval Populate CUrr | Rec | Excep GTM Field Value</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c =0,0,([Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c-
IF([Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c =0,[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,[Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c))/[Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_9998723029</name>
        <dataType>Number</dataType>
        <expression>IF({!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c} =0,0,({!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c}-
IF({!myVariable_current.Preceeding_Camp_Cost__c} =0,{!myVariable_current.Contract_Line_Item__r.PricingCost__c},{!myVariable_current.Preceeding_Camp_Cost__c}))/{!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>SUBSTITUTE([Contract_Line_Item_Approval__c].Curr_Rec_Excep_GTM__c ,&quot;| 0% |&quot;,&quot;| N.A. |&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A5_1320095302</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!myVariable_current.Curr_Rec_Excep_GTM__c} ,&quot;| 0% |&quot;,&quot;| N.A. |&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>SUBSTITUTE([Contract_Line_Item_Approval__c].Curr_Rec_Excep_GTM__c ,&quot;| % |&quot;,&quot;| N.A. |&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A4_0975665679</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!myVariable_current.Curr_Rec_Excep_GTM__c} ,&quot;| % |&quot;,&quot;| N.A. |&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT(ROUND(if(if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)=0,0, 
(if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)-
[Contract_Line_Item_Approval__c].GTM_Cost__c)/
if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)),4)*100)+&quot;% | &quot;+
TEXT(ROUND(IF(OR(ISNULL([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c),
ISBLANK([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c)),
IF([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c=0,0,
([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c-
[Contract_Line_Item_Approval__c].GTM_Cost__c)/
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c),
IF([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c=0,0,
([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c-
IF([Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c=0,
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c))/
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c)),4)*100)+&quot;% | &quot;+
TEXT(ROUND(IF([Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c =0,0,([Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c -IF([Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c =0,[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c))/
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.aiq_Net_Price__c ),4)*100)+&quot;%&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A3_4141396206</name>
        <dataType>String</dataType>
        <expression>TEXT(ROUND(if(if({!myVariable_current.Preceeding_Camp_Price__c} = 0,
{!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},
{!myVariable_current.Preceeding_Camp_Price__c})=0,0, 
(if({!myVariable_current.Preceeding_Camp_Price__c} = 0,
{!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},
{!myVariable_current.Preceeding_Camp_Price__c})-
{!myVariable_current.GTM_Cost__c})/
if({!myVariable_current.Preceeding_Camp_Price__c} = 0,
{!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},
{!myVariable_current.Preceeding_Camp_Price__c})),4)*100)+&quot;% | &quot;+
TEXT(ROUND(IF(OR(ISNULL({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c}),
ISBLANK({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c})),
IF({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c}=0,0,
({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c}-
{!myVariable_current.GTM_Cost__c})/
{!myVariable_current.Contract_Line_Item__r.Recommended_Price__c}),
IF({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c}=0,0,
({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c}-
IF({!myVariable_current.Preceeding_Camp_Cost__c}=0,
{!myVariable_current.Contract_Line_Item__r.PricingCost__c},
{!myVariable_current.Preceeding_Camp_Cost__c}))/
{!myVariable_current.Contract_Line_Item__r.Recommended_Price__c})),4)*100)+&quot;% | &quot;+
TEXT(ROUND(IF({!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c} =0,0,({!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c} -IF({!myVariable_current.Preceeding_Camp_Cost__c} =0,{!myVariable_current.Contract_Line_Item__r.PricingCost__c},
{!myVariable_current.Preceeding_Camp_Cost__c}))/
{!myVariable_current.Contract_Line_Item__r.aiq_Net_Price__c} ),4)*100)+&quot;%&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,    [Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,      [Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)=0,0, 
  (if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,
    [Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,
      [Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)-
      [Contract_Line_Item_Approval__c].GTM_Cost__c)/
   if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c = 0,
    [Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousPrice__c,
      [Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c))*100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A2_9169861254</name>
        <dataType>Number</dataType>
        <expression>if(if({!myVariable_current.Preceeding_Camp_Price__c} = 0,    {!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},      {!myVariable_current.Preceeding_Camp_Price__c})=0,0, 
  (if({!myVariable_current.Preceeding_Camp_Price__c} = 0,
    {!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},
      {!myVariable_current.Preceeding_Camp_Price__c})-
      {!myVariable_current.GTM_Cost__c})/
   if({!myVariable_current.Preceeding_Camp_Price__c} = 0,
    {!myVariable_current.Contract_Line_Item__r.PreviousPrice__c},
      {!myVariable_current.Preceeding_Camp_Price__c}))*100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>If(or(
ISNULL([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c),
ISBLANK([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c)),
if([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c =0,0,
([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c -[Contract_Line_Item_Approval__c].GTM_Cost__c)/
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c ),
if([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c =0,0,
([Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c -if([Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c=0,
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,
[Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c)))/
[Contract_Line_Item_Approval__c].Contract_Line_Item__c.Recommended_Price__c )*100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A2_8365752415</name>
        <dataType>Number</dataType>
        <expression>If(or(
ISNULL({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c}),
ISBLANK({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c})),
if({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} =0,0,
({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} -{!myVariable_current.GTM_Cost__c})/
{!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} ),
if({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} =0,0,
({!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} -if({!myVariable_current.Preceeding_Camp_Cost__c}=0,
{!myVariable_current.Contract_Line_Item__r.PricingCost__c},
{!myVariable_current.Preceeding_Camp_Cost__c})))/
{!myVariable_current.Contract_Line_Item__r.Recommended_Price__c} )*100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(ISNULL([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c),ISBLANK([Contract_Line_Item_Approval__c].Contract_Line_Item__c.CampaignAppealedLine__c)),[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,[Contract_Line_Item_Approval__c].Contract_Line_Item__c.PreviousCost__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_2342723771</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISNULL({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c}),ISBLANK({!myVariable_current.Contract_Line_Item__r.CampaignAppealedLine__c})),{!myVariable_current.Contract_Line_Item__r.PricingCost__c},{!myVariable_current.Contract_Line_Item__r.PreviousCost__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if([Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c=0,[Contract_Line_Item_Approval__c].Contract_Line_Item__c.zpl__PolicyValue__c,[Contract_Line_Item_Approval__c].Preceeding_Camp_Price__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_4656930106</name>
        <dataType>Number</dataType>
        <expression>if({!myVariable_current.Preceeding_Camp_Price__c}=0,{!myVariable_current.Contract_Line_Item__r.zpl__PolicyValue__c},{!myVariable_current.Preceeding_Camp_Price__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>If ([Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c=0, [Contract_Line_Item_Approval__c].Contract_Line_Item__c.PricingCost__c,[Contract_Line_Item_Approval__c].Preceeding_Camp_Cost__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_9522985771</name>
        <dataType>Number</dataType>
        <expression>If ({!myVariable_current.Preceeding_Camp_Cost__c}=0, {!myVariable_current.Contract_Line_Item__r.PricingCost__c},{!myVariable_current.Preceeding_Camp_Cost__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; [Contract_Line_Item_Approval__c].Owner:User.IsActive =  True &amp;&amp; NOT(ISBLANK([Contract_Line_Item_Approval__c].OwnerId )) &amp;&amp;(NOT(ISBLANK([Contract_Line_Item_Approval__c].Owner:User.Email)) || NOT(ISBLANK([Contract_Line_Item_Approval__c].Owner:Queue.Email )))  

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {!myVariable_current.Owner:User.IsActive} =  True &amp;&amp; NOT(ISBLANK({!myVariable_current.OwnerId} )) &amp;&amp;(NOT(ISBLANK({!myVariable_current.Owner:User.Email})) || NOT(ISBLANK({!myVariable_current.Owner:Queue.Email} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),
ISPICKVAL([Contract_Line_Item_Approval__c].Status__c ,&quot;Approved&quot;),
[Contract_Line_Item_Approval__c].Approval_Sequence__c =1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),
ISPICKVAL({!myVariable_current.Status__c} ,&quot;Approved&quot;),
{!myVariable_current.Approval_Sequence__c} =1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([Contract_Line_Item_Approval__c].Status__c,&quot;Rejected&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Status__c},&quot;Rejected&quot;)</expression>
    </formulas>
    <interviewLabel>Update_Contract_Line_Item_Approval_field_Curr_Rec_Excep_GTM-13_InterviewLabel</interviewLabel>
    <label>Contract Line Item Approval Curr | Rec | Req GTM field</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contract_Line_Item_Approval__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract_Line_Item_Approval__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update GTM Cost</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Campaign Cost</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Campaign_Cost__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_9522985771</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Price</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Price__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_4656930106</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GTM_Cost</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GTM_Cost__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_2342723771</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Req GTM Pct</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Req_GTM_Pct__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_9998723029</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract_Line_Item_Approval__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Current GTM Percent, Campaign GTM Percent</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Campaign GTM Pct</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Campaign_GTM_Pct__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A2_8365752415</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current GTM Pct</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_GTM_Pct__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A2_9169861254</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract_Line_Item_Approval__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update Curr | Rec | Excep GTM</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Curr | Rec | Excep GTM</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Curr_Rec_Excep_GTM__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A3_4141396206</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract_Line_Item_Approval__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Replace | % | with N.A.</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Curr | Rec | Excep GTM</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Curr_Rec_Excep_GTM__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A4_0975665679</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract_Line_Item_Approval__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A5</name>
        <label>Replace |0%| with N.A.</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>myRule_1_A6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Curr | Rec | Excep GTM</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Curr_Rec_Excep_GTM__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A5_1320095302</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item_Approval__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item_Approval__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item_Approval__c</objectType>
    </variables>
</Flow>
