force-app/main/default/flows/Update_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>280</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyCollection</elementReference>
                </rightValue>
            </conditions>
            <label>Account Empty</label>
        </rules>
        <rules>
            <name>Account_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCollection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmptyCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Loop</targetReference>
            </connector>
            <label>Account Not Empty</label>
        </rules>
    </decisions>
    <description>Used for SFO process with Account Numbers</description>
    <interviewLabel>Update Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>282</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>AccountSobject</assignNextValueToReference>
        <collectionReference>AccountCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>270</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameLocal</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>287</locationX>
        <locationY>481</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountSobject.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Account_Lookup</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
