force-app/main/default/flows/User_Sales_Navigator_and_or_Salesloft_License_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When a user has a Salesloft license added, notify Provisioning team to add to Salesloft Azure group</description>
        <name>Send_Provisioning_Add_Notice</name>
        <label>Send Provisioning Add Notice</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_to_Salesloft_Chatter_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProvisioningAddSalesloftBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ITIAMProvisioningTeam@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[SALESLOFT] Add User</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>When a user has a Salesloft license removed, notify Provisioning team to remove user from Salesloft Azure group</description>
        <name>Send_Provisioning_Remove_Notice</name>
        <label>Send Provisioning Remove Notice</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_from_Salesloft_Chatter_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProvisioningRemoveSalesloftBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ITIAMProvisioningTeam@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[SALESLOFT]: Remove User</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send end-user welcome email for Sales Navigator only</description>
        <name>Send_Sales_Navigator_Welcome_Email</name>
        <label>Send Sales Navigator Welcome Email</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WelcomeEmailSalesNavigator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to Sales Navigator</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send end-user welcome email for Salesloft + Sales Navigator</description>
        <name>Send_Salesloft_Sales_Navigator_Welcome_Email</name>
        <label>Send Salesloft + Sales Navigator Welcome Email</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WelcomeEmailSalesNavigatorSalesloft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to Sales Navigator + Salesloft!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send end-user welcome email for Salesloft only</description>
        <name>Send_Salesloft_Welcome_Email</name>
        <label>Send Salesloft Welcome Email</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WelcomeEmailSalesloft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to Salesloft</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Sales_Navigator_Removed_or_Added</name>
        <label>Sales Navigator Removed or Added?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Welcome_Email_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LISN_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Sales_Navigator_Chatter_Group</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
        <rules>
            <name>LISN_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Sales_Navigator_Chatter_Group</targetReference>
            </connector>
            <label>Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesloft_Removed_or_Added</name>
        <label>Salesloft Removed or Added?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Sales_Navigator_Removed_or_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Provisioning_Remove_Notice</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
        <rules>
            <name>Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Provisioning_Add_Notice</targetReference>
            </connector>
            <label>Added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send end-user welcome email depending on whether they are getting Salesloft License, Sales Navigator License, or both.</description>
        <name>Welcome_Email_Type</name>
        <label>Welcome Email Type</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesloft_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sales_Navigator_License__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Salesloft_Welcome_Email</targetReference>
            </connector>
            <label>Salesloft Only</label>
        </rules>
        <rules>
            <name>Sales_Navigator_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Salesloft_License__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Sales_Navigator_Welcome_Email</targetReference>
            </connector>
            <label>Sales Navigator Only</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salesloft_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Navigator_License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Salesloft_Sales_Navigator_Welcome_Email</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>User: Sales Navigator and/or Salesloft License Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Sales Navigator and/or Salesloft License Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Sales_Navigator_Chatter_Group</name>
        <label>Add to Sales Navigator Chatter Group</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Welcome_Email_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <elementReference>Get_LinkedIn_Sales_Navigator_Chatter_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationRole</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_Salesloft_Chatter_Group</name>
        <label>Add to Salesloft Chatter Group</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Sales_Navigator_Removed_or_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <elementReference>Get_Salesloft_Chatter_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationRole</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_from_Sales_Navigator_Chatter_Group</name>
        <label>Remove from Sales Navigator Chatter Group</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Welcome_Email_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LinkedIn_Sales_Navigator_Chatter_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CollaborationGroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_from_Salesloft_Chatter_Group</name>
        <label>Remove from Salesloft Chatter Group</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Sales_Navigator_Removed_or_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Salesloft_Chatter_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CollaborationGroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_LinkedIn_Sales_Navigator_Chatter_Group</name>
        <label>Get LinkedIn Sales Navigator Chatter Group</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Salesloft_Removed_or_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkedIn Sales Navigator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesloft_Chatter_Group</name>
        <label>Get Salesloft Chatter Group</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LinkedIn_Sales_Navigator_Chatter_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesloft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesloft_Chatter_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesloft_License__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Navigator_License__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email body for Provisioning to add a Salesloft License</description>
        <name>ProvisioningAddSalesloftBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new user needs to be &lt;strong&gt;added &lt;/strong&gt;to the &lt;strong&gt;Salesloft Azure&lt;/strong&gt; group.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;User:  &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Email: &lt;a href=&quot;mailto:{!$Record.Email}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Email}&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Network ID: &lt;strong&gt;{!$Record.Network_Id__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email for Provisioning to Remove Salesloft</description>
        <name>ProvisioningRemoveSalesloftBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A user needs to be &lt;strong&gt;removed &lt;/strong&gt;from the &lt;strong&gt;Salesloft Azure&lt;/strong&gt; group.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;User: &lt;strong&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Email: &lt;a href=&quot;mailto:%7B!$Record.Email%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Email}&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Network ID: &lt;strong&gt;{!$Record.Network_Id__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Welcome email to end-users getting Salesloft ONLY</description>
        <name>WelcomeEmailSalesloft</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;You now have access to &lt;strong&gt;Salesloft&lt;/strong&gt;, the top-rated Sales Engagement platform, helping you to prospect smarter – &lt;em&gt;not harder&lt;/em&gt; – by orchestrating every call, email, meeting, and interaction through one platform with all activities automatically synced to Salesforce.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your account is now live and pending your activation&lt;/strong&gt;. To get started, please complete the below steps.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Salesloft&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 1&lt;/strong&gt;: Accept Invitation to Salesloft.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Find the Salesloft Welcome email invite from &lt;a href=&quot;mailto:support@salesloft.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;support@salesloft.com&lt;/a&gt; in your inbox. Click the ‘&lt;strong&gt;Join the Team&lt;/strong&gt;’ link in the email to accept and login with your Veritiv email (you may have to authenticate using Microsoft Authenticator). &lt;strong&gt;&lt;em&gt;Note that you only have 24 hours to accept the invite!&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 2&lt;/strong&gt;: Login (&lt;a href=&quot;https://accounts.salesloft.com/sign_in&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesloft Login Page&lt;/a&gt;) and &lt;a href=&quot;https://app.salesloft.com/app/settings/email&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;connect your email&lt;/strong&gt;&lt;/a&gt; (you will want to select Microsoft Office 365). (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-profile-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Set-Up-Your-Profile&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 3&lt;/strong&gt;: Set up your &lt;a href=&quot;https://app.salesloft.com/app/settings/calendar/general&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;calendar connection&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-calendar-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Your-Personal-Settings#Calendar_Settings&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 4&lt;/strong&gt;: Update your &lt;a href=&quot;https://app.salesloft.com/app/settings/phone&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Dialer settings&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-calls-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Set-Up-the-Dialer&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 5&lt;/strong&gt;: &lt;a href=&quot;https://app.salesloft.com/app/settings/crm&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Connect to Salesforce&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-crm/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/User-Startup-Checklist#Connect_to_Your_CRM&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Note: You will need to have Google Chrome installed prior to completing Step 6. If not already, it is highly recommend to &lt;/em&gt;&lt;a href=&quot;https://support.google.com/chrome/answer/95417?hl=en&amp;amp;co=GENIE.Platform%3DDesktop&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;set Google Chrome as your default browser&lt;/em&gt;&lt;/a&gt;&lt;em&gt;.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 6&lt;/strong&gt;: Install the &lt;a href=&quot;https://app.salesloft.com/app/settings/downloads&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Salesloft Chrome Extension&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-downloads/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Download-the-Salesloft-Chrome-Extension&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Have Questions? Check out this helpful Q&amp;amp;A:&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Where can I access more guidance &amp;amp; on-demand learning resources for Sales Navigator and Salesloft?&lt;ul&gt;&lt;li&gt;Bookmark the &lt;a href=&quot;https://onfirstup.com/veritiv/vibe/contents/35318668&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Salesloft Hub&lt;/strong&gt;&lt;/a&gt; on Vibe. These self-service training resources will help you quickly get started and continue your education on best practices and helpful features&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Once activated, where can I go for support issues?&amp;nbsp;&lt;ul&gt;&lt;li&gt;Utilize the &lt;a href=&quot;https://help.salesloft.com/s/contactsupport&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesloft Support&lt;/a&gt; center.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;How do I download the Salesloft mobile app?&amp;nbsp;&amp;nbsp;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://help.salesloft.com/s/article/Salesloft-Mobile-App&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Follow these instructions for the Salesloft Mobile App&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Activation issues? Please reach out to me via &lt;a href=&quot;mailto:michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;email&lt;/a&gt; or &lt;a href=&quot;https://teams.microsoft.com/l/chat/0/0?users=michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Teams&lt;/a&gt; and I’ll be glad to help.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Welcome Email for end-users getting Sales Navigator Only</description>
        <name>WelcomeEmailSalesNavigator</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;You now have access to &lt;strong&gt;LinkedIn Sales Navigator&lt;/strong&gt;, the sales platform that will help you establish and deepen relationships across your target accounts, accelerate connections, and build trusted relationships in this world of digital selling.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your account is now live and pending your activation. &lt;/strong&gt;To get started, please complete the steps below as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 1&lt;/strong&gt;: &lt;a href=&quot;https://www.linkedin.com/mypreferences/d/manage-email-addresses&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Add your @veritivcorp.com email to your LinkedIn profile&lt;/a&gt;. Your company email does NOT have to be the primary email on your LinkedIn account, but it must be verified/confirmed.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 2&lt;/strong&gt;: &lt;a href=&quot;https://www.linkedin.com/enterprise-authentication/activate?activationIdentifier=AGEAAF51cm46bGk6ZW50ZXJwcmlzZUFwcGxpY2F0aW9uSW5zdGFuY2U6KHVybjpsaTplbnRlcnByaXNlQWNjb3VudDoyMjE3ODI2LDUzOTEyMzIxKV8xNjc3MTczNjIzOTYzAX8OmkRGCb-nr7ClMUGIeJN5Df19&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Activate your license&lt;/a&gt; and review the &lt;a href=&quot;https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.sales.linkedin.com%2Fsales-navigator-quick-start-guide%2F1212097%2Fscorm%2F3forno34wj2ck&amp;amp;data=05%7C01%7Cdanapinto%40linkedin.com%7Cd157abfe24bb4bcbdada08da47e50e5d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637901347501103619%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=ixBw%2BSblaiThVO6S378ueqmKvlHjMUrcshr%2F10a9dA8%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Sales Navigator Quick Start Guide&lt;/a&gt; to help you hit the ground running!&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Have Questions? Check out this helpful Q&amp;amp;A:&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;What’s the difference between LinkedIn &amp;amp; Sales Navigator?&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://training.sales.linkedin.com/when-to-leverage-linkedin-and-sales-navigator?next=%2Fwhen-to-leverage-linkedin-and-sales-navigator%2F1193446&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Check out the value these platforms provide&lt;/a&gt;.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Where can I access more guidance &amp;amp; on-demand learning resources for Sales Navigator?&amp;nbsp;&lt;ul&gt;&lt;li&gt;Bookmark the &lt;a href=&quot;https://onfirstup.com/veritiv/vibe/contents/35318651&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LinkedIn Sales Navigator Hub on Vibe&lt;/a&gt;. These self-service training resources will help you quickly get started and continue your education on best practices and helpful features&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Once activated, where can I go for support issues?&amp;nbsp;&lt;ul&gt;&lt;li&gt;Leverage the &lt;a href=&quot;https://www.linkedin.com/help/sales-navigator&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LinkedIn Help Center&lt;/a&gt; or access Live Chat &lt;a href=&quot;https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fhelp%2Fsales-navigator%3Flang%3Den&amp;amp;data=05%7C01%7Cdanapinto%40linkedin.com%7Cd157abfe24bb4bcbdada08da47e50e5d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637901347501103619%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=WDNnXMAO3JpDMYu4f%2F2DJ1yZF4id7twmiTpdtCpIBrA%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; at the bottom of the page&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;How do I download the Sales Navigator mobile app?&amp;nbsp;&amp;nbsp;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://www.linkedin.com/help/linkedin/answer/a107092&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Follow these instructions here&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;Activation issues? Please reach out to Michael Plunkett via &lt;a href=&quot;mailto:michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;email&lt;/a&gt; or &lt;a href=&quot;https://teams.microsoft.com/l/chat/0/0?users=michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Teams&lt;/a&gt; and I’ll be glad to help.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Welcome Email for end-users getting Sales Navigator AND Salesloft</description>
        <name>WelcomeEmailSalesNavigatorSalesloft</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;You now have access to LinkedIn Sales Navigator and Salesloft. &lt;strong&gt;Sales Navigator&lt;/strong&gt; is a sales platform that will help you establish and deepen relationships across your target accounts, accelerate connections, and build trusted relationships in this world of digital selling. &lt;strong&gt;Salesloft &lt;/strong&gt;is the top-rated Sales Engagement platform, helping you to prospect smarter – &lt;em&gt;not harder&lt;/em&gt; – by orchestrating every call, email, meeting, and interaction through one platform with all activities automatically synced to Salesforce.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your accounts are now live and pending your activation&lt;/strong&gt;. To get started, please complete the below steps.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;LinkedIn&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 1&lt;/strong&gt;: &lt;a href=&quot;https://www.linkedin.com/mypreferences/d/manage-email-addresses&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Add your &lt;strong&gt;@veritivcorp.com&lt;/strong&gt; email to your LinkedIn profile&lt;/a&gt;. Your company email does NOT have to be the primary email on your LinkedIn account. Ensure that your Veritiv email is verified and enabled in your settings.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 2&lt;/strong&gt;: &lt;a href=&quot;https://www.linkedin.com/enterprise-authentication/activate?activationIdentifier=AGEAAF51cm46bGk6ZW50ZXJwcmlzZUFwcGxpY2F0aW9uSW5zdGFuY2U6KHVybjpsaTplbnRlcnByaXNlQWNjb3VudDoyMjE3ODI2LDUzOTEyMzIxKV8xNjc3MTczNjIzOTYzAX8OmkRGCb-nr7ClMUGIeJN5Df19&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Activate your license&lt;/a&gt; and review the &lt;a href=&quot;https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.sales.linkedin.com%2Fsales-navigator-quick-start-guide%2F1212097%2Fscorm%2F3forno34wj2ck&amp;amp;data=05%7C01%7Cdanapinto%40linkedin.com%7Cd157abfe24bb4bcbdada08da47e50e5d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637901347501103619%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=ixBw%2BSblaiThVO6S378ueqmKvlHjMUrcshr%2F10a9dA8%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Sales Navigator Quick Start Guide&lt;/a&gt; to help you hit the ground running!&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Salesloft&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 1&lt;/strong&gt;: Accept Invitation to Salesloft.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Find the Salesloft Welcome email invite from &lt;a href=&quot;mailto:support@salesloft.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;support@salesloft.com&lt;/a&gt; in your inbox. Click the ‘&lt;strong&gt;Join the Team&lt;/strong&gt;’ link in the email to accept and login with your Veritiv email (you may have to authenticate using Microsoft Authenticator). &lt;strong&gt;&lt;em&gt;Note that you only have 24 hours to accept the invite!&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 2&lt;/strong&gt;: Login (&lt;a href=&quot;https://accounts.salesloft.com/sign_in&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesloft Login Page&lt;/a&gt;) and &lt;a href=&quot;https://app.salesloft.com/app/settings/email&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;connect your email&lt;/strong&gt;&lt;/a&gt; (you will want to select Microsoft Office 365). (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-profile-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Set-Up-Your-Profile&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 3&lt;/strong&gt;: Set up your &lt;a href=&quot;https://app.salesloft.com/app/settings/calendar/general&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;calendar connection&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-calendar-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Your-Personal-Settings#Calendar_Settings&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 4&lt;/strong&gt;: Update your &lt;a href=&quot;https://app.salesloft.com/app/settings/phone&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Dialer settings&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-calls-2/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Set-Up-the-Dialer&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 5&lt;/strong&gt;: &lt;a href=&quot;https://app.salesloft.com/app/settings/crm&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Connect to Salesforce&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-crm/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/User-Startup-Checklist#Connect_to_Your_CRM&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Note: You will need to have Google Chrome installed prior to completing Step 6. If not already, it is highly recommend to &lt;/em&gt;&lt;a href=&quot;https://support.google.com/chrome/answer/95417?hl=en&amp;amp;co=GENIE.Platform%3DDesktop&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;set Google Chrome as your default browser&lt;/em&gt;&lt;/a&gt;&lt;em&gt;.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Step 6&lt;/strong&gt;: Install the &lt;a href=&quot;https://app.salesloft.com/app/settings/downloads&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Salesloft Chrome Extension&lt;/strong&gt;&lt;/a&gt;. (&lt;a href=&quot;https://salesloft.com/salesloft-u/lesson/personal-settings-downloads/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;How-To Video&lt;/a&gt; | &lt;a href=&quot;https://help.salesloft.com/s/article/Download-the-Salesloft-Chrome-Extension&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Help Article&lt;/a&gt;)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Have Questions? Check out this helpful Q&amp;amp;A:&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;What’s the difference between LinkedIn &amp;amp; Sales Navigator?&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftraining.sales.linkedin.com%2Fwhen-to-leverage-linkedin-and-sales-navigator%2F1193446&amp;amp;data=05%7C01%7Cdanapinto%40linkedin.com%7Cd157abfe24bb4bcbdada08da47e50e5d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637901347501103619%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=QlJw9U4KjoIS4Iogxmncw6RZTJdiGrIl5z3RMg8RcUw%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Check out the value these platforms provide&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Where can I access more guidance &amp;amp; on-demand learning resources for Sales Navigator and Salesloft?&lt;ul&gt;&lt;li&gt;Bookmark the &lt;a href=&quot;https://onfirstup.com/veritiv/vibe/contents/35318651&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;LinkedIn Sales Navigator Hub&lt;/strong&gt;&lt;/a&gt; and &lt;a href=&quot;https://onfirstup.com/veritiv/vibe/contents/35318668&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Salesloft Hub&lt;/strong&gt;&lt;/a&gt; on Vibe. These self-service training resources will help you quickly get started and continue your education on best practices and helpful features&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Once activated, where can I go for support issues?&amp;nbsp;&lt;ul&gt;&lt;li&gt;Leverage the &lt;a href=&quot;https://www.linkedin.com/help/sales-navigator&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LinkedIn Help Center&lt;/a&gt; or access Live Chat &lt;a href=&quot;https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fhelp%2Fsales-navigator%3Flang%3Den&amp;amp;data=05%7C01%7Cdanapinto%40linkedin.com%7Cd157abfe24bb4bcbdada08da47e50e5d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637901347501103619%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=WDNnXMAO3JpDMYu4f%2F2DJ1yZF4id7twmiTpdtCpIBrA%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; at the bottom of the page&amp;nbsp;&lt;/li&gt;&lt;li&gt;For Salesloft, utilize the &lt;a href=&quot;https://help.salesloft.com/s/contactsupport&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesloft Support&lt;/a&gt; center.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;How do I download the Sales Navigator and Salesloft mobile apps?&amp;nbsp;&amp;nbsp;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://www.linkedin.com/help/linkedin/answer/a107092&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Follow these instructions for the LinkedIn Sales Navigator Mobile App&lt;/a&gt;.&amp;nbsp;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://help.salesloft.com/s/article/Salesloft-Mobile-App&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Follow these instructions for the Salesloft Mobile App&lt;/a&gt;.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Activation issues? Please reach out to me via &lt;a href=&quot;mailto:michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;email&lt;/a&gt; or &lt;a href=&quot;https://teams.microsoft.com/l/chat/0/0?users=michael.plunkett@veritivcorp.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Teams&lt;/a&gt; and I’ll be glad to help.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
