force-app/main/default/flows/WOLI_RT_Status_marked_Cancelled_for_NIR_WOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Submitter_PSR</name>
        <label>Send Notification to Submitter/PSR</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <actionName>WorkOrderLineItem.NIR_WOLI_Canceled_by_PIM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.NIR_WOLI_Canceled_by_PIM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>If WO Sourcing Status != Rejected, send Canceled notification to Submitter/PSR (to prevent duplicate notifications)</description>
        <name>Sourcing_Status</name>
        <label>Sourcing Status</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Submitter_PSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder.Sourcing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WOLI - [RT] Status marked Cancelled for NIR WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI - [RT] Status marked Cancelled for NIR WOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_NIR_WO_to_Cancelled</name>
        <label>Update NIR WO to Cancelled</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Sourcing_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_NIR_WO_to_Cancelled</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;NIR_Work_Order_Line_Items&quot; &amp;&amp;
ISCHANGED({!$Record.PIM_Status__c}) &amp;&amp;
TEXT({!$Record.PIM_Status__c}) = &quot;Cancelled&quot;</filterFormula>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
