force-app/main/default/flows/WOLI_NIR_Complete_and_Sourcing_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Servicing_Division_Ids</name>
        <label>Extract Servicing Division Ids</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Servicing_Divisions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Get_NIR_WOLI.Servicing_Division_Ids__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Delivery_Product_Type</name>
        <label>Delivery/Product Type</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Extract_Servicing_Division_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stocking</defaultConnectorLabel>
        <rules>
            <name>ocm_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NIR_WOLI.Delivery_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_as_Complete</targetReference>
            </connector>
            <label>Direct (Non-Stocking)</label>
        </rules>
    </decisions>
    <description>When a NIR Work Order is marked Approved by Sourcing and the NIR WOLI is Complete, if it is Direct (Non-Stocking), mark WO Complete; if it is Stocking, create Supply Planner WOLIs</description>
    <environments>Default</environments>
    <interviewLabel>WOLI (NIR) Complete and Sourcing Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI (NIR) Complete and Sourcing Approved</label>
    <loops>
        <name>Loop_Servicing_Divisions</name>
        <label>Loop Servicing Divisions</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>Extract_Servicing_Division_Ids.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Supply_Planner_WOLI</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NIR_WOLI</name>
        <label>Get NIR WOLI</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Product_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order_as_Complete</name>
        <label>Update Work Order as Complete</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NIR_WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NIR_WOLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Supply_Planner_WOLI</name>
        <label>Create Supply Planner WOLI</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_Servicing_Divisions</targetReference>
        </connector>
        <flowName>Supply_Planner_Create_Supply_Planner_WOLI_for_NIR</flowName>
        <inputAssignments>
            <name>divisionId</name>
            <value>
                <elementReference>Loop_Servicing_Divisions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NIRWOLIId</name>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>workOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
