force-app/main/default/flows/WOLI_RT_Status_marked_Complete_for_Supply_Planner_WOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Found_Non_Complete_Supply_Planner_WOLIs</name>
        <label>Found Non-Complete Supply Planner WOLIs?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order_to_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Complete_Supply_Planner_WOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a Supply Planner WOLI is marked Complete, check to see if *all* Supply Planner WOLIs are complete for the WO -- if so, update WO to Complete</description>
    <environments>Default</environments>
    <interviewLabel>WOLI - [RT] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI - [RT] Status marked Complete for Supply Planner WOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Non_Complete_Supply_Planner_WOLIs</name>
        <label>Get Non-Complete Supply Planner WOLIs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Non_Complete_Supply_Planner_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supply_Planner_WOLI_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supply_Planner_WOLI_Record_Type</name>
        <label>Get Supply Planner WOLI Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Complete_Supply_Planner_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supply_Planner_Work_Order_Line_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>When all Supply Planner WOLIs are Complete, update WO Status to Complete</description>
        <name>Update_Work_Order_to_Complete</name>
        <label>Update Work Order to Complete</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Supply_Planner_WOLI_Record_Type</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Supply_Planner_Work_Order_Line_Items&quot; &amp;&amp;
ISCHANGED({!$Record.Status}) &amp;&amp;
TEXT({!$Record.Status}) = &quot;Complete&quot;</filterFormula>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
