force-app/main/default/flows/Work_Order_Share_From_WorkOrder_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This email is sent at any point during the flow if a fault is incurred.</description>
        <name>emailFault</name>
        <label>emailFault</label>
        <locationX>1112</locationX>
        <locationY>13</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateFaultEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error during flow to create WO Share</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This email is sent at any point during the flow if a fault is incurred.</description>
        <name>emailFault_0</name>
        <label>emailFault</label>
        <locationX>1521</locationX>
        <locationY>233</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateFaultEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error during flow to create WO Share</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This email is sent at any point during the flow if a fault is incurred.</description>
        <name>emailFault_1</name>
        <label>emailFault</label>
        <locationX>1213</locationX>
        <locationY>645</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateFaultEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error during flow to create WO Share</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This email is sent at any point during the flow if a fault is incurred.</description>
        <name>emailFault_1_1</name>
        <label>emailFault</label>
        <locationX>548</locationX>
        <locationY>718</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateFaultEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@veritivcorp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error during flow to create WO Share</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>This checks to see if that variable populated in the record lookup above finds a value. If it does, continue. If it does not, end.</description>
        <name>D_Was_an_Active_Acct_Owner_Found</name>
        <label>D:Was an Active Acct Owner Found?</label>
        <locationX>548</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Acct_Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveAcctOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Account_Owner_Share_0</targetReference>
            </connector>
            <label>Acct Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks to see if that variable populated in the record lookup above finds a value. If it does, continue. If it does not, end.</description>
        <name>D_Was_an_Active_Acct_Owner_Found_0</name>
        <label>D:Was an Active Creator Found?</label>
        <locationX>928</locationX>
        <locationY>424</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WO_Creator_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveUserCreatedBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_CreatedBy_Share_0</targetReference>
            </connector>
            <label>WO Creator is Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks to see if that variable populated in the record lookup above finds a value. If it does, continue. If it does not, end.</description>
        <name>D_Was_an_Active_Acct_Owner_Found_0_1</name>
        <label>D:Was an Active Creator Found?</label>
        <locationX>1322</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WO_Creator_is_Active_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveUserCreatedBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_CreatedBy_Share</targetReference>
            </connector>
            <label>WO Creator is Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks to see if that variable populated in the record lookup above finds a value. If it does not, continue to the createdbyuser record lookup so that if the account owner is inactive, the work order is still shared with the createdby user.</description>
        <name>D_Was_an_Active_Acct_Owner_Found_1</name>
        <label>D:Was an Active Acct Owner Found?</label>
        <locationX>839</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Acct_Owner_is_Active_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveAcctOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Account_Owner_Share</targetReference>
            </connector>
            <label>Acct Owner is Active</label>
        </rules>
        <rules>
            <name>Account_Owner_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveAcctOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlActiveUserCreatedBy_0</targetReference>
            </connector>
            <label>Account Owner is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>A WorkOrderShare record cannot be created for a user if he/she already owns the record. 3 scenarios must be solved for:

1) The work order owner is the creator of the work order
2) The work order owner is the account owner
3) The work order owner is neither the creator nor the account owner.</description>
        <name>Does_the_Owner_Already_Have_a_Share_Record</name>
        <label>Does the Owner Already Have a Share Record?</label>
        <locationX>596</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Have_Share_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCreatedByID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAcctOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlActiveUserAcctOwner_0</targetReference>
            </connector>
            <label>Does Not Have Share Record</label>
        </rules>
        <rules>
            <name>Owner_is_Acct_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAcctOwnerID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCreatedByID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlActiveUserCreatedBy</targetReference>
            </connector>
            <label>Owner is Acct Owner</label>
        </rules>
        <rules>
            <name>Owner_is_Creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCreatedByID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAcctOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlActiveUserAcctOwner</targetReference>
            </connector>
            <label>Owner is Creator</label>
        </rules>
        <rules>
            <name>WO_Owner_is_Creator_and_Acct_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAcctOwnerID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCreatedByID</elementReference>
                </rightValue>
            </conditions>
            <label>WO Owner is Creator and Acct Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_PIM</name>
        <label>IS PIM</label>
        <locationX>501</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Does_the_Owner_Already_Have_a_Share_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WoRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012220000000N1qAAE</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_is_Active_Owner</name>
        <label>Submitter is Active/Owner?</label>
        <locationX>223</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>IS_PIM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Need_to_Create_a_WO_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vActiveUserSubmitterID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varWorkOrderOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vActiveUserSubmitterID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vWOUniqueIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vActiveUserSubmitterID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vCorrugatedSpecialistID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_Share_for_Submitter</targetReference>
            </connector>
            <label>Need to Create a WO Share</label>
        </rules>
    </decisions>
    <description>Called from Process Builder when a Work Order is Created or the Owner is Changed

Edit 11/7 to proof out sharing with submitter if needed.
Edit 11/13 fault path to continue for test purposes</description>
    <interviewLabel>Work Order Share From WorkOrder Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderShare From WorkOrder Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order_Share_for_Submitter</name>
        <label>Create Work Order Share for Submitter</label>
        <locationX>230</locationX>
        <locationY>266</locationY>
        <assignRecordIdToReference>vShareRecordForSubmitter</assignRecordIdToReference>
        <connector>
            <targetReference>IS_PIM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Does_the_Owner_Already_Have_a_Share_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>vActiveUserSubmitterID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
    </recordCreates>
    <recordCreates>
        <description>This action, when variables are assigned through Process Builder, creates a WorkOrderShare record with Edit access for the WorkOrder&apos;s Account&apos;s Owner.</description>
        <name>RC_Account_Owner_Share</name>
        <label>RC_Account_Owner_Share</label>
        <locationX>981</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>rlActiveUserCreatedBy_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>emailFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varActiveAcctOwner</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
    </recordCreates>
    <recordCreates>
        <description>This action, when variables are assigned through Process Builder, creates a WorkOrderShare record with Edit access for the WorkOrder&apos;s Account&apos;s Owner.</description>
        <name>RC_Account_Owner_Share_0</name>
        <label>RC_Account_Owner_Share</label>
        <locationX>550</locationX>
        <locationY>613</locationY>
        <faultConnector>
            <targetReference>emailFault_1_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varActiveAcctOwner</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
    </recordCreates>
    <recordCreates>
        <description>This action, after variables are assigned by Process Builder, creates a WorkOrderShare record with Edit access for the WorkOrder&apos;s Account&apos;s Owner.</description>
        <name>RC_CreatedBy_Share</name>
        <label>RC_CreatedBy_Share</label>
        <locationX>1406</locationX>
        <locationY>119</locationY>
        <faultConnector>
            <targetReference>emailFault_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varActiveUserCreatedBy</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
    </recordCreates>
    <recordCreates>
        <description>This action, after variables are assigned by Process Builder, creates a WorkOrderShare record with Edit access for the WorkOrder&apos;s Account&apos;s Owner.</description>
        <name>RC_CreatedBy_Share_0</name>
        <label>RC_CreatedBy_Share</label>
        <locationX>1065</locationX>
        <locationY>531</locationY>
        <faultConnector>
            <targetReference>emailFault_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varActiveUserCreatedBy</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
    </recordCreates>
    <recordLookups>
        <description>Looks up the submitter</description>
        <name>Find_Submitter</name>
        <label>Find Submitter</label>
        <locationX>390</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitter_is_Active_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFormSubmitterUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vActiveUserSubmitterID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This record lookup finds the user ID of the account owner if the user is active</description>
        <name>rlActiveUserAcctOwner</name>
        <label>rlActiveUserAcctOwner</label>
        <locationX>546</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Was_an_Active_Acct_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctOwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveAcctOwner</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This record lookup finds the user ID of the account owner if the user is active</description>
        <name>rlActiveUserAcctOwner_0</name>
        <label>rlActiveUserAcctOwner</label>
        <locationX>744</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Was_an_Active_Acct_Owner_Found_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctOwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveAcctOwner</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This record lookup finds the user ID of the work order creator if the user is active</description>
        <name>rlActiveUserCreatedBy</name>
        <label>rlActiveUserCreatedBy</label>
        <locationX>805</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Was_an_Active_Acct_Owner_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedByID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveUserCreatedBy</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This record lookup finds the user ID of the work order creator if the user is active</description>
        <name>rlActiveUserCreatedBy_0</name>
        <label>rlActiveUserCreatedBy</label>
        <locationX>1159</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Was_an_Active_Acct_Owner_Found_0_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedByID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varActiveUserCreatedBy</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Submitter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This email will be sent if the flow experiences any error.</description>
        <name>templateFaultEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The automated sharing process has failed. Please review this record and remedy any visibility issues by creating manual sharing records. Please see flow details below:

Account Owner ID: {!varAcctOwnerID}
Work Order ID: {!varWorkOrderID}
Work Order Created By: {!varCreatedByID}
Work Order Owner: {!varWorkOrderOwner}

Flow Error Message:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <description>This is the collection of work orders for a specified account.</description>
        <name>socv_allworkorders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>socv_newshares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <name>sov_relatedworkorders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Sets the Access Level</description>
        <name>sov_workordershares</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderShare</objectType>
    </variables>
    <variables>
        <description>User ID to use for the share record AFTER the lookup is performed</description>
        <name>vActiveUserSubmitterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This value will be the ID of the account where the owner changes</description>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The user ID for the Owner of the Account that the Work Order is related to</description>
        <name>varAcctOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the User ID of the Account Owner, pending that the user is active</description>
        <name>varActiveAcctOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The user ID of the active user that created the work order</description>
        <name>varActiveUserCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is the user ID of whichever user created the work order.</description>
        <name>varCreatedByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record ID of the work order that requires a share record to be created.</description>
        <name>varWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the ID of the work order owner</description>
        <name>varWorkOrderOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the corrugated specialist on the related servicing division</description>
        <name>vCorrugatedSpecialistID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the user submitting the form.</description>
        <name>vFormSubmitterUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vShareRecordForSubmitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique Identifier from FA</description>
        <name>vWOUniqueIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
