force-app/main/default/flows/Work_Order_SF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Break out Multi-Select Picklist of Servicing Division to String Collection of Ids using ; as a delimeter</description>
        <name>Convert_Division_Multi_Select_Picklist_to_Collection</name>
        <label>Convert Division Multi-Select Picklist to Collection</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Selected_Divisions</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>cmp_Division</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_comma_delimited_list_of_Division_Names</name>
        <label>Generate comma-delimited list of Division Names</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Existing_Item</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Servicing_Division__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Division_Name_Formula__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Selected_Divisions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <actionName>GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Object_Type_from_recordId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIdStrings</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectName</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_NIR_Request_Created_Email_Alert</name>
        <label>Send NIR Request Created Email Alert</label>
        <locationX>710</locationX>
        <locationY>3854</locationY>
        <actionName>WorkOrder.NIR_WO_Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NIR_Submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.NIR_WO_Request_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_ContentDocumentLink_to_Collection_for_WO</name>
        <label>Add ContentDocumentLink to Collection for WO</label>
        <locationX>666</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ContentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContentDocumentLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentDocumentIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Division_Name</name>
        <label>Add Division Name</label>
        <locationX>798</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>var_DivisionNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_DivisionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Division_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_Account</name>
        <label>Set Values from Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_psrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Sales_Rep_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_psrEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Sales_Rep_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_PSR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Item_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_Opportunity</name>
        <label>Set Values from Opportunity</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_psrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Sales_Rep_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_psrEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Sales_Rep_Name__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_PSR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Item_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_PSR</name>
        <label>Set Values from PSR</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_psrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PSR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_psrEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PSR.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PSR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Item_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_Sourcing_Work_Order</name>
        <label>Set Values from Sourcing Work Order</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sourcing_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sourcingWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sourcing_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sourcing_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sourcing_PSR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Item_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_Has_Attachments</name>
        <label>Has Attachments?</label>
        <locationX>710</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Send_NIR_Request_Created_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Has_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cmp_ImprovedFiles.contentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ContentDocumentIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did submitter select an Existing Item?</description>
        <name>Existing_Item</name>
        <label>Existing Item?</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Create_NIR_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_ExistingItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cmp_Product.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine object type of passed-in recordId (if applicable)</description>
        <name>Object_Type_from_recordId</name>
        <label>Object Type from recordId</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Item_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_PSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary_Sales_Rep__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSR</targetReference>
            </connector>
            <label>Primary Sales Rep</label>
        </rules>
        <rules>
            <name>ocm_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>ocm_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>ocm_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sourcing_Work_Order</targetReference>
            </connector>
            <label>Work Order (Sourcing)</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSR_Different_from_Submitter</name>
        <label>PSR Different from Submitter?</label>
        <locationX>710</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>dec_Has_Attachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PSR.SF_userid__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NIR_WO_Share_for_PSR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Sourcing WO anything other than Completed, route to screen for error handling (only Completed Sourcing WOs can be used to create Single NIR)</description>
        <name>Status_of_Sourcing_WO</name>
        <label>Status of Sourcing WO</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Incomplete_Sourcing_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sourcing_Work_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sourcing_Account</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Screen Flow to submit an NIR</description>
    <dynamicChoiceSets>
        <name>ConsignmentDeliveryChannel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Consignment_Delivery_Channel__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CostUOM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cost_UOM__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Frequency__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ItemDeliveryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Product_Type__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriceUOM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unit_Price_UOM__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sourcing_Product_Category__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityUOM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Initial_Order_Qty_UOM__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Segment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segment__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServicingDivisions</name>
        <dataType>String</dataType>
        <displayField>Division_Name_Formula__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Servicing_Division__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Direct NIR do not require Sourcing approval, with the exception of the following product categories:

Packaging:
Ancillary Packaging &gt; Lumber / Plywood, Pallets
Corrugated
Equipment / Parts
Folding Carton
Mailers &gt; Corrugated Mailers
Surface Protection &gt; Chipboard, Edge Protection, Masking Paper, Packaging Papers

Print: All Print</description>
        <name>frm_DirectNotException</name>
        <dataType>Boolean</dataType>
        <expression>{!cmp_Item_Delivery_Type} = &quot;Direct&quot; &amp;&amp; NOT(
{!cmp_SegmentProdCategory.topValue} = &quot;Packaging&quot; &amp;&amp;
IF(
CASE({!cmp_SegmentProdCategory.middleValue}, 
&quot;Ancillary Packaging&quot;, CASE({!cmp_SegmentProdCategory.bottomValue}, &quot;Lumber / Plywood&quot;, 1, &quot;Pallets&quot;, 1, 0),
&quot;Corrugated&quot;, 1,
&quot;Mailers&quot;, CASE({!cmp_SegmentProdCategory.bottomValue}, &quot;Corrugated Mailers&quot;, 1, 0),
&quot;Surface Protection&quot;, CASE({!cmp_SegmentProdCategory.bottomValue}, &quot;Chipboard&quot;, 1, &quot;Edge Protection&quot;, 1, &quot;Masking Paper&quot;, 1, &quot;Packaging Papers&quot;, 1, 0),
0) = 1, TRUE, FALSE))
&amp;&amp; NOT({!cmp_SegmentProdCategory.topValue} = &quot;Print&quot;)</expression>
    </formulas>
    <formulas>
        <name>frm_DivisionName</name>
        <dataType>String</dataType>
        <expression>IF({!firstDivision},{!Loop_Division_Names.Division_Name_Formula__c},{!LineBreak}&amp;{!Loop_Division_Names.Division_Name_Formula__c})</expression>
    </formulas>
    <formulas>
        <name>frm_FlowInterviewGuid</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid}</expression>
    </formulas>
    <formulas>
        <description>If an Existing Item was selected, use that Description; otherwise use the Item Description component value</description>
        <name>frm_ItemDescription</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!cmp_Product.recordId})), {!Get_Existing_Item.Description}, {!cmp_Item_Description})</expression>
    </formulas>
    <formulas>
        <description>Mark as auto-approved if 1) NIR originates from a completed Sourcing Work Order or 2) NIR is Direct (and not Corrugated, Folding Carton, or Packaging Equipment)</description>
        <name>frm_SourcingAutoApproved</name>
        <dataType>Boolean</dataType>
        <expression>IF(
TEXT({!Get_Sourcing_Work_Order.Status}) = &quot;Completed&quot; || {!frm_DirectNotException}
, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>frm_SourcingComments</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Sourcing_Work_Order.Status}) = &quot;Completed&quot;, &quot;Auto-approved as NIR was submitted from completed Sourcing work order&quot;, IF({!frm_DirectNotException}, &quot;Auto-approved as Direct NIR do not require Sourcing approval&quot;,null))</expression>
    </formulas>
    <formulas>
        <description>If originated from a Sourcing WO, Sourcing Status is automatically Approved</description>
        <name>frm_SourcingStatus</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!Get_Sourcing_Work_Order.Status}) = &quot;Completed&quot; || {!frm_DirectNotException}
, &quot;Approved&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>frm_SourcingWorkOrderOwnerName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Sourcing_Work_Order.Owner:User.Name}),{!Get_Sourcing_Work_Order.Owner:Group.Name},{!Get_Sourcing_Work_Order.Owner:User.Name})</expression>
    </formulas>
    <formulas>
        <description>Show fields related to Stocking items</description>
        <name>frm_stockingFieldsVisible</name>
        <dataType>Boolean</dataType>
        <expression>{!cmp_Item_Delivery_Type} != &quot;Direct&quot; &amp;&amp; {!cmp_Item_Delivery_Type} != &quot;Indirect&quot;</expression>
    </formulas>
    <formulas>
        <name>frm_WorkOrderUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!var_NIRWorkOrderId}</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Work Order [SF]: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order - [SF] NIR</label>
    <loops>
        <description>Loop through ContentDocumentIds and relate them to newly-created Work Order</description>
        <name>Loop_ContentDocumentIds</name>
        <label>Loop ContentDocumentIds</label>
        <locationX>578</locationX>
        <locationY>3254</locationY>
        <collectionReference>cmp_ImprovedFiles.contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ContentDocumentLink_to_Collection_for_WO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Division_Names</name>
        <label>Loop Division Names</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Selected_Divisions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Division_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_comma_delimited_list_of_Division_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLinks</name>
        <label>Create ContentDocumentLinks</label>
        <locationX>578</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Get_New_Work_Order</targetReference>
        </connector>
        <inputReference>var_ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NIR_WO_Share_for_PSR</name>
        <label>Create NIR WO Share for PSR</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>dec_Has_Attachments</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>var_PSR.SF_userid__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_NIR_WO_Share_for_Submitter</name>
        <label>Create NIR WO Share for Submitter</label>
        <locationX>710</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>PSR_Different_from_Submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Work Order [NIR - New Item Request]</description>
        <name>Create_NIR_Work_Order</name>
        <label>Create NIR Work Order</label>
        <locationX>710</locationX>
        <locationY>2522</locationY>
        <assignRecordIdToReference>var_NIRWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_NIR_Work_Order_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>cmp_Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Product_Type__c</field>
            <value>
                <elementReference>cmp_Item_Delivery_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frm_ItemDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Product__c</field>
            <value>
                <elementReference>cmp_Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NIR_Divisions__c</field>
            <value>
                <elementReference>cmp_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_del__c</field>
            <value>
                <elementReference>var_opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_PIM_SINGLE_NIR_TEAM_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sales_Rep_2__c</field>
            <value>
                <elementReference>var_psrId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category_1__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category_2__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_NIR_WO_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicing_Divisions__c</field>
            <value>
                <elementReference>var_DivisionNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Auto_Approved__c</field>
            <value>
                <elementReference>frm_SourcingAutoApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Comments__c</field>
            <value>
                <elementReference>frm_SourcingComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Status__c</field>
            <value>
                <elementReference>frm_SourcingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Work_Order__c</field>
            <value>
                <elementReference>var_sourcingWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter_Comments__c</field>
            <value>
                <elementReference>cmp_Submitter_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter_Email_Address__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Maintenance__c</field>
            <value>
                <stringValue>Single Item New Item Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Request__c</field>
            <value>
                <stringValue>Single Item Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WO_Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <description>Create Work Order Line Item [NIR - Work Order Line Items]</description>
        <name>Create_NIR_Work_Order_Line_Item</name>
        <label>Create NIR Work Order Line Item</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <assignRecordIdToReference>var_NIRWorkOrderLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_NIR_WO_Share_for_Submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>CDI_Agreement__c</field>
            <value>
                <elementReference>cmp_CDI_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>cmp_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_UOM__c</field>
            <value>
                <elementReference>cmp_Cost_UOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>cmp_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Consignment_Delivery_Channel__c</field>
            <value>
                <elementReference>cmp_Customer_Consignment_Delivery_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Needed_Delivery_Date__c</field>
            <value>
                <elementReference>cmp_Needed_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Product_Type__c</field>
            <value>
                <elementReference>cmp_Item_Delivery_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frm_ItemDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Product__c</field>
            <value>
                <elementReference>cmp_Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Order_Qty_UOM__c</field>
            <value>
                <elementReference>cmp_Quantity_UOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Order_Qty__c</field>
            <value>
                <elementReference>cmp_Initial_Order_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material__c</field>
            <value>
                <elementReference>cmp_Material</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Frequency__c</field>
            <value>
                <elementReference>cmp_Delivery_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIM_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>cmp_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarySalesRep_Email__c</field>
            <value>
                <elementReference>var_PSR.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category_1__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category_2__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>cmp_Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Monthly_Usage_Qty__c</field>
            <value>
                <elementReference>cmp_Projected_Monthly_Usage_Qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_NIR_WOLI_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>cmp_SegmentProdCategory.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicing_Division_Ids__c</field>
            <value>
                <elementReference>cmp_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicing_Division__c</field>
            <value>
                <elementReference>var_DivisionNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>cmp_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter_Line_Comments__c</field>
            <value>
                <elementReference>cmp_Submitter_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price_UOM__c</field>
            <value>
                <elementReference>cmp_Price_UOM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Name__c</field>
            <value>
                <elementReference>cmp_Vendor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Rep_Email__c</field>
            <value>
                <elementReference>cmp_Vendor_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Rep_Name__c</field>
            <value>
                <elementReference>cmp_Vendor_Rep_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Rep_Phone__c</field>
            <value>
                <elementReference>cmp_Vendor_Rep_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>cmp_Vendor2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_PSR</name>
        <label>Get Account PSR</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Primary_Sales_Rep_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Primary_Sales_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Item</name>
        <label>Get Existing Item</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_NIR_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cmp_Product.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Work_Order</name>
        <label>Get New Work Order</label>
        <locationX>578</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_NIR_Request_Created_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NIRWorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get WO Record Type Id for NIR - New Item Request</description>
        <name>Get_NIR_WO_Record_Type</name>
        <label>Get NIR WO Record Type</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NIR_WOLI_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIR_New_Item_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get WOLI Record Type Id for NIR - Work Order Line Items</description>
        <name>Get_NIR_WOLI_Record_Type</name>
        <label>Get NIR WOLI Record Type</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PIM_SINGLE_NIR_TEAM_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIR_Work_Order_Line_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Account</name>
        <label>Get Opportunity Account</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_PSR</name>
        <label>Get Opportunity PSR</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Primary_Sales_Rep_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Primary_Sales_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Group Id for the PIM_SINGLE_NIR_TEAM Queue for Work Orders</description>
        <name>Get_PIM_SINGLE_NIR_TEAM_Group</name>
        <label>Get PIM - SINGLE NIR TEAM Group</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Division_Multi_Select_Picklist_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PIM_SINGLE_NIR_TEAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PSR</name>
        <label>Get PSR</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Primary_Sales_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Divisions from multi-select picklist</description>
        <name>Get_Selected_Divisions</name>
        <label>Get Selected Divisions</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Division_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Convert_Division_Multi_Select_Picklist_to_Collection.stringCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Servicing_Division__c</object>
        <sortField>Division_Name_Formula__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sourcing_Account</name>
        <label>Get Sourcing Account</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sourcing_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sourcing_Work_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sourcing_Opportunity</name>
        <label>Get Sourcing Opportunity</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sourcing_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sourcing_Work_Order.Opportunity_del__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sourcing_PSR</name>
        <label>Get Sourcing PSR</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_Sourcing_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sourcing_Work_Order.Primary_Sales_Rep_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Primary_Sales_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sourcing_Work_Order</name>
        <label>Get Sourcing Work Order</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_of_Sourcing_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Incomplete_Sourcing_Work_Order</name>
        <label>Incomplete Sourcing Work Order</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cmp_IncompleteSourcingWOMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;** Incomplete Sourcing Work Order **&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Only completed Sourcing Work Orders can be used to submit a Single New Item Request. Please wait until the Sourcing Work Order is complete and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Order #: &lt;strong&gt;{!Get_Sourcing_Work_Order.WorkOrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Status: &lt;strong&gt;{!Get_Sourcing_Work_Order.Status}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Owner: &lt;strong&gt;{!frm_SourcingWorkOrderOwnerName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Item_Request</name>
        <label>New Item Request</label>
        <locationX>710</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_NIR_WO_Record_Type</targetReference>
        </connector>
        <fields>
            <name>What_is_the_item</name>
            <fieldText>What is the item?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>What_is_the_item_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_WhatIsTheItem</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NIRwhatistheitem</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>What_is_the_item_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Existing_Item</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is this for an existing item?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cmp_Product</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Existing_Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrderLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Item_Description</name>
                    <fieldText>Item Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_SegmentProdCategory</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>WorkOrderLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Segment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Product Category 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Segment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Product_Category_1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Product Category 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Product_Category_2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>What_is_the_item_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Product_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Product Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Product Type must be 255 characters or less.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Product_Type})&lt;=255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Material</name>
                    <dataType>String</dataType>
                    <fieldText>Material</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Material must be 255 characters or less.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Material})&lt;=255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Color</name>
                    <dataType>String</dataType>
                    <fieldText>Color</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Color field must be 15 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Color})&lt;=15</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Size</name>
                    <dataType>String</dataType>
                    <fieldText>Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Size field must be 20 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Size})&lt;=20</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Existing_Item</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Where_is_it_coming_from</name>
            <fieldText>Where is it coming from?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Where_is_it_coming_from_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_WhereIsItComingFrom</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NIRwhereisitcomingfrom</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Where_is_it_coming_from_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Vendor2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Vendor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrderLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_New_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_New_Vendor</name>
                    <dataType>Boolean</dataType>
                    <fieldText>New Vendor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cmp_Vendor_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Vendor Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vendor Name must be less than 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Vendor_Name})&lt;=255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_New_Vendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Vendor_Rep_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Vendor Rep Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vendor Rep Name must be 50 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Vendor_Rep_Name})&lt;=50</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>cmp_Vendor_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor Rep Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>cmp_Vendor_Rep_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor Rep Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Where_is_it_coming_from_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>cmp_Cost_UOM</name>
                    <choiceReferences>CostUOM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cost UOM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Who_is_the_item_for</name>
            <fieldText>Who is the item for?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Who_is_the_item_for_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_WhoIsTheItemFor</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NIRwhoistheitemfor</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Who_is_the_item_for_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Customer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_accountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Who_is_the_item_for_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>cmp_Price_UOM</name>
                    <choiceReferences>PriceUOM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Price UOM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_does_it_get_to_them</name>
            <fieldText>How does it get to them?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>How_does_it_get_to_them_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_HowDoesItGetToThem</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NIRhowdoesitgettothem</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>How_does_it_get_to_them_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Item_Delivery_Type</name>
                    <choiceReferences>ItemDeliveryType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Item/Delivery Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cmp_Customer_Consignment_Delivery_Channel</name>
                    <choiceReferences>ConsignmentDeliveryChannel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Customer Consignment Delivery Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer Consignment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_CDI_Agreement</name>
                    <dataType>String</dataType>
                    <fieldText>Agreement #</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Agreement # must be 40 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_CDI_Agreement})&lt;=15</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer Dedicated Stock</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer Consignment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_CDIAgreementNotice</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please attach copy of CDI Agreement below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer Dedicated Stock</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_ConsignmentAgreementNotice</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please attach copy of Agreement below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer Consignment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>How_does_it_get_to_them_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Division</name>
                    <choiceReferences>ServicingDivisions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Division (Ctrl+Click to select Multiple)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>When_do_they_need_it</name>
            <fieldText>When do they need it?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>When_do_they_need_it_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_WhenDoTheyNeedIt</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NIRwhendotheyneedit</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>When_do_they_need_it_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Needed_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Needed Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>When_do_they_need_it_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_Initial_Order_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Initial Order Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Direct</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Quantity_UOM</name>
                    <choiceReferences>QuantityUOM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Quantity UOM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Direct</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Delivery_Frequency</name>
                    <choiceReferences>DeliveryFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delivery Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Direct</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>cmp_Projected_Monthly_Usage_Qty</name>
                    <dataType>Number</dataType>
                    <fieldText>Projected Monthly Usage Qty</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>cmp_Item_Delivery_Type</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Direct</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments_Files</name>
            <fieldText>Comments &amp; Files</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Comments_Files_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Comments_Files_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_SustainabilityNote</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If the item contains any elements of sustainability, please include them in comments below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_Submitter_Comments</name>
                    <fieldText>Submitter Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Submitter Comments must be less than 2000 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!cmp_Submitter_Comments})&lt;=2000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Comments_Files_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_AttachmentWarning</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;** If a quote is not attached below, it may delay your NIR. **&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cmp_ImprovedFiles</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiple</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attach any relevant files (Quotes, Drawings, etc.)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderFilesBelow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <elementReference>frm_FlowInterviewGuid</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NIR_Submitted</name>
        <label>NIR Submitted</label>
        <locationX>710</locationX>
        <locationY>3962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cmp_ConfirmationText</name>
            <fieldText>&lt;p&gt;Your Single New Item Request #&lt;a href=&quot;{!frm_WorkOrderUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!var_WorkOrderNumber}&lt;/a&gt; has been created. Click &apos;Finish&apos; to close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firstDivision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>When Flow is launched from a button on a record page, contains Id of that record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Used to store recordId if Flow launched from an Account</description>
        <name>var_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>var_ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>List of Division Names (separated by line break)</description>
        <name>var_DivisionNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of newly-created NIR Work Order</description>
        <name>var_NIRWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NIRWorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Used to store recordId if Flow launched from an Opportunity</description>
        <name>var_opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PSR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Primary_Sales_Rep__c</objectType>
    </variables>
    <variables>
        <name>var_psrEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_psrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store recordId if Flow launched from Sourcing Work Order</description>
        <name>var_sourcingWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
