force-app/main/default/flows/Work_Order_RT_NIR_WO_Status_set_to_In_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>When Status is set to In Progress on an NIR WO, update the PIM Start Date (DateTime) field, to start the timer for 24 hour Sourcing auto approval. Also update PIM Status on NIR WOLI to Assigned</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Work Order - [RT] NIR WO Status set to In Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order - [RT] NIR WO Status set to In Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NIR_WOLI_Record_Type</name>
        <label>Get NIR WOLI Record Type</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_NIR_WOLI_PIM_Status_to_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIR_Work_Order_Line_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd_Update_PIM_Start_Date</name>
        <label>Update PIM Start Date</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Get_NIR_WOLI_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PIM_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PIM_Start_Date__c</field>
            <value>
                <elementReference>frm_Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NIR_WOLI_PIM_Status_to_Assigned</name>
        <label>Update NIR WOLI PIM Status to Assigned</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NIR_WOLI_Record_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PIM_Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Sourcing Status, Sourcing Comments to show as auto-approved after 24 hours</description>
        <name>Update_Sourcing_Fields</name>
        <label>Update Sourcing Fields</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sourcing_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sourcing_Auto_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sourcing_Auto_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Comments__c</field>
            <value>
                <stringValue>Sourcing auto-approval after 24 hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>upd_Update_PIM_Start_Date</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.RecordType.Name} = &quot;NIR - New Item Request&quot; &amp;&amp;
TEXT({!$Record.Status}) = &quot;In Progress&quot;</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Auto_Approve_for_Sourcing_in_24_Hours</name>
            <connector>
                <targetReference>Update_Sourcing_Fields</targetReference>
            </connector>
            <label>Auto Approve for Sourcing in 24 Hours</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PIM_Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
