force-app/main/default/flows/Work_Order_RT_Sourcing_Status_field_is_populated_on_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Notification to Submitter/PSR/PIM</description>
        <name>Send_Notification_Rejected_by_Sourcing</name>
        <label>Send Notification - Rejected by Sourcing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>WorkOrder.NIR_WO_Rejected_by_Sourcing</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.NIR_WO_Rejected_by_Sourcing</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>NIR_WOLI_Status</name>
        <label>NIR WOLI Status</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_NIR_WOLI_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NIR_WOLI.PIM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NIR_WOLI_Complete_and_Sourcing_Approved</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sourcing_Status</name>
        <label>Sourcing Status</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ocm_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sourcing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_Rejected_by_Sourcing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>ocm_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sourcing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NIR_WOLI_Record_Type</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sourcing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <label>Hold</label>
        </rules>
    </decisions>
    <description>When Sourcing Status field becomes populated (previously null), stamp the person who updated it into Sourcing Contact field</description>
    <environments>Default</environments>
    <interviewLabel>Work Order - [RT] Sourcing Status field is populated on WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order - [RT] Sourcing Status field is populated on WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NIR_WOLI</name>
        <label>Get NIR WOLI</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NIR_WOLI_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NIR_WOLI_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NIR_WOLI_Record_Type</name>
        <label>Get NIR WOLI Record Type</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NIR_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIR_Work_Order_Line_Items</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sourcing_Owner</name>
        <label>Update Sourcing Owner</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Sourcing_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sourcing_Auto_Approved__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sourcing_Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Sourcing_Owner</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Sourcing_Status__c})</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>NIR_WOLI_Complete_and_Sourcing_Approved</name>
        <label>NIR WOLI Complete and Sourcing Approved</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <flowName>WOLI_NIR_Complete_and_Sourcing_Approved</flowName>
        <inputAssignments>
            <name>workOrderLineItemId</name>
            <value>
                <elementReference>Get_NIR_WOLI.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
