force-app/main/default/flows/Work_Order_RT_Sourcing_Email_Text_Update_for_WOLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asn_Add_to_Record_Count</name>
        <label>Add to Record Count</label>
        <locationX>918</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_WOLI_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables</description>
        <name>asn_WOLI1_Vars</name>
        <label>WOLI 1 Variables</label>
        <locationX>766</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>var_woli1_OrderFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Order_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_ProductCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Sourcing_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_ProductComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_ProductNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_Qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Quantity_NoProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli1_SubmitterLineComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Submitter_Line_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Next_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables</description>
        <name>asn_WOLI2_Vars</name>
        <label>WOLI 2 Variables</label>
        <locationX>862</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>var_woli2_OrderFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Order_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_ProductCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Sourcing_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_ProductComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_ProductNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_Qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Quantity_NoProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli2_SubmitterLineComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Submitter_Line_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Next_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables</description>
        <name>asn_WOLI3_Vars</name>
        <label>WOLI 3 Variables</label>
        <locationX>973</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>var_woli3_OrderFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Order_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_ProductCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Sourcing_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_ProductComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_ProductNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_Qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Quantity_NoProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli3_SubmitterLineComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Submitter_Line_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Next_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables</description>
        <name>asn_WOLI4_Vars</name>
        <label>WOLI 4 Variables</label>
        <locationX>1071</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>var_woli4_OrderFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Order_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_ProductCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Sourcing_Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_ProductComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_ProductNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Product_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_Qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Quantity_NoProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_woli4_SubmitterLineComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_WOLIs.Submitter_Line_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Next_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_Next_Action</name>
        <label>Next Action</label>
        <locationX>1303</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>dec_WOLI_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End Loop</defaultConnectorLabel>
        <rules>
            <name>ocm_Continue_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_WOLIs</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Work Order Line Item record is for a Sourcing Work Order. If Yes, continue the Flow, if No, terminate the Flow.</description>
        <name>dec_Sourcing_Work_Order</name>
        <label>Work Order Line Item is Sourcing RT</label>
        <locationX>681</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ocm_Sourcing_Work_Order_Line_Item_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sourcing_Work_Order_Line_Items</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_WOLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the WOLI Number</description>
        <name>dec_WOLI_Number</name>
        <label>WOLI Number</label>
        <locationX>911</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>ocm_count_WOLI1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_WOLI1_Vars</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>ocm_count_WOLI2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_WOLI2_Vars</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>ocm_count_WOLI3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_WOLI3_Vars</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>ocm_count_WOLI4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_WOLI4_Vars</targetReference>
            </connector>
            <label>4</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which text template to use based on the WOLI record count</description>
        <name>dec_WOLI_Template</name>
        <label>WOLI Template</label>
        <locationX>1303</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>udt_EmailTemplateText_4WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>4</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_EmailTemplateText_1WOLI</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_EmailTemplateText_2WOLI</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>udt_EmailTemplateText_3WOLI</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <description>Updates the Email_Template_Text__c field on the parent Work Order record when specific changes are made to the Work Order Line Item record. The text field will be used to populate an email template that is sent to internal users.</description>
    <environments>Default</environments>
    <interviewLabel>Work Order [RT] Sourcing Email Text Update for WOLIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order [RT] Sourcing Email Text Update for WOLIs</label>
    <loops>
        <name>loop_WOLIs</name>
        <label>WOLI Loop</label>
        <locationX>919</locationX>
        <locationY>228</locationY>
        <collectionReference>get_WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_Add_to_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_WOLI_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Work Order Line Item records associated with the parent Work Order</description>
        <name>get_WOLIs</name>
        <label>WOLIs</label>
        <locationX>818</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Email_Template_Text__c field on the parent Work Order record</description>
        <name>udt_EmailTemplateText_1WOLI</name>
        <label>WO Email Template Text Field</label>
        <locationX>1555</locationX>
        <locationY>20</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Template_Text__c</field>
            <value>
                <elementReference>tmp_EmailBody_1WOLI</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Email_Template_Text__c field on the parent Work Order record</description>
        <name>udt_EmailTemplateText_2WOLI</name>
        <label>WO Email Template Text Field</label>
        <locationX>1556</locationX>
        <locationY>150</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Template_Text__c</field>
            <value>
                <elementReference>tmp_EmailBody_2WOLIs</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Email_Template_Text__c field on the parent Work Order record</description>
        <name>udt_EmailTemplateText_3WOLI</name>
        <label>WO Email Template Text Field</label>
        <locationX>1555</locationX>
        <locationY>295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Template_Text__c</field>
            <value>
                <elementReference>tmp_EmailBody_3WOLIs</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Email_Template_Text__c field on the parent Work Order record</description>
        <name>udt_EmailTemplateText_4WOLI</name>
        <label>WO Email Template Text Field</label>
        <locationX>1555</locationX>
        <locationY>429</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Template_Text__c</field>
            <value>
                <elementReference>tmp_EmailBody_4WOLIs</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>dec_Sourcing_Work_Order</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Sourcing_Work_Order_Line_Items&apos;</filterFormula>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Text body to insert into the email template</description>
        <name>tmp_EmailBody_1WOLI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Field Sourcing Response&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Work Order Line Item:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli1_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Number: &lt;strong&gt;{!var_woli1_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli1_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Unit of Measure: &lt;strong&gt;{!var_woli1_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli1_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Comments: &lt;strong&gt;{!var_woli1_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli1_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Text body to insert into the email template</description>
        <name>tmp_EmailBody_2WOLIs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Field Sourcing Response&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Work Order Line Item 1:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli1_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Number: &lt;strong&gt;{!var_woli1_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli1_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Unit of Measure: &lt;strong&gt;{!var_woli1_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli1_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Comments: &lt;strong&gt;{!var_woli1_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_woli1_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 2:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli2_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong&gt;{!var_woli2_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli2_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_woli2_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Text body to insert into the email template</description>
        <name>tmp_EmailBody_3WOLIs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Field Sourcing Response&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Work Order Line Item 1:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli1_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Number: &lt;strong&gt;{!var_woli1_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli1_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Unit of Measure: &lt;strong&gt;{!var_woli1_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli1_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Comments: &lt;strong&gt;{!var_woli1_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_woli1_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 2:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli2_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong&gt;{!var_woli2_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli2_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments:&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!var_woli2_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 3:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli3_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong&gt;{!var_woli3_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli3_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_woli3_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Text body to insert into the email template</description>
        <name>tmp_EmailBody_4WOLIs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Field Sourcing Response&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Work Order Line Item 1:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli1_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Number: &lt;strong&gt;{!var_woli1_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli1_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Unit of Measure: &lt;strong&gt;{!var_woli1_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli1_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Product Comments: &lt;strong&gt;{!var_woli1_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_woli1_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 2:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli2_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong&gt;{!var_woli2_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli2_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong&gt;{!var_woli2_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli2_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 3:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong&gt;{!var_woli3_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong&gt;{!var_woli3_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong&gt;{!var_woli3_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong&gt;{!var_woli3_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli3_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Order Line Item 4:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Category: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Number: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_ProductNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Qty: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_Qty}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unit of Measure: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_UnitOfMeasure}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Order Frequency: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_OrderFrequency}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Product Comments: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_ProductComments}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submitter Line Comments: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!var_woli4_SubmitterLineComments}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_CurrentRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_woli1_OrderFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_ProductComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_ProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_Qty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_SubmitterLineComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli1_UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_OrderFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_ProductComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_ProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_Qty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_SubmitterLineComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli2_UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_OrderFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_ProductComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_ProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_Qty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_SubmitterLineComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli3_UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_OrderFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_ProductComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_ProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_Qty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_SubmitterLineComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_woli4_UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
